// Place all the styles related to the admin/categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.altercss {
  color: #fff !important;
  background: #05BA97;
}

.imagecss {
  width: 23%;
  margin: 1%;
  float: left;
  height: 200px;
  cursor: pointer;
}

.imgtext {
background: #000;
opacity: 0.5;
font-size: 25px;
color: #fff;
position: absolute;
margin-top: -51px;
border-radius: 8px;
width: 100%;
padding: 8px 0px 8px 0px;
z-index: 999999;
/* margin-left: -301px; */
text-align: center;
}




#categories {
  border: 2px solid #05BA97;
  width: 257px;
  margin: 0 auto;
  height: 50px;
  margin-top: 10px;
  border-radius: 5px;
  clear: both;
}

#main_course {
float: left;
border-right: 2px solid #05BA97;
width: 122px;
text-align: center;
padding: 11px;
cursor: pointer;
/* margin-top: 0px; */
font-size: 17px;
color: #05BA97;
height: 46px;

}

#drinks {
  float: left;
  /* width: 128px; */
  text-align: center;
  padding: 11px;
  /* margin-top: 0px; */
  font-size: 17px;
  color: #05BA97;
  cursor: pointer;
  /* height: 47px; */
  padding: 11px 0px 0px 10px;
}

#allcategories {
  margin: 0 auto;
  width: 78%;
  margin-top: 20px;
  min-height: 400px;
}

.settingcategory {
 position: absolute;
top: 0px;
right: 0px;
width: 100%;
height: 100%;
padding: 2%;
text-align: center;
color: rgb(255, 255, 255) !important;
z-index: 2;
background: #000;
opacity: 0.5;
border-radius: 9px;
/*left: 15px;*/
cursor: pointer;
}

.settingcategoryspan {
  font-size: 30px;
  color: #fff;
  position: absolute;
  text-align: center;
  margin-top: 75px;
  width:100%;
  clear:both;
  margin-left: -140px !important;
}

.edit {
float: left;
width: 55px;
cursor: pointer;
}

.delete {
  margin-top: 75px;
  float: left;
  margin-left: -18px;
  width: 100px;
  cursor: pointer;
}

.optionspan {
  font-size: 18px;
  color: #fff;
  position: absolute;
  float: left;
  margin-left: 12px;
  font-weight: lighter;
}
hr{
  border-top:1px solid #CB9326
}

.input-block-level {
  width: 170px !important;
  height: 32px !important;
  float: left;
  margin-bottom: 16px !important;
  border-radius: 0px;
}
span#browse_file{
  height: 25px;
  width: 80px;
  border: 1px solid #686868;
  background: #686868;
  border-left: none;
  cursor: pointer;
  padding-top: 5px;
  float: left;
  color: #fff;
  text-align: center;
  font-size: 18px;
}

input#hidden_browse_file{
  float: right;
  margin-top: -48px;
  width: 80px;
  margin-right: 6px;
  opacity: 0;
}

/* category detail page */
#additemtocatgory{
  height: 60px;
  width: 95%;
  margin: 0 auto;
  margin-top:28px;
}
#allfooditems{
  margin: 0 auto;
  margin-top:18px;
  width: 78%;
  min-height:550px;
}
.details{
  height: 300px;
  /*margin-left: 170px;*/
  width: 49%;
  border-radius: 12px;
  float:left;
  margin-right:10px;
  margin-bottom:15px;
}
.detailsheader{
  height: 58px;
  border-top: 8px solid #CB9326;
  background-color: #EFEEF3;
  border-top-left-radius: 12px;
  border-bottom: 1px solid #CB9326;
  border-top-right-radius: 12px;
}
.fooditemname{
  float: left;
  font-size: 20px;
  margin-left: 0px;
  margin-top: 0px;
  width: 240px;
  font-weight: lighter;
}
.settingoptions{
float: right;
/* margin-left: 140px; */
margin-top: 20px;
margin-right: 10px;
}
.editfooditem{
  float: left;
  width: 80px;
  border-right: 3px solid #ccc;
  font-size: 20px;
  cursor:pointer;
}
.optionspan{
  float:left;
  margin-left: 8px;
}
.deletefooditem
{
  float: left;
  width: 100px;
  font-size: 20px;
  border-right: 3px solid #ccc;
  margin-left: 15px;
  cursor:pointer;
}
.zoom{
  float: left;
  font-size: 20px;
  margin-left: 15px;
}
.detailsbody{
  height: 230px;;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.itemimg{
 float: left;
margin-top: 10px;
height: 200px;
width: 150px;
margin-left: 10px;
position: absolute;
z-index: 999999;
margin-top: -205px;

}
.itemdata{
  loat: left;
margin-top: 10px;
height: 200px;
width: 25%;
margin-left: 175px;
position: absolute;
z-index: 999999;
margin-top: -203px;
word-wrap: break-word;
}


@media (max-width:1480px) {

    .edit {
     margin-left: 10px;
    }
}