/* admin manage option */
#manageoption_header{
  height: 99px;
  width: 95%;
  margin: 0 auto;
  border-top: 8px solid #CB9326;
  background-color: #EFEEF3;
}
#logoimg{
  float:left;width: 20%;
}
#header{
  float: left;
  font-size: 23px;
  font-weight: normal;
  margin-top: 25px;
  width: 56%;
  text-align: center;
}
#settingopt{
  float:right;width: 20%;
}

#maincontent{
 height: 220px;
  width: 900px;
  margin: 0 auto;
  margin-top: 70px;
  background-color: #FBDFAD;
  opacity:1.5;
  font-size:18px;
  color:#000;
}
  .dropdown-menu > li > a:hover,
          .dropdown-menu > li > a:focus,
          .dropdown-submenu:hover > a,
          .dropdown-submenu:focus > a {
              color: #fff;
              text-decoration: none;
              background-color: #1DCD9E;
              background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
              background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1DCD9E), to(#1DCD9E));
              background-image: -webkit-linear-gradient(top, #1DCD9E, #1DCD9E);
              background-image: -o-linear-gradient(top, #1DCD9E, #1DCD9E);
              background-image: linear-gradient(to bottom, #1DCD9E, #1DCD9E);
              background-repeat: repeat-x;
              filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1DCD9E', endColorstr='#1DCD9E', GradientType=0);
          }

