#fade {
  display: none;
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: .60;
  z-index: 9999;
  box-shadow:none;
}

#fade2 {
  display: none;
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: .60;
  z-index: 9999;
  box-shadow:none;
}


.popup_block{
  display: none;
  -webkit-box-sizing: border-box;
  background: #fff;
  padding: 20px;
  text-align:center;
  float: left;
  font-family:b;
  font-size: 1.2em;
  position: fixed;
  top: 50%; left: 50%;
  width:100%;
  z-index: 9999999;
  -webkit-box-shadow: 0px 0px 20px #000;
  -moz-box-shadow: 0px 0px 20px #000;
  box-shadow: 0px 0px 20px #000;
  padding-bottom: 30px;

}
img.btn_close {
  float: right;
  margin: -8px 0px 0 0;
  box-shadow:none;
}
#fade {
  /*position: absolute;*/
}
 #fade9 {
  position: absolute;
}
.popup_block {
  position: absolute;
}

.block-login{
  margin:70px auto;
}

hr
{
  border-top: 1px solid #cb9326;
}

h4{
  font-weight:normal;
}