// Place all the styles related to the admin/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.form-signin {
  background: url(../../assets/adminimg/login_box.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  max-width: 390px;
  padding: 19px 29px 29px;
  margin: 130px auto 20px;

}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin-heading {
  margin-left: 40px;
  margin-top: -5px;
}
.input-block-level {
  width: 273px !important;
  height: 55px !important;
  margin-left: 30px !important;
  margin-bottom: 16px !important;
}

.btn1 {
  width: 114px;
  height: 38px;
  border-radius: 8px;
  color: #fff;
  font-size: 18px;
  background: url(../../assets/adminimg/button_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  outline: none;
  margin-left: -31px;
}

#admin_email {
  background: url(../../assets/adminimg/login_username_box.png);
}

#admin_password {
  background: url(../../assets/adminimg/login_password_box.png);
}

#admin_remember_me {
  width: 15px;
  margin-left: 30px;
  margin-top: -2px;
}

#opt1,#opt2,#opt3{
  padding:38px;
}
#text_opt1,#text_opt3{
  width: 65%; float: left;
}
#radio_opt1{
  float: left;
}

#opt3{
  margin-top:-30px;
}
