// Place all the styles related to the admin/templates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#maincontent{
  height: 185px;
  width: 900px;
  margin: 0 auto;
  margin-top: 70px;
  background-color: #FBDFAD;
  opacity:1.5;
  font-size:18px;color:#000;
}

#note{
  text-align: center;
  margin-top: 35px;
  font-size: 18px;
  font-weight: normal;
  font-family: Arial;
}
