<h3>Get list of restaurants </h3>
<%= form_tag(controller: "allrestaurants", action: "getrestaurantlist") do %>
    <%= label_tag(:useraccesstoken, "useraccesstoken") %>
    <%= text_field_tag(:useraccesstoken) %><br>
    <%= label_tag(:latitude, "latitude") %>
    <%= text_field_tag(:latitude) %><br>
    <%= label_tag(:longitude, "longitude") %>
    <%= text_field_tag(:longitude) %><br>
    <%= submit_tag("submit")%>
<% end %>


<h3> Get restaurant details</h3>
<%= form_tag(controller: "allrestaurants", action: "getrestaurantdetail") do %>
    <%= label_tag(:useraccesstoken, "useraccesstoken") %>
    <%= text_field_tag(:useraccesstoken) %><br>
    <%= label_tag(:restaurant_id, "restaurant_id") %>
    <%= text_field_tag(:restaurant_id) %><br>
    <%= submit_tag("submit")%>
<% end %>


<h3>send Qr code</h3>
<%= form_tag(controller: "allrestaurants", action: "getqrcode") do %>
    <%= label_tag(:useraccesstoken, "useraccesstoken") %>
    <%= text_field_tag(:useraccesstoken) %><br>
    <%= label_tag(:qrcode, "qrcode") %>
    <%= text_field_tag(:qrcode) %><br>
    <%= label_tag(:orderid, "orderid") %>
    <%= text_field_tag(:orderid) %><br>
    <%= submit_tag("submit")%>
<% end %>

<h3>Get restaurant details from gimbal</h3>
<%= form_tag(controller: "allrestaurants", action: "getrestaurantdetailfromgimbal") do %>
    <%= label_tag(:useraccesstoken, "useraccesstoken") %>
    <%= text_field_tag(:useraccesstoken) %><br>
    <%= label_tag(:gimbalid, "gimbalid") %>
    <%= text_field_tag(:gimbalid) %><br>
    <%= submit_tag("submit")%>
<% end %>

<h3> Happy Hour check</h3>
<%= form_tag(controller: "allrestaurants", action: "sendnotifications") do %>
    <%= label_tag(:useraccesstoken, "useraccesstoken") %>
    <%= text_field_tag(:useraccesstoken) %><br>
    <%= label_tag(:restaurant_id, "restaurant_id") %>
    <%= text_field_tag(:restaurant_id) %><br>
    <%= label_tag(:timezone, "timezone") %>
    <%= text_field_tag(:timezone) %><br>
    <%= submit_tag("submit")%>
<% end %>
