<% if admin_signed_in? then %>
<!DOCTYPE HTML>
    <html>
    <head>
      <title>Restaurant Waiter app</title>
      <link data-turbolinks-track="true" href="/assets/application.css?body=1" media="all" rel="stylesheet"/>
      <link data-turbolinks-track="true" href="/assets/admin/categories.css?body=1" media="all" rel="stylesheet"/>
      <link data-turbolinks-track="true" href="/assets/bootstrap_and_overrides.css?body=1" media="all" rel="stylesheet"/>
      <link data-turbolinks-track="true" href="/assets/admin/bootstrap.min.css" media="all" rel="stylesheet"/>
      <link data-turbolinks-track="true" href="/assets/admin/custom.css?body=1" media="all" rel="stylesheet"/>
      <link data-turbolinks-track="true" href="/assets/admin/popup.css" media="all" rel="stylesheet"/>
      <link data-turbolinks-track="true" href="/assets/admin/bootstrap-fileupload.css" media="all" rel="stylesheet"/>
      <link data-turbolinks-track="true" href="/assets/admin/bootstrap-fileupload.min.css" media="all" rel="stylesheet"/>
      <link data-turbolinks-track="true" href="/assets/admin/pagination.css" media="all" rel="stylesheet"/>
      <link data-turbolinks-track="true" href="/assets/admin/navbar.css" media="all" rel="stylesheet"/>
      <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
      <%= csrf_meta_tag %>
      <style>
          .btn1 {
              width: 114px;
              height: 38px;
              border-radius: 8px;
              color: #fff;
              font-size: 18px;
              background: url(/assets/adminimg/button_bg.png);
              background-repeat: no-repeat;
              background-size: cover;
              outline: none;
          }

          #hidden_browse_file {
              float: right;
              margin-top: -34px !important;
              width: 103px !important;
              margin-right: 6px;
              opacity: 0;
          }

          #footer_content {
              clear: both;
          }

          #paginationdiv {
              clear: both;
              margin: 0 auto;
              width: 20%;

          }

          div.col-md-3.col-sm-4.col-xs-6 {
              margin-top: 18px;
          }

          img.img-responsive {
              border-radius: 9px;;
          }

          #editingoptions {
            /*  width: 195px;;
              height: 40px;
              margin: 0 auto;*/
              /* margin-top: 98px;*/
              width: 195px;
              height: 40px;
              margin: 0px auto;
              margin-left: 55px;
          }

          span#browse_file {
              height: 32px;
              width: 80px;
              border: 1px solid #686868;
              background: #686868;
              border-left: none;
              cursor: pointer;
              padding-top: 2px;
              float: left;
              color: #fff;
              text-align: center;
              font-size: 18px;
          }

          .fields {
              margin-bottom: 22px;;
          }

          .col-md-3 {
              width: 22%;
              margin: 1%;
          }

          #lastimage {
              padding-top: 42%;
              padding-bottom: 45%;
          }

          .delete{
              float: left;
              margin-left: -18px;
              width: 100px;
              cursor: pointer;
              margin-top: 0px;
          }
          .edit{
              float: left;
              width: 37px;
              cursor: pointer;
          }

          .closebtn{
              margin-top: -30px;
              margin-right: -5px;
              float: right;
          }

          @-moz-document url-prefix() {

              #popup_name1{
                  width:675px !important
              }

          }

          @media only screen
          and (max-width: 1350px) {
              #lastimage {
                  padding-top: 34%;
                  padding-bottom: 46%;
              }
              #editingoptions{
                  margin-left:25px;
              }
              h2{
                  margin-top:48px;
              }

          }

          @media only screen
          and (max-width: 1000px) {
              #lastimage {
                  padding-top: 31%;
                  padding-bottom: 46%;
              }

              h2 {
                  margin-top: 25px !important;
                  font-size: 14px !important;
              }

              .edit {
                  margin-left: 0px !important;
              }

              form {
                  margin-right: 67px !important;
                 /* margin-top: -76px !important;*/
              }

              span {
                  font-size: 14px !important;
              }

              .imgtext {
                  margin-top: -36px !important;
              }
              #addnewcategory{
                  margin-top: 20% !important;
              }

          }


          @media only screen
          and (max-width: 1020px) {
          .closebtn {
                  float: right;
                  margin-top: -30px !important;
                  margin-right: -18px !important;
              }
          }
          
           @media only screen
          and (max-width: 1000px) {
          .closebtn {
                  float: right;
                  margin-top: -45px !important;
                  margin-right: -46px !important;
              }
          }
          @-moz-document url-prefix() {
              .closebtn {
                  float: right;
                  margin-top: -32px;
                  margin-right: -7px;
              }
              @media only screen
          and (max-width: 1000px) {
          .closebtn {
                  float: right;
                  margin-top: -45px !important;
                  margin-right: -46px !important;
              }
          }

          }



      </style>
    </head>

    <!--Warning message for signout -->
    <div id="popup_name4" class="popup_block">
      <h4>Are you sure you want to Sign out?</h4>
      <a href="sign_out">
        <%= link_to "Yes", destroy_admin_session_path, method: :delete, :class => 'btn btn-small btn-danger', :style => "margin-top:12px;width:68px;" %>
        <!--<button type="button" class="btn btn-small btn-danger" style="margin-top:12px;width:68px;">Yes</button>-->
      </a>
      <a href="#" class="close2">
        <button type="button" class="btn btn-small" style="margin:12px 0px 0px 5px;width:68px;">No</button>
      </a>
    </div>

    <!--Warning message for delete of categroy -->
    <a href="#?w=500" rel="popup_name2" class="poplight1"><input type='hidden' id='showdrinkwarningmsg'/></a>

    <div id="popup_name2" class="popup_block">
      <h4>Are you sure you want to delete this category?</h4>
      <a href="#" onclick="submitdelform();">
        <button type="button" class="btn btn-small btn-danger" style="margin-top:12px;width:68px;">Yes</button>
      </a>
      <a href="#" class="close2">
        <button type="button" class="btn btn-small" style="margin:12px 0px 0px 5px;width:68px;">No</button>
      </a>
    </div>


    <!--Add drink categroy -->
    <div id="popup_name1" class="popup_block" style="border-radius:10px;width:630px !important">
      <h4 style="text-align:left;margin-top:0px;">Add New Drink Category</h4>
      <hr>
      <div class="alert-error" id="errormsg1" style="text-align: left; clear: both; padding: 8px; width: 75%; margin: 20px auto 7px; display: none;"></div>
      <div id="addnewcategory">
        <input type="hidden" name="count" value="1" id="count"/>
        <%= form_tag({controller: "categories", action: "adddrinkcategory"}, :method => "Post", multipart: true, :onsubmit => " return getValues();") do %>
            <div id="field1" class="fields">
              <input autofocus="autofocus" class="input-block-level category_name" id="category_name1" name="category_name[]" placeholder="Category Name" type="text">
              <input autofocus="autofocus" class="input-block-level image_name" id="image_name1" name="image_name[]" placeholder="Image" style="margin-left:10px;border-radius:0;" type="text" readonly>
              <span id="browse_file">Browse</span>
              <input accept="image/*" id="hidden_browse_file" type="file" name="avatar[]" class="1" style="margin-right:152px; margin-top: -30px !important; width: 88px !important;">
              <input name="includeinbar[]" type="checkbox" id="includeinbar" style="margin-top: 0px;" value="1"/>
              <label style="cursor:pointer;" for="includeinbar">Include in bar</label>
            </div>

            <!-- <%= submit_tag "Upload", :class => "btn btn-primary", :style => "margin-top: -33px;margin-left: 125px;float:left;width: 100px;height: 33px;" %>-->
            </div>
            <center>
              <img src="/assets/adminimg/loader.gif" style="float: left;margin-left: 195px; margin-top: 15px;display:none;" id="loader"/>
            </center>
            <div id="footer" style="width: 100%;float: left;">
              <%= submit_tag "Add New", :class => "btn1 add-more", :id => "add-more", :type => "button", :style => "margin-top:40px;width: 160px;" %><%= image_tag("/assets/adminimg/add_new_catagory_icon.png", :alt => "add", :style => "height:20px;width:20px;float: left;margin-top: 48px;position: absolute;z-index: 9999999;margin-left: -145px;") %>
              <%= submit_tag "Submit", :class => "btn1", :style => "margin-top:40px;width: 160px;" %>
        <% end %>
        </div>
        </div>


    <!--Edit drink categroy -->
    <a href="#?w=500" rel="popup_name3" class="poplight1"><input type='hidden' id='showupdatemsg'/></a>

    <div id="popup_name3" class="popup_block" style="border-radius:10px;">
      <h4 style="text-align:left;margin-top:0px;">Edit Category</h4>
      <hr>
      <div id="addnewcategory">
        <%= form_tag({controller: "categories", action: "updatedrinkcategory"}, :method => "Post", multipart: true, :onsubmit => " return getUpdatedValues();") do %>
            <input type='hidden' id='update_drinkcategory_id' name="update_drinkcategory_id"/></a>
            <div id="field1" class="fields">
              <input autofocus="autofocus" class="input-block-level category_name" id="update_drinkcategory_name" name="update_drinkcategory_name" placeholder="Drink Category Name" type="text">
            </div>
            <div class="fileupload fileupload-new" data-provides="fileupload">
              <div id="updatedrinkcategoryimage" class="fileupload-new thumbnail" style="width: 250px; height: 130px;"></div>
              <div class="fileupload-preview fileupload-exists thumbnail" style="line-height: 20px;"></div>
              <div>
                <span class="btn btn-file"><span class="fileupload-new">Select image</span><span class="fileupload-exists">Change</span><input accept="image/*" type="file" name="avatar" id="avatar"/></span>
                <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
              </div>
            </div>
            </div>
            <center>
              <img src="/assets/adminimg/loader.gif" style="float: left;margin-left: 195px; margin-top: 15px;display:none;" id="updateloader"/>
            </center>
            <div id="updatefooter" style="width: 100%;float: left;">
              <%= submit_tag "Update", :class => "btn1", :style => "margin-top:40px;width: 160px;" %>
              <a href="#" class="close2"><%= submit_tag "Cancel", :class => "btn1", :style => "margin-top:40px;width: 160px;" %></a>
        <% end %>
        </div>
        </div>
    </div>
    </div>


    <body background='../../../assets/adminimg/food_pattern.png' style='background-repeat: no-repeat;background-size: cover;margin: 0;padding: 0;min-height: 500px;'>
    <div id="container">
      <!--<div id='manageoption_header'>
        <div id='logoimg'>
          <a href='allcategories'><%= image_tag("/assets/adminimg/log.png", :alt => "logo", :style => 'margin: 12px 10px 0px 160px;') %></a>
        </div>
        <div id="header">Drinks
        </div>
        <div id="settingopt" style="float: left;">
          <a href="settings"> <%= image_tag("/assets/adminimg/setting_icon.png", :alt => "setting", :style => 'margin: 32px 10px 0px;float: left;') %></a>
          <%= image_tag("/assets/adminimg/user_icon.png", :alt => "setting", :style => 'margin: 30px 10px 0px;float: left;') %>
          <div id="username" style="float: left;margin-top: 30px;">Admin</div>
          <div class="dropdown" style="
          margin-top: 0px;
                  float: left;
          ">
            <button class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" style="background:none;border:none;">
              <%= image_tag("/assets/adminimg/down_arrow.png", :alt => "setting", :style => 'margin: 35px 10px 0px;float: left;') %>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="allcategories">Menu Items</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="adsubscription">App Advertisements</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="settings">Settings</a></li>
              <li role="presentation">
                <a href="#?w=500" rel="popup_name4" class="poplight1" role="menuitem" tabindex="-1">SignOut</a></li>
            </ul>
          </div>
        </div>
      </div>-->

      <div class="navbar" style="
      width: 80%;
              margin: 0 auto;
              border-top: 8px solid #CB9326;
      ">
        <div class="navbar-inner">
          <a class="brand" href="allcategories">
            <!-- UNCOMMENT THE CSS VALUES TO TEST OTHER DIMENTIONS -->
            <!-- <img src="http://placehold.it/150x80&text=Logo" alt=""> -->
            <%= image_tag("/assets/adminimg/log.png", :alt => "logo", :style => '') %>
          </a>

          <div id="header" style="width:56%;">Drinks</div>
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <div class="nav-collapse collapse" style="width: 35%;float: right;margin-right: -145px;display:block;" id="nav-collapse">
            <ul class="nav">
              <ul class="nav" style="float:right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img alt="setting" src="/assets/adminimg/down_arrow.png" style="">
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="allcategories">Menu Items</a></li>
                    <li><a href="adsubscription">App Advertisements</a></li>
                    <li><a href="settings">Settings</a></li>
                    <li><a href="template">Template</a></li>
                    <li><a href="<%= root_url+"Terms Of Service.pdf" %>" target="_blank">Terms of service</a></li>
                    <li><a href="#?w=500" rel="popup_name4" class="poplight1" role="menuitem" tabindex="-1">SignOut</a>
                    </li>
                  </ul>
                </li>
              </ul>
              <li style="float:right"><a href="#">Admin</a></li>
              <li style="float:right"><a href="#"><img alt="setting" src="/assets/adminimg/user_icon.png" style=""></a>
              </li>
              <li style="float:right">
                <a href="settings"> <img alt="setting" src="/assets/adminimg/setting_icon.png" style=""></a></li>
            </ul>
          </div>
        </div>
      </div>


      <div id="categories">
        <div id="main_course">Main Menu</div>
        <div id="drinks" class="altercss" style="height: 47px;width: 131px;">Drinks</div>
      </div>

      <div id="allcategories">
        <% if flash[:notice] %>
            <div class="alert alert-success" id="errordiv"><%= flash[:notice] %></div>
        <% end %>
        <% if flash[:error] %>
            <div class="alert-error" id='errordiv' style="text-align: left;  clear: both; padding: 10px 85px;"><%= flash[:error] %></div>
        <% end %>

        <% if flash[:updatedrinkcategorynotice] %>
            <div class="alert alert-success" id="errordiv"><%= flash[:updatedrinkcategorynotice] %></div>
        <% end %>
        <% if flash[:updatedrinkcategoryerror] %>
            <div class="alert-error" id='errordiv' style="text-align: left;  clear: both; padding: 10px 85px;"><%= flash[:updatedrinkcategoryerror] %></div>
        <% end %>
        <% i=0 %>
        <% @allcategories.each do |val| %>
            <!-- <div class="imagecss" id="img<%= i %>">
              <%= image_tag(val.image, :alt => "appetizer", :style => 'height:100%;width:100%;border-radius:10px;') %>
              <span class="imgtext" id="imgtext<%= i %>"><%= val.drinkcategoryname %></span>

              <div id="settingcategory<%= val.id %>" class="settingcategory">
                <span class='settingcategoryspan'><%= val.drinkcategoryname %></span><br/>

                <div id="editingoptions">
                  <div id="<%= val.id %>" class="edit">
                    <%= image_tag("/assets/adminimg/edit_icon.png", :alt => "edit") %>
                    <span class='optionspan' style="margin-left: 10px;">Edit</span>
                  </div>
                  <%= form_tag({controller: "categories", action: "deletedrinkcategory"}, :method => "Post", :id => "form"+(val.id).to_s, :style => 'float:right;margin-right:45px;') do %>
                      <input type="hidden" name="deletedrinkinputbox" id="deletedrinkinputbox<%= val.id %>"/>

                      <div id="<%= val.id %>" class="delete">
                        <%= image_tag("/assets/adminimg/delete_icon.png", :alt => "delete") %>
                        <span class='optionspan' style="margin-left: 10px;">Delete</span>
                      </div>
                  <% end %>
                </div>
              </div>
            </div>
            <% i += 1 %>-->


            <div class="col-md-3 col-sm-4 col-xs-6" style="padding:0px;">
              <img class="img-responsive" src="<%= val.image %>"/>
              <span class="imgtext" id="imgtext<%= i %>"><%= val.drinkcategoryname %></span>

              <div id="settingcategory<%= val.id %>" class="settingcategory" style="display:none;">
                <h2 style="margin-top:68px;"><%= val.drinkcategoryname %></h2><br/>

                <div id="editingoptions">
                  <div id="<%= val.id %>" class="edit">
                    <p>  <%= image_tag("/assets/adminimg/edit_icon.png", :alt => "edit",:style=>"margin-left: -30px;") %>
                      <span class='optionspan' style="margin-left: 10px;">Edit</span></p>
                  </div>
                  <%= form_tag({controller: "categories", action: "deletedrinkcategory"}, :method => "Post", :id => "form"+(val.id).to_s, :style => 'float: right;margin-right: 40px;height: 32px;margin-top:0px;') do %>
                      <input type="hidden" name="deletedrinkinputbox" id="deletedrinkinputbox<%= val.id %>"/>

                      <div id="<%= val.id %>" class="delete">
                        <p>   <%= image_tag("/assets/adminimg/delete_icon.png", :alt => "delete",:style=>"
    margin-left: -28px;
") %>
                          <span class='optionspan' style="margin-left: 10px;">Delete</span>
                      </div>
                      </p>
                  <% end %>
                </div>
              </div>
            </div>
        <% end %>
        <div class="col-md-3 col-sm-4 col-xs-6" style="
        background: #000;
                opacity: 0.5;width: 22%;border-radius: 8px;margin-left:15px;">
          <a href="#?w=500" rel="popup_name1" class="poplight1">
            <img class="img-responsive" src="/assets/adminimg/add_new_catagory_icon.png" style="margin: 0 auto;" id="lastimage"/></a>
        </div>
        <!-- <div class="imagecss" style="background:#000;opacity: 0.5;border-radius:10px;">
          <a href="#?w=500" rel="popup_name1" class="poplight1"><%= image_tag("/assets/adminimg/add_new_catagory_icon.png", :alt => "add", :style => "margin-top: 25%; margin-left: 38%;") %></a>
        </div>-->
      </div>

    </div>
    <% if @allcategories.present? %>
        <div id="paginationdiv">
          <%= will_paginate @allcategories, :renderer => BootstrapPagination::Rails %>
        </div>
    <% end %>

    <div id="footer_content" class="text-center muted ">Obron Restaurant Waiter &copy; 2014.</div>
    <!-- ================== BEGIN BASE JS ================== -->
    <script data-turbolinks-track="true" src="/assets/jquery.js?body=1"></script>
    <script data-turbolinks-track="true" src="/assets/jquery_ujs.js?body=1"></script>
    <script data-turbolinks-track="true" src="/assets/application.js?body=1"></script>
    <script data-turbolinks-track="true" src="/assets/admin/bootstrap-fileupload.js"></script>
    <script data-turbolinks-track="true" src="/assets/admin/bootstrap-fileupload.min.js"></script>
    <script data-turbolinks-track="true" src="/assets/admin/bootstrap-dropdown.js"></script>
    <script data-turbolinks-track="true" src="/assets/admin/bootstrap-collapse.js"></script>
    <script data-turbolinks-track="true" src="/assets/admin/popup.js"></script>
    <script>

        $(document).ready(function () {
            setTimeout(function () {
                $('#errordiv').hide();
            }, 3000);
        });
        $('#main_course').click(function () {
            window.location.href = "/admins/allcategories";
        });

        $(".col-md-3.col-sm-4.col-xs-6").hover(
                function () {
                    $('.imgtext', this).hide();
                    $('.settingcategory', this).show();
                }, function () {
                    $('.imgtext', this).show();
                    $('.settingcategory', this).hide()
                }
        );

        //var next = 1;
        $(".add-more").click(function (e) {
            e.preventDefault();
            var next = $("#count").val();
            var addto = "#field" + next;
            next++;
            var newIn = '<div class ="fields" id="field' + next + '"><input autofocus="autofocus" class="input-block-level category_name" id="category_name' + next + '" name="category_name[]" placeholder="Category Name" type="text">';
            newIn += '<input autofocus="autofocus" class="input-block-level image_name" id="image_name' + next + '"  name="image_name[]" placeholder="Image" style="margin-left:10px;border-radius:0;" type="text" readonly><span id="browse_file">Browse</span><input accept="image/*" id="hidden_browse_file" type="file" name="avatar[]" class=' + next + ' style="margin-right:152px; margin-top: -30px !important; width: 88px !important;">';
            newIn += '<input name="includeinbar[]" type="checkbox" id="includeinbar' + next + '" style="margin-top: 0px;" value="0"/> <label style="cursor:pointer;" for="includeinbar' + next + '">Include in bar</label><button type="button" style="" class="closebtn" onclick="hidediv(this.id)" id='+ next +'>&times;</button></div>';
            var newInput = $(newIn);
            $(addto).after(newInput);
            $("#field" + next).attr('data-source', $(addto).attr('data-source'));
            $("#count").val(next);

        });

        $('#popup_name1').on("change", 'input[type="file"]', function () {
            var filename = $(this).val().replace(/C:\\fakepath\\/i, '');
            var id = $(this).attr('class')
            substring = filename.split('.');
            extension = filename.substring(filename.lastIndexOf(".") + 1);
            if (substring[0].length >= 18) {
                filename = filename.substring(0, 18) + '...' + extension;
            }
            $('#image_name' + id).val(filename);
        });


        function getValues() {
            var values = $('input[name="category_name[]"]').map(function(){
                return this.value;
            }).get();
            //values=values.slice(0,-1);
            if (values=="," || values.length == 0 || values == '') {
                $('#errormsg1').show();
                $('#errormsg1').html("You must add atleast one category to continue.");
                setTimeout(function () {
                    $('#errormsg1').hide();
                }, 3000);
                return false;
            }
            $('#footer').hide();
            $('#loader').show();
        }

        $(".delete").click(function (e) {
            e.stopPropagation();
            var id = $(this).attr('id')
            $('#deletedrinkinputbox' + id).val(id);
            $('#showdrinkwarningmsg').val(id);
            $('#showdrinkwarningmsg').trigger('click')
        });

        function submitdelform() {
            var id = $('#showdrinkwarningmsg').val();
            $("#form" + id).submit();
        }


        $(".settingcategory").click(function (e) {
            e.preventDefault();
            var idstring = $(this).attr('id')
            var id = idstring.substring(15, (idstring.length));
            var drinkcategoryname = $('h2', this).text();
            window.location.href = "/admins/drinkdetail?id=" + id + "&&name=" + drinkcategoryname + "&&pagetype=2";
        });

        //Close Popups and Fade Layer
        $('body').on('click', 'a.close2, #fade', function () {
            //When clicking on the close or fade layer...
            $('#fade , .popup_block').fadeOut(function () {
                        //$('#fade, a.close').remove();  //fade them both out
                    }
            );
            return false;

        });

        $(".edit").click(function (e) {
            e.stopPropagation();
            var id = $(this).attr('id');
            $.ajax(
                    {type: "POST",
                        url: ("/admins/getdrinkcategoryinfo"),
                        data: {categoryid: id},
                        success: function (getdata) {
                            console.log(getdata);
                            $('#update_drinkcategory_id').val(getdata['id']);
                            $('#update_drinkcategory_name').val(getdata['categoryname']);
                            $('#updatedrinkcategoryimage').html("<img src=" + getdata['image'] + ">");
                            $('#showupdatemsg').trigger('click');
                        }
                    })
        });

        function hidediv(id){
            $('#field'+id).remove();
            var sizes = ($('.fields').length)-1;
            $("#count").val(sizes);
        }
    </script>


    </body>
    </html>
<% else %>
    <script>
        window.location.href = "/admins/sign_in";
    </script>

<% end %>