<!DOCTYPE HTML>
<html>
<head>
  <title>Restaurant Waiter app</title>
  <link data-turbolinks-track="true" href="/assets/application.css?body=1" media="all" rel="stylesheet"/>
  <link data-turbolinks-track="true" href="/assets/admin/categories.css?body=1" media="all" rel="stylesheet"/>
  <link data-turbolinks-track="true" href="/assets/bootstrap_and_overrides.css?body=1" media="all" rel="stylesheet"/>
  <link data-turbolinks-track="true" href="/assets/admin/bootstrap-fileupload.css" media="all" rel="stylesheet"/>
  <link data-turbolinks-track="true" href="/assets/admin/bootstrap-fileupload.min.css" media="all" rel="stylesheet"/>
  <link data-turbolinks-track="true" href="/assets/admin/custom.css?body=1" media="all" rel="stylesheet"/>
  <link data-turbolinks-track="true" href="/assets/admin/popup.css" media="all" rel="stylesheet"/>
  <link data-turbolinks-track="true" href="/assets/admin/pagination.css" media="all" rel="stylesheet"/>
  <link data-turbolinks-track="true" href="/assets/admin/navbar.css" media="all" rel="stylesheet"/>
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
  <%= csrf_meta_tag %>
  <style>
      .btn1 {
          width: 114px;
          height: 38px;
          border-radius: 8px;
          color: #fff;
          font-size: 18px;
          background: url(/assets/adminimg/button_bg.png);
          background-repeat: no-repeat;
          background-size: cover;
          outline: none;
      }

      /*  .input-block-level {
            width: 155px !important;
            height: 32px !important;
            float: left;
            margin-bottom: 16px !important;
            border-radius: 0px;
        }
        span#browse_file{
            height: 32px;
            width: 80px;
            border: 1px solid #ccc;
            background: #ccc;
            border-left: none;
            cursor: pointer;
            padding-top: 2px;
            float: left;
            color: #fff;
            text-align: center;
            font-size: 18px;
        }*/

      input#hidden_browse_file {
          float: right;
          margin-top: -32px;
          width: 165px;
          margin-right: 23px;
          opacity: 0;
      }

      .fooditemsname {
          background-color: #EFEEF3;
          border: none;
          outline: none;
          height: 28px !important;
          margin-top: 10px;
          margin-left: 15px;
          border: none !important;
      }

      #footer_content {
          clear: both;
      }

      #paginationdiv {
          margin: 0 auto;
          width: 15%;
          margin-top: 40px;

      }

      .fooditemdesc {
          resize: none;
          width: 95%;
          height: 82px;
          background: #FBDFAD !important;
          opacity: 1.5;
          border: none !important;
      }

      .fooditemsprice {
          background: #FBDFAD !important;
          width: 10%;
          border: none !important;
          opacity: 1.5;
          margin-top: 5px;
      }

      .hidden_browse_file_change {
          float: right;
          margin-top: -32px;
          width: 82px !important;
          margin-right: 25px;
          opacity: 0;
      }

      .changeimage {
          position: absolute;
          z-index: 9999999999;
          margin-top: -39px;
          /* margin-left: 40px; */
          background: #000;
          width: 93.5%;
          opacity: 0.5;
          color: #fff;
          margin-left: 5px;
          border-bottom-left-radius: 9px;
          border-bottom-right-radius: 9px;
          text-align: center;
          /* height: 24px; */
          font-size: 20px;
          height: 30px;
      }

      @-moz-document url-prefix() {
          #addimg {
              margin-top: 11px !important;
              margin-left: -185px !important;
          }
          #popup_name1{
              width:580px !important;
          }
          input#hidden_browse_file {
              margin-right: 65px !important;
          }
      }

      @media only screen
      and (max-width: 1297px) {
          div.details {
              width: 100%;
          }
      }

      @media screen and (max-width:1297px) {
          .fooditemdesc {
              width: 200% !important;
          }
          #options{
              width: 200% !important;
          }
      }

  </style>
</head>
<!--Warning message for signout -->
<div id="popup_name4" class="popup_block">
  <h4>Are you sure you want to Sign out?</h4>
  <a href="sign_out">
    <%= link_to "Yes", destroy_admin_session_path, method: :delete, :class => 'btn btn-small btn-danger', :style => "margin-top:12px;width:68px;" %>
    <!--<button type="button" class="btn btn-small btn-danger" style="margin-top:12px;width:68px;">Yes</button>-->
  </a>
  <a href="#" class="close2">
    <button type="button" class="btn btn-small" style="margin:12px 0px 0px 5px;width:68px;">No</button>
  </a>
</div>


<!--Warning message for delete of food item from a category -->
<a href="#?w=500" rel="popup_name2" class="poplight1"><input type='hidden' id='showwarningmsgforextras'/></a>

<div id="popup_name2" class="popup_block">
  <h4>Are you sure you want to delete this from <%= params[:foodname] %>?</h4>
  <a href="#" onclick="submitdelform();">
    <button type="button" class="btn btn-small btn-danger" style="margin-top:12px;width:68px;">Yes</button>
  </a>
  <a href="#" class="close2">
    <button type="button" class="btn btn-small" style="margin:12px 0px 0px 5px;width:68px;">No</button>
  </a>
</div>

<!--Success message for delete of extras -->
<a href="#?w=500" rel="popup_name3" class="poplight1"><input type='hidden' id='showdeleteextrasmsg'/></a>

<div id="popup_name3" class="popup_block">
  <h4 id="deletemessage"></h4>
  <a href="extrasdetail?foodid=<%= params[:foodid] %>&&foodname= <%= params[:foodname] %>">
    <button type="button" class="btn btn-success" style="margin:12px 0px 0px 5px;width:68px;">Ok</button>
  </a>
</div>


<div id="popup_name1" class="popup_block" style="z-index: 1111111;width:580px !important;">
  <h4 style="text-align:left;margin-top:0px;">Add More <%= params[:foodname] %></h4>
  <hr>
  <div id="addnewcategory">
    <%= form_tag({:controller => "categories", :action => "addextras"}, :method => "Post", multipart: true, :onsubmit => "return validatevalues();") do %>
        <input type="hidden" name="foodid" value=" <%= params[:foodid] %>" id="foodid"/>

        <div class="alert-error" id='errormsg' style="display:none;text-align: left;  clear: both; margin-bottom:20px;padding:10px;"></div>
        <%= text_field_tag(:name, nil, :autofocus => true, :class => "input-block-level", :placeholder => "Name", :id => "addextraname") %>
        <%= text_field_tag(:image_name, nil, :autofocus => true, :class => "input-block-level", :placeholder => "Image", :style => "margin-left:10px;border-radius:0;", :id => "addextraimage") %>
        <span id="browse_file">Browse</span><input accept="image/*" id="hidden_browse_file" type="file" name="avatar">
        <%= text_area_tag(:description, nil, :autofocus => true, :placeholder => "Description", :row => 5, :style => "height:70px; float: left;width: 515px;  resize: none;margin-bottom: 16px !important; ", :id => "addextradesc") %>
        <div id="field1" class="fields">
          <%= text_field_tag(:maxquantity, nil, autofocus: true, :class => "input-block-level", :placeholder => "Max Quantity", :style => "float:left", :id => "addextraquantity") %>
          <%= text_field_tag(:price, nil, :autofocus => true, :class => "input-block-level", :placeholder => "Price", :style => "margin-left:12px;float:left", :id => "addextraprice") %>
          <%= text_field_tag(:happyhourprice, nil, :autofocus => true, :class => "input-block-level", :placeholder => "Happy hour price", :style => "margin-left:12px;float:left", :id => "addextrahappyhourprice") %>
        </div>
        <%= submit_tag "Submit", :class => "btn1", :style => "margin-top:45px;margin-left: 200px;float:left;width:100px;", :id => "addextrassubmit" %>
        <img src="/assets/adminimg/loader.gif" style="float: left; margin-left: 235px; margin-top: 40px;display:none;" id="loader5"/>
    <% end %>
  </div>
</div>


<body background='../../../assets/adminimg/food_pattern.png' style='background-repeat: no-repeat;background-size: cover;margin: 0;padding: 0;min-height: 500px;'>
<div id="container">
  <!--<div id='manageoption_header'>
    <div id='logoimg'>
      <a href='allcategories'><%= image_tag("/assets/adminimg/log.png", :alt => "logo", :style => 'margin: 12px 10px 0px 160px;') %></a>
    </div>
    <div id="header">Extras in <%= params[:foodname] %>
    </div>
    <div id="settingopt" style="float: left;">
      <a href="settings"> <%= image_tag("/assets/adminimg/setting_icon.png", :alt => "setting", :style => 'margin: 32px 10px 0px;float: left;') %></a>
      <%= image_tag("/assets/adminimg/user_icon.png", :alt => "setting", :style => 'margin: 30px 10px 0px;float: left;') %>
      <div id="username" style="float: left;margin-top: 30px;">Admin</div>
      <div class="dropdown" style="
      margin-top: 0px;
              float: left;
      ">
        <button class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" style="background:none;border:none;">
          <%= image_tag("/assets/adminimg/down_arrow.png", :alt => "setting", :style => 'margin: 35px 10px 0px;float: left;') %>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="allcategories">Menu Items</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="adsubscription">App Advertisements</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="settings">Settings</a></li>
          <li role="presentation">
            <a href="#?w=500" rel="popup_name4" class="poplight1" role="menuitem" tabindex="-1">SignOut</a></li>
        </ul>
      </div>
    </div>
  </div>-->

  <div class="navbar" style="
  width: 80%;
          margin: 0 auto;
          border-top: 8px solid #CB9326;
  ">
    <div class="navbar-inner">
      <a class="brand" href="allcategories">
        <!-- UNCOMMENT THE CSS VALUES TO TEST OTHER DIMENTIONS -->
        <!-- <img src="http://placehold.it/150x80&text=Logo" alt=""> -->
        <%= image_tag("/assets/adminimg/log.png", :alt => "logo", :style => '') %>
      </a>

      <div id="header" style="width:56%;">Extras in <%= params[:foodname] %></div>
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="nav-collapse collapse" style="width: 35%;float: right;margin-right: -145px;" id="nav-collapse">
        <ul class="nav">
          <ul class="nav" style="float:right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img alt="setting" src="/assets/adminimg/down_arrow.png" style="">
              </a>
              <ul class="dropdown-menu">
                <li><a href="allcategories">Menu Items</a></li>
                <li><a href="adsubscription">App Advertisements</a></li>
                <li><a href="settings">Settings</a></li>
                <li><a href="template">Template</a></li>
                <li><a href="<%= root_url+"Terms Of Service.pdf" %>" target="_blank">Terms of service</a></li>
                <li><a href="#?w=500" rel="popup_name4" class="poplight1" role="menuitem" tabindex="-1">SignOut</a>
                </li>
              </ul>
            </li>
          </ul>
          <li style="float:right"><a href="#">Admin</a></li>
          <li style="float:right"><a href="#"><img alt="setting" src="/assets/adminimg/user_icon.png" style=""></a>
          </li>
          <li style="float:right">
            <a href="settings"> <img alt="setting" src="/assets/adminimg/setting_icon.png" style=""></a></li>
        </ul>
      </div>
    </div>
  </div>


  <div id='additemtocatgory'>
    <div style="float:left;margin-left: 170px;">
      <%= link_to "Main Menu", admins_allcategories_path %>/
      <%= link_to params[:foodname], 'categorydetail?id='+params[:foodid]+'&&name='+params[:foodname]+'&&pagetype=1' %>/
      <%= link_to "Extras", '#' %>
    </div>
    <div style="float:right;margin-right: 170px;">
      <a href="#?w=500" rel="popup_name1" class="poplight1"><%= submit_tag "Add New Extras", :class => "btn1", :style => "width:200px;" %></a>
      <%= image_tag("/assets/adminimg/add_new_catagory_icon.png", :alt => "add", :style => "margin-top: 65px; */ /* margin-left: 100px; */height: 18px;width: 18px;/* margin-right: 124px; */position: absolute;z-index: 999999;margin-top: -28px;margin-left: 15px;",:id=>"addimg") %>
    </div>
  </div>


  <div id="allfooditems">
    <% if flash[:extrasnotice] %>
        <div class="alert alert-success" id="errordiv"><%= flash[:extrasnotice] %></div>
    <% end %>
    <% if flash[:extraserror] %>
        <div class="alert-error" id='errordiv' style="text-align: left;  clear: both; padding: 10px 85px;"><%= flash[:extraserror] %></div>
    <% end %>
    <% if flash[:noextrasdetailerror] %>
        <div class="alert-error" id='errordiv2' style="text-align: left;  clear: both; padding: 10px 85px;"><%= flash[:noextrasdetailerror] %></div>
    <% end %>
    <% if flash[:updateextrasnotice] %>
        <div class="alert alert-success" id="errordiv"><%= flash[:updateextrasnotice] %></div>
    <% end %>
    <% if flash[:updateextraserror] %>
        <div class="alert alert-success" id="errordiv"><%= flash[:updateextraserror] %></div>
    <% end %>
    <% @allextrasinfooditem.each do |val| %>
        <div id="details<%= val['id'] %>" class="details">
          <div id="detailsheader<%= val['id'] %>" class="detailsheader">
            <%= form_tag({controller: "categories", action: "updateextras"}, multipart: true, :method => "Post", :id => "updateform"+(val['id']).to_s) do %>
                <input type="hidden" name="updateextrasbox" id="updateextrasbox<%= val['id'] %>" value="<%= val['id'] %>"/>

                <div id="extrasname<%= val['id'] %>" class="fooditemname">
                  <%= text_field_tag(:extras_name, nil, autofocus: true, :class => "fooditemsname", :value => val['extra_name'], :placeholder => "Extras Name", :readonly => true) %>
                </div>
                <div id="settingoptions<%= val['id'] %>" class="settingoptions">
                  <div id="<%= val['id'] %>" class="editfooditem">
                    <%= image_tag("/assets/adminimg/edit_icon_blue.png", :alt => "appetizer", :style => "float:left;margin-top:1px;") %>
                    <span class='optionspan' style="margin-left:10px;color: #4A9DE7;font-weight: 300;">Edit</span>
                  </div>
                  <div id="<%= val['id'] %>" class="deletefooditem">
                    <!--   <%= form_tag({:controller => "categories", :action => "deleteextras"}, :method => "Post", :id => "form"+(val['id']).to_s) do %>-->
                        <input type="hidden" name="deleteextrasbox" id="deleteextrasbox<%= val['id'] %>"/>
                        <%= image_tag("/assets/adminimg/delete_icon_red.png", :alt => "appetizer", :style => "float:left;margin-top:1px;") %>
                        <span class='optionspan' style="margin-left:10px;color: red;font-weight: 300;">Delete</span>
                        <!--
                    <% end %>-->
                  </div>

                  <div id="zoom<%= val['id'] %>" class="zoom">
                    <%= image_tag("/assets/adminimg/zoom_icon.png", :alt => "appetizer", :style => "float:left;margin-top:1px;") %>
                  </div>
                </div>
                </div>
                <div id="detailsbody<%= val['id'] %>" class="detailsbody">
                  <%= image_tag(val['image'], :alt => "appetizer", :style => 'height:100%;width:100%;opacity:0.3;') %>
                  <div id="itemimg<%= val['id'] %>" class="itemimg">
                    <div class="fileupload fileupload-new" data-provides="fileupload">
                      <div class="fileupload-preview thumbnail" style="border:none;"><%= image_tag(val['image'], :alt => "appetizer", :style => 'width:100%;border-radius:10px;') %></div>
                      <div>
                        <div class="changeimage" style="display:none;" id="changeimage<%= val['id'] %>">
                          <h4 style="margin-top:5px;">Change Image</h4>
                          <input accept="image/*" class="hidden_browse_file_change" type="file" name="avatar" class="1">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="itemdata<%= val['id'] %>" class="itemdata">
                    <div id="data" style="height:125px;">    <%= text_area_tag(:extras_desc, val['description'], :class => 'fooditemdesc', :placeholder => "Food Description", :readonly => true, :id => "editabledesc"+ (val['id']).to_s) %>
                      <%= %></div>
                    <div id="options" style="font-size:18px;font-weight:normal;">
                      <%= image_tag("/assets/adminimg/bullet.png", :alt => "bullet") %> Price :
                      $ <%= text_field_tag(:extras_price, nil, :class => "fooditemsprice", :value => val['price'], :placeholder => "Extras Price", :readonly => true, :id => "editableprice"+ (val['id']).to_s) %>

                    </div>
            <% end %>
            </div>
            </div>
            </div>

    <% end %>
  </div>

</div>
<% if @allextrasinfooditem.present? %>
    <div id="paginationdiv">
      <%= will_paginate @allextrasinfooditem, :renderer => BootstrapPagination::Rails %>
    </div>
<% end %>
<div id="footer_content" class="text-center muted ">Obron Restaurant Waiter &copy; 2014.</div>
<!-- ================== BEGIN BASE JS ================== -->
<script data-turbolinks-track="true" src="/assets/jquery.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/jquery_ujs.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/application.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/admin/bootstrap-fileupload.min.js"></script>
<script data-turbolinks-track="true" src="/assets/admin/bootstrap-dropdown.js"></script>
<script data-turbolinks-track="true" src="/assets/admin/bootstrap-collapse.js"></script>
<script data-turbolinks-track="true" src="/assets/admin/popup.js"></script>
<script>

    $(document).ready(function () {
        setTimeout(function () {
            $('#errordiv').hide();
        }, 3000);
    });

    $(".deletefooditem").click(function (e) {
        e.preventDefault();
        var id = $(this).attr('id')
        $('#deleteextrasbox' + id).val(id);
        $('#showwarningmsgforextras').val(id);
        $('#showwarningmsgforextras').trigger('click')
    });

    $('.editfooditem').click(function () {
        var id = $(this).attr('id');
        $('.editfooditem#' + id).html('<%= image_tag("/assets/adminimg/save_icon.png", :alt => "appetizer", :style => "float:left;margin-top:1px;") %> <span id=' + id + ' class="optionspan" style="margin-left:10px;color: #05BA97;font-weight: 300;margin-top:1px;" onclick="saveupdatedfooditem(this.id);">Save</span>');
        $('#editabletext' + id).attr("readonly", false);
        $('#editabletext' + id).css("border:8px solid");
        $('#changeimage' + id).show();
        $('#editabledesc' + id).attr("readonly", false);
        $('#editabledesc' + id).attr("style", "border:1px solid !important");
        $('#editableprice' + id).attr("readonly", false);
        $('#editableprice' + id).attr("style", "border:1px solid !important");
    });


    function saveupdatedfooditem(id) {
        $("#updateform" + id).submit();
    }

    //Close Popups and Fade Layer
    $('body').on('click', 'a.close2, #fade', function () {
        //When clicking on the close or fade layer...
        $('#fade , .popup_block').fadeOut(function () {
                    //$('#fade, a.close').remove();  //fade them both out
                }
        );
        return false;

    });

    function submitdelform() {
        var id = $('#showwarningmsgforextras').val();
        $.ajax(
                {type: "POST",
                    url: ("/admins/deleteextras"),
                    data: {deleteextrasbox: id},
                    success: function (getdata) {
                        console.log(getdata);
                        if (getdata['log'] == 1) {
                            $('#deletemessage').html('Extras have been deleted successfully.');
                            $('#showdeleteextrasmsg').trigger('click');
                        } else {
                            $('#deletemessage').html('Something went wrong, please try again later.');
                            $('#showdeleteextrasmsg').trigger('click');
                        }

                    }
                })
    }

    /* $('.editfooditem').click(function() {
     $('#extras_name').attr("readonly", false);
     $('#extras_name').css("border:8px solid");
     });*/
    $("#hidden_browse_file").on("change", function () {
        var filename = $('input[type=file]').val().replace(/C:\\fakepath\\/i, '');
        substring = filename.split('.');
        extension = filename.substring(filename.lastIndexOf(".") + 1);
        if (substring[0].length >= 18) {
            filename = filename.substring(0, 18) + '...' + extension;
        }
        $('#addextraimage').val(filename);
    });

    function validatevalues() {
        if (($('#addextraname').val()).length == 0) {
            $('#errormsg').show();
            $('#errormsg').html("Extra's name cannot be blank");
            setTimeout(function () {
                $('#errormsg').hide();
            }, 3000);
            return false;
        }
        if (($('#addextradesc').val()).length == 0) {
            $('#errormsg').show();
            $('#errormsg').html("Extra's description cannot be blank");
            setTimeout(function () {
                $('#errormsg').hide();
            }, 3000);
            return false;
        }
        if (($('#addextraquantity').val()).length == 0) {
            $('#errormsg').show();
            $('#errormsg').html("Extra's quantity cannot be blank");
            setTimeout(function () {
                $('#errormsg').hide();
            }, 3000);
            return false;
        }
        if (($('#addextraprice').val()).length == 0) {
            $('#errormsg').show();
            $('#errormsg').html("Extra's price cannot be blank");
            setTimeout(function () {
                $('#errormsg').hide();
            }, 3000);
            return false;
        }
        if (($('#addextrahappyhourprice').val()).length == 0) {
            $('#errormsg').show();
            $('#errormsg').html("Extra's happy hour price cannot be blank");
            setTimeout(function () {
                $('#errormsg').hide();
            }, 3000);
            return false;
        }
        $('#addextrassubmit').hide();
        $('#loader5').show();
    }

</script>

</body>
</html>