<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h4>Hello,</h4>
<p>
  Can't remember your password? Don't worry about it — it happens.<br>
</p>
<p>
  To reset password, just follow this link:<%= @url %>.
</p>
</body>
</html>