To reset your password, click the URL below.

<%= edit_user_password_url(@user.reset_password_token) %>

If you did not request your password to be reset, just ignore this email and your password will continue to stay the same.