<style>
    .page {
        margin: 0;
        padding: 0;
        height: 425px;
        width: 100%;
        display: block;
    }

    .content {
        padding: 0;
        overflow: scroll;
        overflow-x: hidden;
        height: 100%
        /*-webkit-overflow-scrolling: touch;*/
    }
</style>
<section class="panel">
  <header class="panel-heading">
    <strong>Role Permissions</strong>
  </header>
  <div class="modal-body">
    <div class="row page">
      <div class="col-md-5 form-group content">
        <label for="availablePermission">
          Available permissions
        </label>
        <ul class="source connected">
          <% @available_permissions.each do |permission| %>
              <li data-stock-symbol="<%= permission.id %>"><%= permission.description %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-md-2">
        <input type='button' value='<< Move' id='move_left' />
        <input type='button' value='Move >>' id='move_right' />
      </div>
      <div class="col-md-5 form-group content">
        <label for="existingPermission">
          Assigned permissions
        </label>
        <ul class="target connected">
          <% @assigned_permissions.each do |permission| %>
              <li data-stock-symbol="<%= permission.id %>"><%= permission.description %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button id="save_role_permission" class="btn btn-primary">Submit</button>
  </div>

  <script type="text/javascript">


      $('#move_left').click(function() {
          $('.target li').each (function(){
              $('.source').append('<li data-stock-symbol="'+$(this).attr('data-stock-symbol')+'" draggable="true">'+$(this).text() +'</li>');
              $(this).remove();

          });
          $(".source, .target").sortable({
              connectWith: ".connected"
          });
      });

      $('#move_right').click(function() {
          $('.source li').each (function(){
              $('.target').append('<li data-stock-symbol="'+$(this).attr('data-stock-symbol')+'" draggable="true">'+$(this).text() +'</li>');
              $(this).remove();
          });
          $(".source, .target").sortable({
              connectWith: ".connected"
          });
      });

      $(function () {
          $(".source, .target").sortable({
              connectWith: ".connected"
          });
      });

      $(document).on('click', '#save_role_permission', function () {
          var id = $("#assign_role").val();
          var permissions_data = new Array()
          var perrmission = $('ul.target'),
                  perrmissionli = perrmission.children('li');
          $(perrmissionli).each(function () {
              permissions_data.push($(this).attr('data-stock-symbol'))
          });
          $.ajax({
              url: '/super_admin/roles_permission/update/' + id,
              type: 'PUT',
              dataType: 'JSON',
              data: {'id': id, 'permissions': permissions_data},
              success: function (data) {
                  bootbox.alert({title: "Alert!", message: "Data updated successfully"});
              }
          });
      })
  </script>
</section>