<% content_for :header do %>
    <%= stylesheet_link_tag 'jquery.dataTables.css', 'dataTables.bootstrap.css', 'DT_bootstrap.css','droppable.css', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'jquery.dataTables.min', 'roles', 'DT_bootstrap.js','jquery.sortable.min.js', 'data-turbolinks-track' => true %>
<% end %>

<section class="panel">
  <header class="panel-heading">
    <strong>Assign Permissions </strong>
  </header>
  <div class="panel-body">
    <div class="adv-table">
      <div class="space15"></div>
      <form class="form-inline" role="form">
        <div class="form-group">
          <label class="sr-only" for="exampleInputEmail2">Available Roles</label>
          <%= select_tag :assign_role, options_for_select(@roles.map{|r|[r.name, r.id]}) ,{ :class => 'form-control'} %>
        </div>

      </form>

    </div>
  </div>
</section>
<section class="panel">
  <div id="roles_permissions">
    <%= render :partial => 'roles/permissions' %>
  </div>
</section>