<% content_for :header do %>
    <%= stylesheet_link_tag 'jquery.dataTables.css','dataTables.bootstrap.css', 'DT_bootstrap.css', 'data-turbolinks-track' => true%>
    <%= javascript_include_tag  'jquery.dataTables.min','roles','DT_bootstrap.js', 'data-turbolinks-track' => true %>
<% end %>
<!-- page start-->
<section class="panel">
  <header class="panel-heading">
    <strong>Assign Roles</strong>
  </header>
  <div class="panel-body">
    <div class="adv-table">
      <div class="space15"></div>
      <table class="display table table-bordered" id="assign-roles">
        <thead>
        <tr>
          <th>Email</th>
          <th>Role</th>
          <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        <% @super_admins.each do |super_admin| %>
            <tr class="">
              <td super_admin_id="<%= super_admin.id %>"><%= super_admin.email %></td>
              <td super_admin_id="<%= super_admin.id %>"><%= select_tag :roles, options_for_select(@roles.map{|r| [r.name, r.id]},super_admin.role_id), {:class => "form-control", :disabled => 'disabled' ,:id => "select_tag_id_#{super_admin.id}"}  %></td>
              <td><a class="edit" href="javascript:;">Edit</a></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>
<!-- page end-->

<script type="text/javascript">
    jQuery(document).ready(function() {
        AssignRoleTable.init();
    });
</script>

