<% content_for :header do %>
    <%= stylesheet_link_tag 'jquery.dataTables.css','dataTables.bootstrap.css', 'DT_bootstrap.css', 'data-turbolinks-track' => true%>
    <%= javascript_include_tag  'jquery.dataTables.min','roles','DT_bootstrap.js', 'data-turbolinks-track' => true %>
<% end %>
<!-- page start-->
<section class="panel">
  <header class="panel-heading">
    <strong>Manage Roles</strong>
  </header>
  <div class="panel-body">
    <div class="adv-table">
      <div class="clearfix">
        <div class="btn-group">
          <button id="editable-roles_new" class="btn green">
            Add New <i class="icon-plus"></i>
          </button>
        </div>
      </div>
      <div class="space15"></div>
      <table class="display table table-bordered" id="editable-roles">
        <thead>
        <tr>
          <th>Name</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <% @roles.each do |role| %>
            <tr class="">
              <td role_id="<%= role.id %>"><%= role.name %></td>
              <td><a class="edit" href="javascript:;">Edit</a></td>
              <td><a class="delete" href="javascript:;">Delete</a></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>
<!-- page end-->

<script type="text/javascript">
    jQuery(document).ready(function() {
        EditableRoleTable.init();
    });
</script>

