<% if admin_signed_in? then %>
<!DOCTYPE HTML>
    <html>
    <head>
      <title>Restaurant Waiter app</title>
      <link data-turbolinks-track="true" href="/assets/application.css?body=1" media="all" rel="stylesheet"/>
      <link data-turbolinks-track="true" href="/assets/admin/sessions.css?body=1" media="all" rel="stylesheet"/>
      <link data-turbolinks-track="true" href="/assets/bootstrap_and_overrides.css?body=1" media="all" rel="stylesheet"/>
      <link data-turbolinks-track="true" href="/assets/admin/custom.css?body=1" media="all" rel="stylesheet"/>
      <link data-turbolinks-track="true" href="/assets/admin/popup.css" media="all" rel="stylesheet"/>
      <link data-turbolinks-track="true" href="/assets/admin/navbar.css" media="all" rel="stylesheet"/>
      <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
      <%= csrf_meta_tag %>
      <style>

          #maincontent {
              width: 70%;
              height: auto;
          }

          #text_opt2 {
              width: 30%;
              float: left;
          }

          #first, #second, #third, #price_yes, #price_no {
              float: left;
          }

          td {
              border: none !important;
              padding-top: 48px !important;
              padding-left: 40px !important;
          }

          th {
              border: none !important;
          }

          #managebuttons {
              margin-left: 30%;
              margin-top: 20px;
              padding-bottom: 25px;
          }
         #loadtemplate{
             width: 114px;
             margin-top: -60px;
             margin-bottom: 20px;
             margin-left: 132px;
             padding-top: 9px;
             /* padding-bottom: 5px; */
             height: 26px;
             border: 2px outset buttonface;
         }
         #nav-collapse{
             width: 35%;float: right;margin-right: -145px;
         }

         input[name="display_gratuity"] {
             width:25px;
         }
         input[name="displayprice"] {
              width:25px;
          }
      </style>
    </head>

    <!--Warning message for signout -->
    <div id="popup_name2" class="popup_block">
      <h4>Are you sure you want to Sign out?</h4>
        <%= link_to "Yes", destroy_admin_session_path, method: :delete, :class => 'btn btn-small btn-danger', :style => "margin-top:12px;width:68px;" %>
      <a href="#" class="close2">
        <button type="button" class="btn btn-small" style="margin:12px 0px 0px 5px;width:68px;">No</button>
      </a>
    </div>

    <body background='../../../assets/adminimg/food_pattern.png' style='background-repeat: no-repeat;background-size: cover;margin: 0;padding: 0;min-height: 500px;'>
    <div id="container">
    <div class="navbar" style="
    width: 80%;
            margin: 0 auto;
            border-top: 8px solid #CB9326;
    ">
      <div class="navbar-inner">
        <a class="brand" href="allcategories">
          <%= image_tag("/assets/adminimg/log.png", :alt => "logo", :style => '') %>
        </a>

        <div id="header" style="width:56%;">Manage Options</div>
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>

        <div class="nav-collapse collapse"  id="nav-collapse">
          <ul class="nav">
            <ul class="nav" style="float:right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img alt="setting" src="/assets/adminimg/down_arrow.png" >
                </a>
                <ul class="dropdown-menu">
                  <li><a href="allcategories">Menu Items</a></li>
                  <li><a href="adsubscription">App Advertisements</a></li>
                  <li><a href="settings">Settings</a></li>
                  <li><a href="template">Template</a></li>
                  <li><a href="<%= root_url+"Terms Of Service.pdf" %>" target="_blank">Terms of service</a></li>
                  <li><a href="#?w=500" rel="popup_name2" class="poplight1" role="menuitem" tabindex="-1">SignOut</a>
                  </li>
                </ul>
              </li>
            </ul>
            <li style="float:right"><a href="#">Admin</a></li>
            <li style="float:right"><a href="#"><img alt="setting" src="/assets/adminimg/user_icon.png" ></a>
            </li>
            <li style="float:right">
              <a href="settings"> <img alt="setting" src="/assets/adminimg/setting_icon.png"></a></li>
          </ul>
        </div>
      </div>
    </div>


    <div id="maincontent">
      <% if flash[:sign_in_message] %>
          <script>
              setTimeout(function () {
                  $('#errordiv1').hide();
              }, 3000);
          </script>
          <div class="alert alert-success" id="errordiv1"><%= flash[:sign_in_message] %></div>
      <% end %>
      <% if flash[:updatenotice] %>
          <script>
              setTimeout(function () {
                  $('#errordiv1').hide();
              }, 3000);
          </script>
          <div class="alert alert-success" id="errordiv1"><%= flash[:updatenotice] %></div>
      <% end %>
      <% if flash[:updateerror] %>
          <script>
              setTimeout(function () {
                  $('#errordiv1').hide();
              }, 3000);
          </script>
          <div class="alert alert-error" id="errordiv1"><%= flash[:updateerror] %></div>
      <% end %>

      <%= form_tag({controller: "templates", action: "updateoptions"}, :method => "Post") do %>

          <table class="table" style="border:none;">
            <tbody>
            <tr>
              <td colspan="2">Customer can view your menu outside the restaurant. Do you wish to display prices to
                those
                customers?
              </td>
              <% if @restaurantInfo[0]["display_price_outside_restaurant"] == 1 then %>
                  <td style="width:10%;"><%= radio_button_tag 'displayprice', '1', true %>
                    Yes
                  </td>
                  <td style="width:10%;"> <%= radio_button_tag 'displayprice', '0', false %>
                    No
                  </td>
              <% elsif @restaurantInfo[0]["display_price_outside_restaurant"] == 0 %>
                  <td style="width:10%;"><%= radio_button_tag 'displayprice', '1', false %>
                    Yes
                  </td>
                  <td style="width:10%;"> <%= radio_button_tag 'displayprice', '0', true %>
                    No
                  </td>
              <% else %>
                  <td style="width:10%;"><%= radio_button_tag 'displayprice', '1', false %>
                    Yes
                  </td>
                  <td style="width:10%;"> <%= radio_button_tag 'displayprice', '0', false %>
                    No
                  </td>
              <% end %>
            </tr>
            <tr>
              <td style="width:30%;"> Do you wish to charge Gratuity?</td>
              <% if @restaurantInfo[0]["gratuity_status"] == 1 then %>
                  <td style="width:20%;"> <%= radio_button_tag 'display_gratuity', '1', true%>
                    On
                    all the orders
                  </td>
                  <td style="width:32%;"> <%= radio_button_tag 'display_gratuity', '2', false %>
                    On 8
                    or more Main course orders
                  </td>
                  <td style="width:20%;"><%= radio_button_tag 'display_gratuity', '0', false%>
                    No
                  </td>
              <% elsif @restaurantInfo[0]["gratuity_status"] == 2 then %>
                  <td style="width:20%;"> <%= radio_button_tag 'display_gratuity', '1', false %>
                    On
                    all the orders
                  </td>
                  <td style="width:32%;"> <%= radio_button_tag 'display_gratuity', '2', true %>
                    On 8
                    or more Main course orders
                  </td>
                  <td style="width:20%;"><%= radio_button_tag 'display_gratuity', '0', false, :style => 'margin-left:60px' %>
                    No
                  </td>
              <% elsif @restaurantInfo[0]["gratuity_status"] == 0 then %>
                  <td style="width:20%;"> <%= radio_button_tag 'display_gratuity', '1', false, :style => 'margin-left:0px' %>
                    On
                    all the orders
                  </td>
                  <td style="width:32%;"> <%= radio_button_tag 'display_gratuity', '2', false, :style => 'margin-left:0px' %>
                    On 8
                    or more Main course orders
                  </td>
                  <td style="width:20%;"><%= radio_button_tag 'display_gratuity', '0', true, :style => 'margin-left:1px' %>
                    No
                  </td>
              <% else %>
                  <td style="width:20%;"> <%= radio_button_tag 'display_gratuity', '1', false, :style => 'margin-left:0px' %>
                    On
                    all the orders
                  </td>
                  <td style="width:32%;"> <%= radio_button_tag 'display_gratuity', '2', false, :style => 'margin-left:0px' %>
                    On 8
                    or more Main course orders
                  </td>
                  <td style="width:20%;"><%= radio_button_tag 'display_gratuity', '0', false, :style => 'margin-left:1px' %>
                    No
                  </td>
              <% end %>
            </tr>
            </tbody>
          </table>
          <div id="opt3" style="display:none">
            <div id="text_opt3">
              Please specify gratuity percentage
              <input autofocus="autofocus" class="category_name" id="grauity" name="gratuity_val" placeholder="ex: 20" type="text" value="<%= @restaurantInfo[0]["gratuity"] %>" style="width:120px; margin-top: 12px;">
              %
            </div>
          </div>
          <div style="" id="managebuttons">
            <%= submit_tag "Update", :class => "btn1", :style => "width:114px;margin-top:20px;margin-bottom:20px;margin-left:0px;" %>
            <% if current_admin.sign_in_count == 1 then %>
            <div id="loadtemplate" class="btn1"><a href="template" style="padding-left: 35px;text-decoration: none;color:#ffffff;">Next</a></div>
            <% else %>
            <div id="loadtemplate" class="btn1"><a href="allcategories" style="padding:30px;text-decoration: none;color:#ffffff;">Next</a></div>
            <% end %>
          </div>
      <% end %>
      
    </div>


    </div>
    <p class="text-center muted " style="margin-top:100px;">Obron Restaurant Waiter &copy; 2014.</p>
    <!-- ================== BEGIN BASE JS ================== -->
    <script data-turbolinks-track="true" src="/assets/jquery.js?body=1"></script>
    <script data-turbolinks-track="true" src="/assets/jquery_ujs.js?body=1"></script>
    <script data-turbolinks-track="true" src="/assets/application.js?body=1"></script>
    <script data-turbolinks-track="true" src="/assets/admin/bootstrap-dropdown.js"></script>
    <script data-turbolinks-track="true" src="/assets/admin/bootstrap-collapse.js"></script>
    <script data-turbolinks-track="true" src="/assets/admin/popup.js"></script>
    <script>
        //Close Popups and Fade Layer
        $('body').on('click', 'a.close2, #fade', function () {
            //When clicking on the close or fade layer...
            $('#fade , .popup_block').fadeOut(function () {
                        //$('#fade, a.close').remove();  //fade them both out
                    }
            );
            return false;

        });

        $(document).ready(function () {
            <% if  @restaurantInfo[0]["gratuity_status"]==1 || @restaurantInfo[0]["gratuity_status"]==2 %>
            $('#opt3').show();
            <%end%>

        });

        $("input[name=display_gratuity]:radio").change(function () {
            id = $(this).attr('id');
            if (id == "display_gratuity_1") {
                $('#opt3').show();
            } else if (id == "display_gratuity_2") {
                $('#opt3').show();
            } else if (id == "display_gratuity_0") {
                $('#opt3').hide();
            }
        })
    </script>
    </body>
    </html>
<% else %>
    <script>
        window.location.href = "/admins/sign_in";
    </script>

<% end %>
