<% if admin_signed_in? then %>
<!DOCTYPE HTML>
    <html>
    <head>
      <title>Restaurant Waiter app</title>
      <link data-turbolinks-track="true" href="/assets/application.css?body=1" media="all" rel="stylesheet"/>
      <link data-turbolinks-track="true" href="/assets/admin/templates.css?body=1" media="all" rel="stylesheet"/>
      <link data-turbolinks-track="true" href="/assets/admin/popup.css" media="all" rel="stylesheet"/>
      <link data-turbolinks-track="true" href="/assets/bootstrap_and_overrides.css?body=1" media="all" rel="stylesheet"/>
      <link data-turbolinks-track="true" href="/assets/admin/custom.css?body=1" media="all" rel="stylesheet"/>
      <link data-turbolinks-track="true" href="/assets/admin/navbar.css" media="all" rel="stylesheet"/>
      <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
      <%= csrf_meta_tag %>
      <style>
          .btn1 {
              width: 114px;
              height: 38px;
              border-radius: 8px;
              color: #fff;
              font-size: 18px;
              background: url(/assets/adminimg/button_bg.png);
              background-repeat: no-repeat;
              background-size: cover;
              outline: none;
          }

          #opt1 {
              padding: 22px;
              height: 120px;
          }

          #text_opt1 {
              float: left;
          }

          input#hidden_browse_file {
              margin-top: 4px;
              width: 210px;
              /* margin-right: -31px; */
               opacity: 0;
              margin-left: -152px;
              height: 35px;
              cursor: pointer
          }

          .alert {
              width: 165px;
              margin-left: 33px;
              height: 15px;
              margin-top: 6px;
              display: none;
              color: #000;
              font-size: 14px;
              /* padding: 9px; */
              padding-top: 1px;
          }

          #imagesblock {
              height: 380px;
              width: 60%;
              margin: 0 auto;
              margin-top: 35px;
              background-color: #FBDFAD;
              opacity: 1.5;
              font-size: 18px;
              color: #000;
          }

          #imagesblockhead {
              text-align: center;
              /* margin: 0 auto; */
              /* margin-top: -15px; */
              padding-top: 25px;
              clear: both;
          }

          #imagesblockbody {
              width: 100%;
              margin: 0 auto;
              margin-top: 25px
          }

          span.browse_file1 {
              height: 26px;
              width: 95px;
              border: 1px solid #686868;
              background: #686868;
              border-left: none;
              cursor: pointer;
              padding-top: 5px;
              float: left;
              color: #fff;
              text-align: center;
              font-size: 18px;
          }

          input.hidden_browse_file1 {
              margin-top: 0px;
              width: 85px;
              /* margin-right: -42px; */
              opacity: 0;
              margin-left: -203px;
              height: 35px;
              cursor: pointer;
          }

          .input-block-level.images {
              border-radius: 0;
              widtH: 150px;
              float: left;
              height: 32px;
          }

          .close1 {
              display: none;
          }

          #footer_content {
              height: 60px;
              padding: 53px;
              width: 622px;
              margin: 0 auto;
              margin-bottom: 70px
          }

          #maincontent {
              width: 60%;
              height:245px;
          }
          #footerbtn{
              width: 100%;
              /* margin: 0 auto; */
              margin-top: 40px;
              float: left;
              /* margin-left: 30%; */
          }
          #img_opt1{
              float: left;
              margin-left: 25%;
          }

          #img_opt2{
              float: left;
              margin-left: 15px;
              height: 34px;
              margin-top: 35px;
          }
          #submitbtn{
              margin-left: 30%;
          }
          #filename{
              margin-bottom:0px !important
          }
          @media screen and (max-width:1050px) {
           span{
               margin-left: 3px !important;
           }
              #submitbtn{
                  margin-left: 2%;
              }
              #imagesblock {
                  height: 410px !important;
                  width: 73% !important;
              }
          }

          @media screen and (max-width:1250px) {
              #img_opt1{
                  margin-left: 5%;
              }
              #submitbtn{
                  margin-left: 5%;
              }
          }
          @media screen and (max-width:950px){
              #maincontent {
                  height:400px;
              }
          }
      </style>
    </head>

    <!--Warning message for signout -->
    <div id="popup_name3" class="popup_block">
      <h4>Are you sure you want to Sign out?</h4>
      <a href="sign_out">
        <%= link_to "Yes", destroy_admin_session_path, method: :delete, :class => 'btn btn-small btn-danger', :style => "margin-top:12px;width:68px;" %>
        <!--<button type="button" class="btn btn-small btn-danger" style="margin-top:12px;width:68px;">Yes</button>-->
      </a>
      <a href="#" class="close2">
        <button type="button" class="btn btn-small" style="margin:12px 0px 0px 5px;width:68px;">No</button>
      </a>
    </div>


    <!--Warning message for images mismatch -->
    <a href="#?w=500" rel="popup_name2" class="poplight1"><input type='hidden' id='showwarningmsg'/></a>

    <div id="popup_name2" class="popup_block">
      <h4 id="showmessage"></h4>
      <a href="#" onclick="submitform();">
        <button type="button" class="btn btn-small btn-danger" style="margin-top:12px;width:68px;">Yes</button>
      </a>
      <a href="template" class="">
        <button type="button" class="btn btn-small" style="margin:12px 0px 0px 5px;width:68px;">No</button>
      </a>
    </div>


    <body background='../../../assets/adminimg/food_pattern.png' style='background-repeat: no-repeat;background-size: cover;margin: 0;padding: 0;min-height: 500px;'>
    <div id="container">


      <div class="navbar" style="
      width: 80%;
              margin: 0 auto;
              border-top: 8px solid #CB9326;
      ">
        <div class="navbar-inner">
          <a class="brand" href="allcategories">
            <!-- UNCOMMENT THE CSS VALUES TO TEST OTHER DIMENTIONS -->
            <!-- <img src="http://placehold.it/150x80&text=Logo" alt=""> -->
            <%= image_tag("/assets/adminimg/log.png", :alt => "logo", :style => '') %>
          </a>

          <div id="header">Manage Template</div>
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <div class="nav-collapse collapse" style="width: 35%;float: right;margin-right: -145px;" id="nav-collapse">
            <ul class="nav">
              <ul class="nav" style="float:right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img alt="setting" src="/assets/adminimg/down_arrow.png" style="">
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="allcategories">Menu Items</a></li>
                    <li><a href="adsubscription">App Advertisements</a></li>
                    <li><a href="settings">Settings</a></li>
                    <li><a href="#">Template</a></li>
                    <li><a href="<%= root_url+"Terms Of Service.pdf" %>" target="_blank">Terms of service</a></li>
                    <li><a href="#?w=500" rel="popup_name3" class="poplight1" role="menuitem" tabindex="-1">SignOut</a>
                    </li>
                  </ul>
                </li>
              </ul>
              <li style="float:right"><a href="#">Admin</a></li>
              <li style="float:right"><a href="#"><img alt="setting" src="/assets/adminimg/user_icon.png" style=""></a>
              </li>
              <li style="float:right">
                <a href="settings"> <img alt="setting" src="/assets/adminimg/setting_icon.png" style=""></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div id="maincontent">
        <div id="opt1">
          <div id="text_opt1">
            Please download the given template first and then add the menu items in the downloaded template only.<br>
            Upload the updated file when done.
          </div>
          <div id="img_opt1">
            <% if flash[:url] %>
                <%= link_to(image_tag("/assets/adminimg/download_template_button.png", :alt => "download", :style => 'float: left;margin-top: 35px;'), admins_download_template_path(:id => @excelName)) %>
            <% end %>
          </div>
          <%= form_tag({controller: "templates", action: "upload"}, :multipart => true, :onsubmit => ' return check()') do %>
              <div id="img_opt2" style="float: left;">
               <%= image_tag("/assets/adminimg/upload_template_button.png", :alt => "download", :style => 'float: left;cursor:pointer;') %>
                <input accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" id="hidden_browse_file" type="file" name="excel">    
                <div class="alert" id="filename"></div>
              </div>
              <div id='footerbtn'> <%= submit_tag "Previous", :type => "button", :class => "btn1", :style => "width: 114px;" ,:id=>"submitbtn",:onclick=>'window.location.href="manageoptions"' %>
                <%= submit_tag "Submit", :class => "btn1", :style=>"width:114px"%>
                <%= submit_tag "Next", :type => "button", :class => "btn1", :style => "width: 114px;" ,:onclick=>'window.location.href="allcategories"'%>
              </div>
          <% end %>

        </div>
        <% if flash[:notice] %>
            <div class="alert alert-error" id="errordiv"><%= flash[:notice] %></div>
        <% end %>
        <% if flash[:excelerror] %>
            <div class="alert-error" id='othertemp' style="text-align: left;  clear: both; padding: 10px 85px;"><%= flash[:excelerror] %></div>
        <% end %>
        <% if flash[:log] %>
            <div class="alert-success" id="errordiv" style="text-align: left;  clear: both; padding: 10px 85px;"><%= flash[:log] %></div>
        <% end %>
      </div>
      <div id="note">
        Note: Please do not use any other template or file as it would not be read.
      </div>

      <div id="imagesblock">
        <% if flash[:imageuploadnotice] %>
            <div class="alert-success" id="errordiv" style=" font-size: 18px;height: 40px;padding-top: 15px;padding-left: 12px;"><%= flash[:imageuploadnotice] %></div>
        <% end %>
        <% if flash[:imageuploaderror] %>
            <div class="alert-error" id="errordiv" style="text-align: left;  clear: both; padding: 10px 85px;"><%= flash[:imageuploaderror] %></div>
        <% end %>

        <div id="imagesblockhead">Upload Images For:</div>
        <div id="imagesblockbody">
          <%= form_tag({controller: "templates", action: "uploadallimages"}, multipart: true, :id => 1) do %>
              <input type="hidden" name="type" id="type1">

              <div id="categoryblock" style="margin-top: 10px;">
                <span style="float:left;width:23%;margin-left: 18%;">Categories</span>
                <input class="input-block-level images" id="image_name1" name="image_name[]" placeholder="Image" type="text" readonly>
                <span class="browse_file1">Browse</span>
                <input accept="image/*" class="hidden_browse_file1" type="file" name="avatar[]" id="uploadcatgoryimages" multiple>
                <%= submit_tag "Upload", :id => "Upload1", :class => "btn btn-primary", :type => "button", :style => "margin-left: 12px;float:left;width: 100px;height: 33px;", :onclick => 'return showloader(this.id)', :disabled => true %>
                <img src="/assets/adminimg/loader.gif" style="float: left; margin-left: 35px; margin-top: 8px;display:none;" id="loader1"/>
              </div>
          <% end %>

          <%= form_tag({controller: "templates", action: "uploadallimages"}, multipart: true, :id => 2) do %>
              <input type="hidden" name="type" id="type2">

              <div id="fooditemsblock" style="margin-top: 10px;">
                <span style="float:left;width:23%;margin-left: 18%;">Food Items</span>
                <input class="input-block-level images" id="image_name2" name="image_name[]" placeholder="Image" type="text" readonly>
                <span class="browse_file1">Browse</span>
                <input accept="image/*" class="hidden_browse_file1" type="file" name="avatar[]" id="uploadfooditemsimages" multiple>
                <%= submit_tag "Upload", :id => "Upload2", :class => "btn btn-primary", :type => "button", :style => "margin-left: 12px;float:left;width: 100px;height: 33px;", :onclick => 'return showloader(this.id)', :disabled => true %>
                <img src="/assets/adminimg/loader.gif" style="float: left; margin-left: 35px; margin-top: 8px;display:none;" id="loader2"/>
              </div>
          <% end %>

          <%= form_tag({controller: "templates", action: "uploadallimages"}, multipart: true, :id => 3) do %>
              <input type="hidden" name="type" id="type3">

              <div id="fooditemsblock" style="margin-top: 10px;">
                <span style="float:left;width:23%;margin-left: 18%;">Extras</span>
                <input class="input-block-level images" id="image_name3" name="image_name[]" placeholder="Image" type="text" readonly>
                <span class="browse_file1">Browse</span>
                <input accept="image/*" class="hidden_browse_file1" type="file" name="avatar[]" id="uploadextrasimages" multiple>
                <%= submit_tag "Upload", :id => "Upload3", :class => "btn btn-primary", :type => "button", :style => "margin-left: 12px;float:left;width: 100px;height: 33px;", :onclick => 'return showloader(this.id)', :disabled => true %>
                <img src="/assets/adminimg/loader.gif" style="float: left; margin-left: 35px; margin-top: 8px;display:none;" id="loader3"/>
              </div>
          <% end %>

          <%= form_tag({controller: "templates", action: "uploadallimages"}, multipart: true, :id => 4) do %>
              <input type="hidden" name="type" id="type4">

              <div id="drinksblock" style="margin-top: 10px;">
                <span style="float:left;width:23%;margin-left: 18%;">Drink Categories</span>
                <input class="input-block-level images" id="image_name4" name="image_name[]" placeholder="Image" type="text" readonly>
                <span class="browse_file1">Browse</span>
                <input accept="image/*" class="hidden_browse_file1" type="file" name="avatar[]" id="uploaddrinkscatgoriesimages" multiple>
                <%= submit_tag "Upload", :id => "Upload4", :class => "btn btn-primary", :type => "button", :style => "margin-left: 12px;float:left;width: 100px;height: 33px;", :onclick => 'return showloader(this.id)', :disabled => true %>
                <img src="/assets/adminimg/loader.gif" style="float: left; margin-left: 35px; margin-top: 8px;display:none;" id="loader4"/>
              </div>
          <% end %>

          <%= form_tag({controller: "templates", action: "uploadallimages"}, multipart: true, :id => 5) do %>
              <input type="hidden" name="type" id="type5">

              <div id="drinksblock" style="margin-top: 10px;">
                <span style="float:left;width:23%;margin-left: 18%;">Drinks</span>
                <input class="input-block-level images" id="image_name5" name="image_name[]" placeholder="Image" type="text" readonly>
                <span class="browse_file1">Browse</span>
                <input accept="image/*" class="hidden_browse_file1" type="file" name="avatar[]" id="uploaddrinksimages" multiple>
                <%= submit_tag "Upload", :id => "Upload5", :class => "btn btn-primary", :type => "button", :style => "margin-left: 12px;float:left;width: 100px;height: 33px;", :onclick => 'return showloader(this.id)', :disabled => true %>
                <img src="/assets/adminimg/loader.gif" style="float: left; margin-left: 35px; margin-top: 8px;display:none;" id="loader5"/>
              </div>
          <% end %>
        </div>
      </div>

    </div>
    <div class="text-center muted " id="footer_content">Obron Restaurant Waiter &copy; 2014.</div>
    <!-- ================== BEGIN BASE JS ================== -->
    <script data-turbolinks-track="true" src="/assets/jquery.js?body=1"></script>
    <script data-turbolinks-track="true" src="/assets/jquery_ujs.js?body=1"></script>
    <script data-turbolinks-track="true" src="/assets/application.js?body=1"></script>
    <script data-turbolinks-track="true" src="/assets/admin/bootstrap-dropdown.js"></script>
    <script data-turbolinks-track="true" src="/assets/admin/bootstrap-collapse.js"></script>
    <script data-turbolinks-track="true" src="/assets/admin/popup.js"></script>
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $('#errordiv').hide();
            }, 3000);

            setTimeout(function () {
                $('#othertemp').hide();
            }, 3000);

        });

        function check() {
            var filename = $('input[type=file]').val().replace(/C:\\fakepath\\/i, '');
            if (filename == "") {
                $('#filename').html("<span style='color:red'>Please select a file</span>");
                $('#filename').show();
                setTimeout(function () {
                    $('#filename').hide();
                }, 3000);
                return false;
            }

        }
        $("#hidden_browse_file").on("change", function () {
            var filename = $('input[type=file]').val().replace(/C:\\fakepath\\/i, '');
            substring = filename.split('.');
            extension = filename.substring(filename.lastIndexOf(".") + 1);
            if (substring[0].length >= 18) {
                filename = filename.substring(0, 18) + '...' + extension;
            }
            $('#filename').html(filename);
            $('#filename').show();
        });
        $("#uploadcatgoryimages").on("change", function () {
            $('#type1').val(1);
            var count = ($(this)[0].files.length);
            if (count == 1) {
                $('#image_name1').val("1 image selected ")
            } else {
                $('#image_name1').val(count + " images selected ");
            }
            $('#Upload1').removeAttr("disabled");
            $('#Upload2').prop("disabled", true);
            $('#Upload3').prop("disabled", true);
            $('#Upload4').prop("disabled", true);
            $('#Upload5').prop("disabled", true);
        });
        $("#uploadfooditemsimages").on("change", function () {
            $('#type2').val(2);
            var count = ($(this)[0].files.length);
            if (count == 1) {
                $('#image_name2').val("1 image selected ")
            } else {
                $('#image_name2').val(count + " images selected ");
            }
            $('#Upload2').removeAttr("disabled");
            $('#Upload1').prop("disabled", true);
            $('#Upload3').prop("disabled", true);
            $('#Upload4').prop("disabled", true);
            $('#Upload5').prop("disabled", true);
        });

        $("#uploadextrasimages").on("change", function () {
            $('#type3').val(3);
            var count = ($(this)[0].files.length);
            if (count == 1) {
                $('#image_name3').val("1 image selected ")
            } else {
                $('#image_name3').val(count + " images selected ");
            }
            $('#Upload3').removeAttr("disabled");
            $('#Upload1').prop("disabled", true);
            $('#Upload2').prop("disabled", true);
            $('#Upload4').prop("disabled", true);
            $('#Upload5').prop("disabled", true);
        });

        $("#uploaddrinkscatgoriesimages").on("change", function () {
            $('#type4').val(4);
            var count = ($(this)[0].files.length);
            if (count == 1) {
                $('#image_name4').val("1 image selected ")
            } else {
                $('#image_name4').val(count + " images selected");
            }
            $('#Upload4').removeAttr("disabled");
            $('#Upload1').prop("disabled", true);
            $('#Upload3').prop("disabled", true);
            $('#Upload3').prop("disabled", true);
            $('#Upload5').prop("disabled", true);
        });

        $("#uploaddrinksimages").on("change", function () {
            $('#type5').val(5);
            var count = ($(this)[0].files.length);
            if (count == 1) {
                $('#image_name5').val("1 image selected ")
            } else {
                $('#image_name5').val(count + " images selected");
            }
            $('#Upload5').removeAttr("disabled");
            $('#Upload1').prop("disabled", true);
            $('#Upload3').prop("disabled", true);
            $('#Upload4').prop("disabled", true);
            $('#Upload2').prop("disabled", true);
        });

        function showloader(submitid) {
            var id = submitid.charAt(6)
            $('#Upload' + id).hide();
            $('#loader' + id).show();
            var value = $('#image_name' + id).val();
            var totalimages = value.split('');
            var totalimagescount = totalimages[0];
            $.ajax({
                url: "/admins/getcategorycount",
                type: 'POST',
                data: {imagecount: totalimagescount, type: id, restaurantid: <%= session[:restaurant_id] %>},
                success: function (getdata) {
                    console.log(getdata);
                    if (getdata['log'] == "1") {
                        $('#showwarningmsg').val(id);
                        $('#showmessage').html(getdata['message']);
                        $("html, body").animate({scrollTop: 0});
                        $('#showwarningmsg').trigger('click');
                    } else {
                        $('#' + id).submit();
                    }
                }
            });
        }

        function submitform() {
            $('#popup_name2').hide();
            var id = $('#showwarningmsg').val();
            $('#' + id).submit();
        }
        //Close Popups and Fade Layer
        $('body').on('click', 'a.close2, #fade', function () {
            //When clicking on the close or fade layer...
            $('#fade , .popup_block').fadeOut(function () {
                        //$('#fade, a.close').remove();  //fade them both out
                        $('.Upload').show();
                    }
            );
            return false;

        });

    </script>
    </body>
    </html>
<% else %>
    <script>
        window.location.href = "/admins/sign_in";
    </script>

<% end %>