<style>
  .make_line{
      display: inline-flex;
  }
</style>
<section class="panel">
  <div class="adv-table">
  <table class="display table table-bordered" id="superadmin_ads_table">
    <thead>
    <tr>
      <th style="text-align: center"><i class=''></i>Ads</th>
      <th style="text-align: center"><i class=""></i> Descrition</th>
      <th style="text-align: center"><i class=""></i>Status</th>
    </tr>
    </thead>
    <tbody>
    <% @ads.each do |ad| %>
    <tr>
      <td style="width: 33%;text-align: center;">
        <div class="col-lg-3"><% if ad.ad_type == 1 %>
            <img src="<%= ad.avatar.url(:medium) %>" alt="Nature Portfolio" style=" border-radius: 25px; width: 120px; height: 120px;"/>
        <% else %>
            <video controls style="border-radius: 25px;">
              <source src="<%= ad.avatar.url %>" type="video/mp4">
            </video>
        <% end %>
        </div>
      </td>
      <td style="text-align: center;"><span class="label label-info label-mini"><%= ad.ads_subscription.name rescue ''%></span></td>
      <td style="text-align: center;">
         <%= button_to(ad_settings_path(:id => ad.id, :ad_setting => ad.ad_settings), :form_class => "make_line", :class => 'btn btn-success btn-xs', :id=> 'super_admin_ad_form') do %>
               <i class="icon-off"></i> <%= ad.ad_settings==1 ? 'Disable' : 'Enable' %>
            <%= hidden_field_tag('ad_id',  ad.id, :id=> 'ad_id' ) %>
            <%= hidden_field_tag('ad_setting',  ad.ad_settings, :id=> 'ad_setting' ) %>
        <% end %>
        <%= button_to(ad_destroy_path(:id => ad.id), :form_class => "make_line", :class => 'btn btn-danger btn-xs',:id=> 'super_admin_ad_destroy_form', :method => 'delete') do %>
            <i class="icon-trash"></i> Delete
            <%= hidden_field_tag('ad_id',  ad.id, :id=> 'ad_id' ) %>
            <%= hidden_field_tag('ad_setting',  ad.ad_settings, :id=> 'ad_setting' ) %>
        <% end %>

      </td>
    </tr>
    <% end %>
      </tbody>
      </table>
  </div>
    </section>