<label for="exampleInputEmail1">City</label>
<%= select_tag 'restaurantdetail_city', options_for_select(@cities.collect{ |u| [u.city] }), {:prompt => 'Select City', :class => 'form-control input-sm m-bot15'} %>