<%= content_for :header do %>
    <%= javascript_include_tag 'super_admin', 'jquery.dataTables.min', 'DT_bootstrap.js','data-turbolinks-track' => true %>
<% end %>
<section class="panel">
  <header class="panel-heading">
    <strong>Control Ads</strong>
  </header>
  <div class="panel-body">
    <form role="form" class="cmxform" id="superadmin_adcontrol">
      <div class="form-group col-lg-3">
        <label for="exampleInputEmail1">Country</label>
        <%= country_select(:restaurantdetail, :country, {priority: %w(US CA), prompt: 'Select Country'}, :class => "form-control input-sm m-bot15") %>
      </div>
      <div class="form-group col-lg-3 ">
        <label for="exampleInputPassword1">State</label>
        <div id="country_state_code_wrapper">
        <%= render partial: 'admin/registrations/subregion_select', locals: {parent_region: ''} %>
        </div>
      </div>
      <div class="form-group col-lg-6" style="margin-top: 20px;">
        <label for="exampleInputPassword1"></label>
        <button type="button" class="btn btn-info" onclick="getrestaurantcity();">Get City</button>
      </div>
    </form>
  </div>
  <div class="panel-body">
    <form role="form">
      <div id="superadmin_getcities" class=" form-group col-lg-3"></div>
      <div id="superadmin_getrestaurantdetails" class=" form-group col-lg-3"></div>
    </form>
  </div>

</section>

<section class="panel">
  <header class="panel-heading">
    Ads Details
  </header>
  <div class="panel-body" id="super_admin_ad_details">
    <div class="adv-table">
    <%= render :partial => 'super_admin/ad_details' %>
    </div>
  </div>
</section>


<script>
    $(document).on('ready', function() {
        $('#superadmin_ads_table').dataTable({
            "iDisplayLength": 10,
            "sPaginationType": "bootstrap",
            "sDom": "<'row'<'col-lg-6'l><'col-lg-6'f>r>t<'row'<'col-lg-6'i><'col-lg-6'p>>",
            "oLanguage": {
                "sLengthMenu": "_MENU_ records per page",
                "oPaginate": {
                    "sPrevious": "Prev",
                    "sNext": "Next"
                }
            }
        });
        jQuery('#superadmin_ads_table_wrapper .dataTables_filter input').addClass("form-control medium"); // modify table search input
        jQuery('#superadmin_ads_table_wrapper .dataTables_length select').addClass("form-control xsmall"); // modify table per page dropdown
    });
</script>

