<% content_for :header do %>
    <%= javascript_include_tag 'super_admin.js', 'jquery.dataTables.min', 'DT_bootstrap.js', 'data-turbolinks-track' => true %>
    <style>
        @media only screen and (min-width: 400px ) and (max-width: 1660px ){
            thead th{
                height: 50px !important;
            }
            tbody td{
                height: 50px !important;
            }
        }
        .button_to{
            background:none!important;
            border:none;
            padding:0!important;
            color:#069;
            cursor: pointer;
        }
        .button_to:hover{
            color:#000;
        }
    </style>
<% end %>
<section class="panel">
<header class="panel-heading">
  <strong>Our Customers</strong>
</header>
<div class="panel-body">
  <section id="flip-scroll">
<table  class="table table-bordered table-striped table-condensed cf dataTable" id="restaurantTable">
<thead class="cf">
<tr>
  <th>Restaurant Name</th>
  <th>Address </th>
  <th>Phone</th>
  <th>Email</th>
  <th>Registration Date</th>
  <th>Actions</th>
</tr>
</thead>
<tbody>
<% @restaurants.each do |restaurant| %>
<tr>
  <td>
    <% if @ec %>
        <%= link_to restaurant.restaurant_name, admin_session_path(:id => restaurant.id, :super_admin => true) ,:class => 'button_to', :target => "_blank", :method => 'post'%>
    <% else %>
    <%= restaurant.restaurant_name rescue '' %>
    <% end %>
   </td>
  <td><%= restaurant.address1 rescue ''%>,<br>&nbsp;<%= restaurant.address2%></td>
  <td><%= restaurant.phone1 rescue ''%>,<br>&nbsp;<%= restaurant.phone2 rescue '' %></td>
  <td><%= restaurant.restaurant_email rescue '' %></td>
  <td><%= restaurant.created_at.strftime("%Y-%m-%d") rescue '' %></td>
  <td>
    <% if @ec %>
        <% unless restaurant.admin.nil? %>
            <button id="update_admin_id" admin_id="<%=restaurant.admin.id rescue nil %>" type="button" class="btn btn-primary update_admin_id_<%= restaurant.admin.id %>"><%= restaurant.admin.active ? 'Disable' : 'Enable' %></button>
        <% end %>
    <% else %>
        <%= link_to 'Follow', "#", :class => "btn btn-warning" %>
    <% end %>
   </td>
</tr>
<% end %>
</tbody>
</table>
</section>
</div>
</section>
<script type="text/javascript">
    $(document).ready(function() {
        $('#restaurantTable').dataTable( {
            "iDisplayLength": 10,
            "sPaginationType": "bootstrap",
            "sDom": "<'row'<'col-lg-6'l><'col-lg-6'f>r>t<'row'<'col-lg-6'i><'col-lg-6'p>>",
            "oLanguage": {
                "sLengthMenu": "_MENU_ records per page",
                "oPaginate": {
                    "sPrevious": "Prev",
                    "sNext": "Next"
                }
            }
        } );
        jQuery('#restaurantTable_wrapper .dataTables_filter input').addClass("form-control medium"); // modify table search input
        jQuery('#restaurantTable_wrapper .dataTables_length select').addClass("form-control xsmall"); // modify table per page dropdown
    } );
</script>
