<% content_for :header do %>
    <%= javascript_include_tag 'super_admin.js', 'jquery.dataTables.min','DT_bootstrap.js',  'data-turbolinks-track' => true %>
<style>
    @media only screen and (min-width: 500px ) and (max-width: 1660px ){
    .payment_class {
        width: 132px !important;
    }
        thead th{
            height: 60px !important;
        }
        tbody td{
            height: 60px !important;
        }
    }
</style>

<% end %>
<section class="panel">
  <header class="panel-heading">
    <strong>Restaurants Users Detail</strong>
  </header>
  <div class="panel-body">
    <section id="flip-scroll">
      <table  class="table table-bordered table-striped table-condensed cf" id="users">
        <thead class="cf">
        <tr>
          <th>Restaurant Name</th>
          <th>Restaurant ID</th>
          <th>Restaurant Address</th>
          <th>Email</th>
          <th class="payment_class">Payment Received</th>
          <th>Date</th>
          <th>Status of Registration</th>
        </tr>
        </thead>
        <tbody>
        <% @restaurants.each do |restaurant| %>
        <tr>
          <td><%= restaurant.restaurant_name %></td>
          <td><%= restaurant.rid %></td>
          <td><%= restaurant.full_street_address %></td>
          <td><%= restaurant.restaurant_email %></td>
          <td id="amount_paid_by_admin_<%= restaurant.admin.id rescue nil%>">
            <% if restaurant.admin.amount_paid.nil?%>
                <div  class="input-group m-bot15">
                  <span class="input-group-addon">$</span>
                  <%= text_field_tag "amount_paid_#{restaurant.admin.id rescue nil}",nil,:class=>"form-control input-sm m-bot15 floatclass payment_class", :onkeyup => "enableConfirmButton(this)"%>
                </div>
            <% else %>
                $ <%= restaurant.admin.amount_paid %>
            <% end %>
           </td>
          <td><%= restaurant.created_at.strftime("%Y-%m-%d") %></td>
          <td id="restaurant_status_<%= restaurant.admin.id rescue nil %>" style="text-align: center;display: inline-flex;">
             <% unless restaurant.admin.nil? %>
                <% if restaurant.admin.confirm_status==1%>
                    <button type="button" class="btn btn-default" disabled>Confirmed</button>&nbsp;
                    <button type="button" class="btn btn-danger" onclick="confirm_payment_status(<%= restaurant.admin.id rescue nil %>, '0')">Reject</button>
                <% else %>
                    <button type="button" class="btn btn-success confirm_paid_user" id="confirm_paid_user_<%= restaurant.admin.id %>" onclick="confirm_payment_status(<%= restaurant.admin.id  rescue nil %>, '1')">Confirm</button>
                <% end %>
             <% end %>
          </td>
        </tr>
        <% end %>
          </tbody>
          </table>
    </section>
      </div>
    </section>

<script>
    $(document).on('ready', function() {
        $('#users').dataTable({
            "iDisplayLength": 10,
            "sPaginationType": "bootstrap",
            "sDom": "<'row'<'col-lg-6'l><'col-lg-6'f>r>t<'row'<'col-lg-6'i><'col-lg-6'p>>",
            "oLanguage": {
                "sLengthMenu": "_MENU_ records per page",
                "oPaginate": {
                    "sPrevious": "Prev",
                    "sNext": "Next"
                }
            }
        });
        jQuery('#users_wrapper .dataTables_filter input').addClass("form-control medium"); // modify table search input
        jQuery('#users_wrapper .dataTables_length select').addClass("form-control xsmall"); // modify table per page dropdown

    });

</script>

