<% content_for :header do %>
    <%= stylesheet_link_tag 'report_css/report', 'report_css/daterangepicker', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'report_js/highcharts.js', 'report_js/moment', 'report_js/daterangepicker','report_js/super_admin_report.js', 'data-turbolinks-track' => true %>
<% end %>
<section class="panel">
  <div class="col-lg-10">
    <div class="panel">
      <header class="panel-heading">
        <strong>View Reports</strong>
      </header>
      <div class="panel-body">

        <div class="tab-pane active" id="home"><%= render :partial => 'super_admin/report/restaurant' %></div>

      </div>
    </div>
  </div>
  <div class="col-lg-2">
    <aside style="float:right;background: url('/assets/report_img/sand.png');height: 100%;position: fixed; width:225px;right:0;border-left: 3px solid #D4D7D9;">

      <div class="top-nav ">
        <div class="selectboxdiv">
          <div class="Mainselectbox">
            <legend style="margin-left: 10px; height: 40px;font-weight: bold;font-family: Helvetica;">Filters</legend>
            <fieldset>
              <div class="selectboxes">
                <legend>Time Period</legend>
                <select id="date_dropdown" class="form-control input-sm m-bot15">
                  <option value="7">Current Month</option>
                  <option value="8">Last Month</option>
                  <option value="5">Last Quarter</option>
                  <option value="3">Last Year</option>
                  <option value="4">All Time</option>
                  <option value="6">Custom Range</option>
                </select>
              </div>
            </fieldset>
          </div>
          <div class="input-prepend">
            <input id="report_date_range" style="display:none;width: 200px;margin-left: 10px;" type="text" placeholder="Date Range" class="reservation form-control input-sm m-bot15"/>
          </div>


          <fieldset>
            <div class="selectboxes">
              <legend>Country</legend>
              <%= select_tag 'report_country', options_for_select(@countries.inject([]) {|arr, value| arr << value.map{|k, v| [v,k]}.flatten; arr }), {:prompt => 'All Country', :class => 'form-control  input-sm m-bot15'} %>
            </div>
          </fieldset>

          <fieldset>
            <div class="selectboxes"  id="report_state_select_id">
            </div>
          </fieldset>

          <fieldset>
            <div class="selectboxes" id="report_city_select_id">

            </div>
          </fieldset>

          <fieldset>
            <div class="selectboxes" id="report_restaurant_select_id">

            </div>
          </fieldset>

          <div class="col-lg-10">
            <button type="button" id="report_filters" class="btn btn-success" style="width: 200px;margin-left: -5px;height: 40px;">Apply</button>
          </div>
        </div>
      </div>
    </aside>

  </div>
</section>