<!DOCTYPE html>
<html>
<head>
  <title>Restaurant Waiter Super Admin Panel</title>
  <%= stylesheet_link_tag 'bootstrap.min.css','bootstrap-reset.css', 'font-awesome.css', 'table-responsive.css', 'style.css','style-responsive.css', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery','jquery_ujs','websocket_rails/main','jquery-ui-1.9.2.custom.min.js', 'bootstrap.min.js', 'bootbox.min.js', 'jquery.scrollTo.min.js','jquery.nicescroll.js','respond.min.js','common-scripts.js','data-turbolinks-track' => true %>
  <%= yield :header %>
  <%= csrf_meta_tags %>
  <script>
      var dispatcher = new WebSocketRails('obronwaiter.com/websocket');
      channel = dispatcher.subscribe('posts');
      channel.bind('new', function(admin) {
          var admin_id =admin.id;
          var success = admin.confirm_status;
          var amount_paid = admin.amount_paid;
          $.get('/6S2C2585/superadmin/get_notification',function(data){
              $("#top_menu").html(data)
              if(success=='1'){
                  $("#restaurant_status_"+admin_id).html('').append('<button type="button" class="btn btn-default" disabled>Confirmed</button>&nbsp;<button type="button" class="btn btn-danger" onclick="confirm_payment_status('+admin_id+', 0)">Reject</button>')
                  $("#amount_paid_by_admin_"+admin_id).html("$ "+ amount_paid);
              }else{
                  $("#restaurant_status_"+admin_id).html('').append('<button type="button" class="btn btn-success" id="confirm_paid_user_'+ admin_id +'" onclick="confirm_payment_status('+admin_id+', 1)" disabled="disabled" >Confirm</button>')
                  $("#amount_paid_by_admin_"+admin_id).html('').append('<div  class="input-group m-bot15"><span class="input-group-addon">$</span><input class="form-control input-sm m-bot15 floatclass" id="amount_paid_'+admin_id+'" name="amount_paid_'+admin_id+'" type="text" onkeyup= "enableConfirmButton(this)">');
              }
          })
      });
  </script>
</head>
<body>
<section id="container" class="">
  <!--header start-->
  <header class="header white-bg">
    <div class="sidebar-toggle-box">
      <div data-original-title="Toggle Navigation" data-placement="right" class="icon-reorder tooltips"></div>
    </div>
    <!--logo start-->
    <a href="#" class="logo">Restaurant <span>Waiter</span></a>
    <!--logo end-->
    <div class="nav notify-row" id="top_menu">
        <%= render :partial => "super_admin/shared/notification" %>
    </div>
    <!--logo end-->

    <div class="top-nav ">
      <!--search & user info start-->
      <ul class="nav pull-right top-menu">
        <!-- user login dropdown start-->
        <li class="dropdown">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <img alt="" src="/assets/profile.jpg" width="29px" height="29px">
            <span class="username"><%= current_super_admin.email %></span>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu extended logout">
            <div class="log-arrow-up"></div>
            <li>.</li>
            <li><a href="<%= edit_super_admin_registration_path %>"><i class=" icon-suitcase"></i>Profile</a></li>
            <li>.</li>
            <li><%= link_to "<i class='icon-key'></i>Sign out".html_safe, destroy_super_admin_session_path, :method => :delete %></li>
          </ul>
        </li>
        <!-- user login dropdown end -->
      </ul>
      <!--search & user info end-->
    </div>
  </header>
  <!--header end-->
  <!--sidebar start-->
  <aside>
    <div id="sidebar"  class="nav-collapse ">
      <!-- sidebar menu start-->
      <ul class="sidebar-menu">
        <li class="<%= @register_class %>">
          <a class="" href="<%= new_admin_registration_path %>">
            <i class="icon-dashboard"></i>
            <span>New Users Register</span>
          </a>
        </li>
        <li class="<%= @confirm_class %>">
          <a href="<%= all_admin_index_path %>" class="">
            <i class="icon-book"></i>
            <span>Paid Users</span>
          </a>
        </li>
        <li class="<%= @ads_class %>">
          <a href="<%= ad_control_path %>" class="">
            <i class="icon-cogs"></i>
            <span>Ads-Control</span>
          </a>
        </li>
        <% if can? :manage, AdsSubscription %>
            <li class="<%= @subscription_class %>">
              <a href="<%= ads_subscriptions_path %>" class="">
                <i class="icon-tasks"></i>
                <span>Change-Subscription</span>
              </a>
            </li>
        <% end %>
        <li class="sub-menu <%= @li_active %>">
          <a class="" href="javascript:;">
            <i class="icon-envelope"></i>
            <span>Our Customers</span>
            <span class="arrow <%=@customer_open %>"></span>
          </a>
          <ul class="sub" style="display: <%= @customer_block %>;">
            <li class="<%= @ec %>"><a class="" href="<%= view_customers_path %>">Existing Customers</a></li>
            <li class="<%= @nc %>"><%= link_to 'New Customers', new_customers_path %></li>
          </ul>
        </li>
        <li class="sub-menu <%= @report_class %>">
          <a class="" href="javascript:;">
            <i class="icon-envelope"></i>
            <span>Reports</span>
            <span class="arrow <%=@open %>"></span>
          </a>
          <ul class="sub" style="display: <%= @block %>;">
            <li class="<%= @user_class %>"><a class="" href="<%= report_path %>">Users Graph</a></li>
            <li class="<%= @restaurant_class %>"><a class="" href="<%= restaurant_report_path %>">Restaurant Users</a></li>
          </ul>
        </li>
        <% if can? :manage, Role  %>
            <li class="sub-menu <%= @role_class %>">
              <a class="" href="javascript:;">
                <i class="icon-pencil"></i>
                <span>Role & Permission</span>
                <span class="arrow <%=@open_role %>"></span>
              </a>
              <ul class="sub" style="display: <%= @role_block %>;">
                <li class="<%= @super_admin_class %>"><a class="" href="<%= new_super_admin_registration_path %>">Create New user</a></li>
                <li class="<%= @role_path_class %>"><a class="" href="<%= roles_path %>">Roles</a></li>
              </ul>
            </li>
        <% end %>

      </ul>
      <!-- sidebar menu end-->
    </div>
  </aside>
  <!--sidebar end-->
  <!--main content start-->
  <section id="main-content">
    <section class="wrapper">
      <% if flash[:error] %>
          <div class="alert alert-block alert-danger fade in">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong><%= flash[:error] %></strong>
          </div>
      <%end%>
      <% if flash[:notice] %>
          <div class="alert alert-block alert-danger fade in">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong><%= flash[:notice] %></strong>
          </div>
      <%end%>
      <% if flash[:success] %>
          <div class="alert alert-success fade in">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong><%= flash[:success] %></strong>
          </div>
      <%end%>
      <%= yield %>
      <div id="wait" style="display:none;width:69px;height:89px;border:1px solid black;position:absolute;top:50%;left:50%;padding:2px;"><img src='/assets/loader.gif' width="64" height="64" /><br>Loading..</div>
    </section>
  </section>
  <!--main content end-->
</section>

</body>

</html>
