<!DOCTYPE html>
<html>
<head>
  <title>RWA</title>
  <%= stylesheet_link_tag    'bootstrap', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery', 'jquery_ujs', 'bootstrap', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <% if super_admin_signed_in? %>
      Signed in as <%= current_super_admin.email %>. Not you?
      <%= link_to "Sign out", destroy_super_admin_session_path, :method => :delete %>
  <% end %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
</div>
</body>

</html>
