<h3>Signup </h3>
<%= form_tag(controller: "registrations", action: "create") do %>
    <%= label_tag(:email, "email") %>
    <%= text_field_tag(:email) %><br>

    <%= label_tag(:username, "username") %>
    <%= text_field_tag(:username) %><br>


  <!--  <%= label_tag(:fb_id, "fb_id") %>
    <%= text_field_tag(:fb_id) %><br>

    <%= label_tag(:fb_access_token, "fb_access_token") %>
    <%= text_field_tag(:fb_access_token) %><br>
-->
    <%= label_tag(:password, "password") %>
    <%= text_field_tag(:password) %><br>

    <%= label_tag(:device_type, "device_type") %>
    <%= text_field_tag(:device_type) %><br>

    <%= label_tag(:device_token, "device_token") %>
    <%= text_field_tag(:device_token) %><br>
    
     <%= label_tag(:app_version, "app_version") %>
    <%= text_field_tag(:app_version) %><br>

    <%= submit_tag("submit")%>
<% end %>



