<% content_for :header do %>
    <%= javascript_include_tag 'super_admin.js', 'jquery.dataTables.min','DT_bootstrap.js','editable-table',  'data-turbolinks-track' => true %>
    <style>
        @media only screen and (min-width: 500px ) and (max-width: 1660px ){
            .select_subscription_class {
                width: 100px !important;
            }
        }
    </style>
<% end %>
    <!-- page start-->
    <section class="panel">
      <header class="panel-heading">
        <strong>Manage Subscriptions</strong>
      </header>
      <div class="panel-body">
      <div class="adv-table">
          <div class="clearfix">
            <div class="btn-group">
              <button id="editable-sample_new" class="btn green">
                Add New <i class="icon-plus"></i>
              </button>
            </div>
          </div>
          <div class="space15"></div>
          <table class="display table table-bordered" id="editable-sample">
            <thead>
            <tr>
              <th>Name</th>
              <th>Ad Type</th>
              <th>Short Name</th>
              <th>No Of Days</th>
              <th>Price</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <% @super_admin_ads_subscriptions.each do |ads_subscription| %>
            <tr class="">
              <td ad_id="<%= ads_subscription.id %>"><%= ads_subscription.name %></td>
              <td><%= ads_subscription.ad_type %></td>
              <td><%= ads_subscription.short_name %></td>
              <td><%= ads_subscription.no_of_days %></td>
              <td><div class="input-group m-bot15" style="width: 125px;">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control floatclass" value="<%= ads_subscription.price %>" readonly>
              </div></td>

              <td><a class="edit" href="javascript:;">Edit</a></td>
              <td><a class="delete" href="javascript:;">Delete</a></td>
            </tr>
            <% end %>
            </tbody>
          </table>
      </div>
      </div>
    </section>
    <!-- page end-->

    <script type="text/javascript">
        jQuery(document).ready(function() {
            EditableTable.init();
        });
    </script>