<style>
  @media only screen and (min-width: 500px) and (max-width: 1660px) {
      .login_window{
          width: 380px !important;
          margin: 0 auto !important;
      }
  }

</style>
<div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default login_window">
      <div class="panel-heading"> <strong class="">Login</strong>

      </div>
      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name),:html => {:class => "form-horizontal"}) do |f| %>
          <div class="form-group">
            <%= f.label :email, :class=> 'col-sm-3 control-label' %>
            <div class="col-sm-9">
              <%= f.email_field :email, autofocus: true, :placeholder => "Email", :class=>"form-control", :required => "" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :password, :class=> 'col-sm-3 control-label' %>
            <div class="col-sm-9">
              <%= f.password_field :password, autocomplete: "off", :placeholder => "Password", :class=>"form-control", :required => "" %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              <div class="checkbox">
                <label class="">
                  <%= f.check_box :remember_me %>Remember me
                </label>
              </div>
            </div>
          </div>
          <div class="form-group last">
            <div class="col-sm-offset-3 col-sm-9">
              <%= f.submit "Log in", :class => "btn btn-success btn-sm" %>
              <button type="reset" class="btn btn-default btn-sm">Reset</button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>


