<script>
    $(function () {
        Highcharts.theme = {
            colors: ['#058DC7', '#50B432', '#ED561B', '#DDDF00', '#24CBE5', '#64E572',
                '#FF9655', '#FFF263', '#6AF9C4'],
            chart: {
                backgroundColor: {
                    linearGradient: [0, 0, 500, 500],
                    stops: [
                        [0, 'rgb(255, 255, 255)'],
                        [1, 'rgb(240, 240, 255)']
                    ]
                },
                resetZoomButton: {
                    position: {
                        align: 'right', // by default
                        verticalAlign: 'top', // by default
                        x: -10,
                        y: 10
                    },
                    relativeTo: 'chart'
                }
            },
            title: {
                style: {
                    color: '#000',
                    font: 'bold 16px "Trebuchet MS", Verdana, sans-serif'
                }
            },
            subtitle: {
                style: {
                    color: '#666666',
                    font: 'bold 12px "Trebuchet MS", Verdana, sans-serif'
                }
            },

            legend: {
                itemStyle: {
                    font: '9pt Trebuchet MS, Verdana, sans-serif',
                    color: 'black'
                },
                itemHoverStyle:{
                    color: 'gray'
                }
            }
        };
        Highcharts.setOptions(Highcharts.theme,{
            global: {
                useUTC: false
            }
        });
        window.chart = new Highcharts.Chart({
            chart: {
                renderTo: 'graph_container1',
                type: 'column',
                zoomType: 'x'
            },
            title: {
                text: 'Total Users Arrived <%= @country_name.blank? ? '' : " in #{@country_name}" %> <%= @state_name.blank? ? '' : " in state #{@state_name}" %> <%= @city_name.blank? ? '' : " in city #{@city_name}" %><%= @restaurant_name.blank? ? '' : " in Restaurant #{@restaurant_name}"%> '
            },
            xAxis: {
                categories: <%= raw(@current_month_dates.map{|date| date.strftime("%d %b, %y")}) %>
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Users Count'
                },
                stackLabels: {
                    enabled: true,
                    style: {
                        fontWeight: 'bold',
                        color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                    }
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Users',
                data: <%= raw(@current_month_dates.map{|date| @count[date]}) %>
            }]
        });
    });
    $(function () {
        Highcharts.theme = {
            colors: ['#058DC7', '#50B432', '#ED561B', '#DDDF00', '#24CBE5', '#64E572',
                '#FF9655', '#FFF263', '#6AF9C4'],
            chart: {
                backgroundColor: {
                    linearGradient: [0, 0, 500, 500],
                    stops: [
                        [0, 'rgb(255, 255, 255)'],
                        [1, 'rgb(240, 240, 255)']
                    ]
                }
            },
            title: {
                style: {
                    color: '#000',
                    font: 'bold 16px "Trebuchet MS", Verdana, sans-serif'
                }
            },
            subtitle: {
                style: {
                    color: '#666666',
                    font: 'bold 12px "Trebuchet MS", Verdana, sans-serif'
                }
            },

            legend: {
                itemStyle: {
                    font: '9pt Trebuchet MS, Verdana, sans-serif',
                    color: 'black'
                },
                itemHoverStyle:{
                    color: 'gray'
                }
            }
        };
        Highcharts.setOptions(Highcharts.theme,{
            global: {
                useUTC: false
            }
        });
        window.chart = new Highcharts.Chart({
            chart: {
                renderTo: 'graph_container2',
                type: 'column',
                zoomType: 'x'
            },
            title: {
                text: 'Total Bill Paid'
            },
            xAxis: {
                categories: <%= raw(@current_month_dates.map{|date| date.strftime("%d %b, %y")}) %>
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Amount'
                },
                stackLabels: {
                    enabled: true,
                    style: {
                        fontWeight: 'bold',
                        color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                    }
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0">$ <b>{point.y}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Total Bill Paid',
                data: <%= raw(@current_month_dates.map{|date| @amount_paid[date]}) %>
            }]
        });
    });
</script>
<div id="graph_container1" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<div id="graph_container2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
