<legend>Restaurant</legend>
<%= select_tag 'report_restaurant', options_for_select(@restaurants.collect{ |u| [u.restaurant_name, u.id] }), {:prompt => 'Select Restaurant', :class => 'form-control  input-sm m-bot15'} %>