  <legend>State</legend>
  <%= select_tag 'report_state', options_for_select(@states.inject([]) {|arr, value| arr << value.map{|k, v| [v,k]}.flatten; arr }), {:prompt => 'Select State', :class => 'form-control  input-sm m-bot15'} %>