<h3>Get all Categories </h3>
<%= form_tag(controller: "drinks", action: "getalldrinkcategories") do %>
    <%= label_tag(:useraccesstoken, "useraccesstoken") %>
    <%= text_field_tag(:useraccesstoken) %><br>
    <%= label_tag(:restaurantid, "restaurantid") %>
    <%= text_field_tag(:restaurantid) %><br>
    <%= label_tag(:timezone, "timezone") %>
    <%= text_field_tag(:timezone) %><br>
    <%= submit_tag("submit")%>
<% end %>


<h3>Get all drinks in a Category </h3>
<%= form_tag(controller: "drinks", action: "getalldrinks") do %>
    <%= label_tag(:useraccesstoken, "useraccesstoken") %>
    <%= text_field_tag(:useraccesstoken) %><br>
    <%= label_tag(:drinkcategoryid, "drinkcategoryid") %>
    <%= text_field_tag(:drinkcategoryid) %><br>
     <%= label_tag(:timezone, "timezone") %>
    <%= text_field_tag(:timezone) %><br>
     <%= label_tag(:restaurantid, "restaurantid") %>
    <%= text_field_tag(:restaurantid) %><br>
    <%= submit_tag("submit")%>
<% end %>


<h3>Get drink detail </h3>
<%= form_tag(controller: "drinks", action: "getdrinkdetail") do %>
    <%= label_tag(:useraccesstoken, "useraccesstoken") %>
    <%= text_field_tag(:useraccesstoken) %><br>
    <%= label_tag(:drinkid, "drinkid") %>
    <%= text_field_tag(:drinkid) %><br>
     <%= label_tag(:timezone, "timezone") %>
    <%= text_field_tag(:timezone) %><br>
    <%= submit_tag("submit")%>
<% end %>
