
  <!--  notification start -->
  <ul class="nav top-menu">
    <!-- notification dropdown start-->

    <li id="header_notification_bar" class="dropdown">
      <a data-toggle="dropdown" class="dropdown-toggle" href="#">

        <i class="icon-bell-alt"></i>
        <span class="badge bg-warning"><%= @admin_notification.count %></span>
      </a>
      <ul class="dropdown-menu extended notification">
        <div class="notify-arrow notify-arrow-yellow"></div>
        <li>
          <p class="yellow">You have <%= @admin_notification.count %> new notifications</p>
        </li>
        <% @admin_notification.each do |admin| %>
            <li>
              <a href="<%= all_admin_index_path %>#restaurant_status_<%= admin.id %>" style="white-space: inherit;">
                <span class="label label-success"><i class="icon-globe"></i></span>
                <%= admin.email %> has paid the fees on
                <span class="small italic"><%= admin.updated_at.strftime("%Y-%m-%d at %I:%M%p") %></span>
              </a>
            </li>
        <% end %>
      </ul>
    </li>
    <!-- notification dropdown end -->
  </ul>
