<h3>Add Order</h3>
<%= form_tag(controller: "orders", action: "addorder") do %>
    <%= label_tag(:useraccesstoken, "useraccesstoken") %>
    <%= text_field_tag(:useraccesstoken) %><br>
    <%= label_tag(:fooditemid, "fooditemid") %>
    <%= text_field_tag(:fooditemid) %><br>
    <%= label_tag(:price, "price") %>
    <%= text_field_tag(:price) %><br>
    <%= label_tag(:quantity, "quantity") %>
    <%= text_field_tag(:quantity) %><br>
    <%= label_tag(:size, "size") %>
    <%= text_field_tag(:size) %><br>
    <%= label_tag(:extrasid, "extrasid") %>
    <%= text_field_tag(:extrasid) %><br>
    <%= label_tag(:extrasquantity, "extrasquantity") %>
    <%= text_field_tag(:extrasquantity) %><br>
    <%= label_tag(:extrasprice, "extrasprice") %>
    <%= text_field_tag(:extrasprice) %><br>
    <%= label_tag(:drinksid, "drinksid") %>
    <%= text_field_tag(:drinksid) %><br>
    <%= label_tag(:drinksizes, "drinksizes") %>
    <%= text_field_tag(:drinksizes) %><br>
    <%= label_tag(:drinkquantity, "drinkquantity") %>
    <%= text_field_tag(:drinkquantity) %><br>
    <%= label_tag(:drinkprice, "drinkprice") %>
    <%= text_field_tag(:drinkprice) %><br>
    <%= label_tag(:restaurant_id, "restaurant_id") %>
    <%= text_field_tag(:restaurant_id) %><br>
    <%= label_tag(:total_bill, "total_bill") %>
    <%= text_field_tag(:total_bill) %><br>
      <%= label_tag(:orderid, "orderid") %>
    <%= text_field_tag(:orderid) %><br>
    <%= submit_tag("submit")%>
<% end %>


<h3>Add Order</h3>
<%= form_tag(controller: "orders", action: "revieworder") do %>
    <%= label_tag(:useraccesstoken, "useraccesstoken") %>
    <%= text_field_tag(:useraccesstoken) %><br>
    <%= submit_tag("submit")%>
<% end %>


<h3>Confirm order</h3>
<%= form_tag(controller: "orders", action: "confirmorder") do %>
    <%= label_tag(:useraccesstoken, "useraccesstoken") %>
    <%= text_field_tag(:useraccesstoken) %><br>
    <%= label_tag(:orderid, "orderid") %>
    <%= text_field_tag(:orderid) %><br>
    <%= submit_tag("submit")%>
<% end %>




<h3>Order History</h3>
<%= form_tag(controller: "orders", action: "history") do %>
    <%= label_tag(:useraccesstoken, "useraccesstoken") %>
    <%= text_field_tag(:useraccesstoken) %><br>
    <%= submit_tag("submit")%>
<% end %>



<h3>Order pay later History</h3>
<%= form_tag(controller: "orders", action: "paylaterhistory") do %>
    <%= label_tag(:useraccesstoken, "useraccesstoken") %>
    <%= text_field_tag(:useraccesstoken) %><br>
    <%= submit_tag("submit")%>
<% end %>


<h3>Check Can order or not </h3>
<%= form_tag(controller: "orders", action: "checkrestauranttimings") do %>
    <%= label_tag(:useraccesstoken, "useraccesstoken") %>
    <%= text_field_tag(:useraccesstoken) %><br>
    <%= label_tag(:restaurant_id, "restaurant_id") %>
    <%= text_field_tag(:restaurant_id) %><br>
     <%= label_tag(:timezone, "timezone") %>
    <%= text_field_tag(:timezone) %><br>
    <%= submit_tag("submit")%>
<% end %>