<h3>Get all Categories </h3>
<%= form_tag(controller: "payment", action: "paymenttransactions") do %>
    <%= label_tag(:useraccesstoken, "useraccesstoken") %>
    <%= text_field_tag(:useraccesstoken) %><br>
    <%= label_tag(:tip, "tip") %>
    <%= text_field_tag(:tip) %><br>
    <%= label_tag(:orderid, "orderid") %>
    <%= text_field_tag(:orderid) %><br>
    <%= label_tag(:stripe_token, "stripe_token") %>
    <%= text_field_tag(:stripe_token) %><br>
    <%= label_tag(:cardnumber, "cardnumber") %>
    <%= text_field_tag(:cardnumber) %><br>
    <%= label_tag(:totalamount, "totalamount") %>
    <%= text_field_tag(:totalamount) %><br>
    <%= label_tag(:flag, "flag") %>
    <%= text_field_tag(:flag) %><br>
    <%= label_tag(:email, "email") %>
    <%= text_field_tag(:email) %><br>
    <%= submit_tag("submit")%>
<% end %>




<h3>Add card number </h3>
<%= form_tag(controller: "payment", action: "addcardnumber") do %>
    <%= label_tag(:useraccesstoken, "useraccesstoken") %>
    <%= text_field_tag(:useraccesstoken) %><br>
   <!-- <%= label_tag(:cardnumber, "cardnumber") %>
    <%= text_field_tag(:cardnumber) %><br>-->
    <%= label_tag(:stripetoken, "stripetoken") %>
    <%= text_field_tag(:stripetoken) %><br>
    <%= submit_tag("submit")%>
<% end %>

<h3>Get list of cards </h3>
<%= form_tag(controller: "payment", action: "getcardlist") do %>
    <%= label_tag(:useraccesstoken, "useraccesstoken") %>
    <%= text_field_tag(:useraccesstoken) %><br>
    <%= submit_tag("submit")%>
<% end %>


<h3>Set default card</h3>
<%= form_tag(controller: "payment", action: "setdefaultcard") do %>
    <%= label_tag(:useraccesstoken, "useraccesstoken") %>
    <%= text_field_tag(:useraccesstoken) %><br>
    <%= label_tag(:cardnumber, "cardnumber") %>
    <%= text_field_tag(:cardnumber) %><br>
    <%= submit_tag("submit")%>
<% end %>


<h3>Set default card</h3>
<%= form_tag(controller: "payment", action: "deletecard") do %>
    <%= label_tag(:useraccesstoken, "useraccesstoken") %>
    <%= text_field_tag(:useraccesstoken) %><br>
    <%= label_tag(:cardnumber, "cardnumber") %>
    <%= text_field_tag(:cardnumber) %><br>
    <%= submit_tag("submit")%>
<% end %>

<h3>Update Tip</h3>
<%= form_tag(controller: "payment", action: "updatetipinfo") do %>
    <%= label_tag(:useraccesstoken, "useraccesstoken") %>
    <%= text_field_tag(:useraccesstoken) %><br>
    <%= label_tag(:orderid, "orderid") %>
    <%= text_field_tag(:orderid) %><br>
    <%= label_tag(:tip, "tip") %>
    <%= text_field_tag(:tip) %><br>
    <%= submit_tag("submit")%>
<% end %>


