<section class="panel">
  <header class="panel-heading">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>
  </header>
  <div class="panel-body">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put ,:class => "form-horizontal tasi-form"}) do |f| %>
        <div class="form-group">
        <label class="col-sm-2 col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <%= f.email_field :email, autofocus: true, :class=>"form-control"%>
        </div>
      </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        <div class="form-group">
          <label class="col-sm-2 col-sm-2 control-label">Password</label>
          <div class="col-sm-10">
            <%= f.password_field :password, autocomplete: "off", :class=>"form-control"%>
            <span class="help-block"><i>(leave blank if you don't want to change it)</i></span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 col-sm-2 control-label">Password Confirmation</label>
          <div class="col-sm-10">
            <%= f.password_field :password_confirmation, autocomplete: "off", :class=>"form-control"%>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 col-sm-2 control-label">Current Password</label>
          <div class="col-sm-10">
            <%= f.password_field :current_password, autocomplete: "off", :class=>"form-control"%>
            <span class="help-block"><i>(Current password is required to confirm your changes)</i></span>
          </div>
        </div>

        <%= f.submit "Update" , :class => "btn btn-success" %>
        <%= link_to 'Back', :back , :class => 'btn btn-default' %>
        <% end %>
</div>
    </section>

