<%= content_for :header do %>
    <%= javascript_include_tag 'jquery.validate.min.js','additional-methods.min.js','data-turbolinks-track' => true %>
<% end %>
<section class="panel">
  <header class="panel-heading">
    <h2>Create New User</h2>
  </header>
  <div class="panel-body">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name),  html: { method: :post ,:class => "form-horizontal cmxform"}) do |f| %>
        <div class="form-group">
          <label class="col-sm-2 col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
            <%= f.email_field :email, autofocus: true, :class=>"form-control"%>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 col-sm-2 control-label">Password</label>
          <div class="col-sm-10">
            <%= f.password_field :password, autocomplete: "off", :class=>"form-control"%>
            <% if @validatable %><span class="help-block"><i>(<%= @minimum_password_length %> characters minimum)</i></span><% end %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 col-sm-2 control-label">Password Confirmation</label>
          <div class="col-sm-10">
            <%= f.password_field :password_confirmation, autocomplete: "off", :class=>"form-control"%>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 col-sm-2 control-label">Assign Role</label>
          <div class="col-sm-10">
            <%= f.select :role_id, options_for_select(@roles.map{|r|[r.name, r.id]}), {}, { :class=>"form-control" }%>
          </div>
        </div>

        <%= f.submit "Submit" , :class => "btn btn-success" %>
    <% end %>
  </div>
</section>

<%= javascript_tag do %>
    $("#new_super_admin").validate({
    rules: {
        'super_admin[password]': {
            required: true,
            minlength: 8,
        },
        'super_admin[password_confirmation]': {
            required: true,
            minlength: 8,
            equalTo: "#super_admin_password"
        },
        'super_admin[email]': {
            required: true,
            email: true
        }
    },
    messages: {
        'super_admin[password]': {
            required: "Please provide a password",
            minlength: "Your password must be at least 8 characters long"
        },
        'super_admin[password_confirmation]': {
            required: "Please provide a password",
            minlength: "Your password must be at least 8 characters long",
            equalTo: "Please enter the same password as above"
        },
        'super_admin[email]': "Please enter a valid email address",
        }
    });

<% end %>