<p>Dear <%=@name %></p>

<p>Your registration has been received and processed. You have chosen Obron Restaurant Waiter Service. "The Future of Dining!". The setup process is simple and a one-time setup fee is required to complete setup of Obron Restaurant Waiter service in your establishment.</p>

<p>Click <%= link_to 'Here', "https://obronwaiter.com/"%> to begin setup and access to our secure server for your dedicated web panel where you will setup your Menu Items. This is very simple and easy to do.</p>

<p>During the setup process, if you have any questions, contact our customer support for assistance at support@obronwaiter.com.</p>

<p>Thank you for choosing Obron Restaurant Waiter, "The Future of Dining!".</p>

<p><strong>Obron Waiter Sales Department.</strong></p>