<p>Your payment is confirmed and registration is complete. You can now start using your Web Admin Panel. Click <%= link_to 'Here', "https://obronwaiter.com/" %> to go to Web Admin or copy and paste the link on your browser. https://obronwaiter.com/.</p>