<% if admin_signed_in? then %>
    <!--admin_signed_in?-->

<!DOCTYPE HTML>
    <html>
    <head>
      <title>Restaurant Waiter app</title>
      <link data-turbolinks-track="true" href="/assets/application.css?body=1" media="all" rel="stylesheet"/>
      <link data-turbolinks-track="true" href="/assets/admin/sessions.css?body=1" media="all" rel="stylesheet"/>
      <link data-turbolinks-track="true" href="/assets/admin/custom.css?body=1" media="all" rel="stylesheet"/>
      <link data-turbolinks-track="true" href="/assets/bootstrap_and_overrides.css?body=1" media="all" rel="stylesheet"/>
      <style>
          #maincontent {
              width: 70%;
              height: 360px;
          }

          #text_opt2 {
              width: 30%;
              float: left;
          }

          #first, #second, #third, #price_yes, #price_no {
              float: left;
          }
      </style>
    </head>

    <body background='../../../assets/adminimg/food_pattern.png' style='background-repeat: no-repeat;background-size: cover;margin: 0;padding: 0;min-height: 500px;'>
    <div id="container">
      <div id='manageoption_header'>
        <div id='logoimg'><%= image_tag("/assets/adminimg/log.png", :alt => "logo", :style => 'margin: 12px 10px 0px 160px;') %></div>
        <div id="header">Manage Options</div>

        <div id="settingopt">
          <%= image_tag("/assets/adminimg/setting_icon.png", :alt => "setting", :style => 'margin: 32px 10px 0px;float: left;') %>
          <%= image_tag("/assets/adminimg/user_icon.png", :alt => "setting", :style => 'margin: 30px 10px 0px;float: left;') %>
          <div id="adminusername" style="float: left;margin-top: 30px;">Admin</div>
          <div class="dropdown" style="float:left;">
            <a class="dropdown-toggle" id="drop4" data-toggle="dropdown" href="#"> <%= image_tag("/assets/adminimg/down_arrow.png", :alt => "setting", :style => 'margin: 35px 10px 0px;float: left;') %></a>
            <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="admins/allcategories">Menu Items</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">App Advertisements</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Sign Out</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div id="maincontent">
        <%= form_tag({controller: "templates", action: "updateoptions"}, :method => "Post") do %>
            <div id="opt1">
              <div id="text_opt1">
                Customer can view your menu outside the restaurant. Do you wish to display prices to those
                customers?
              </div>
              <div id="radio_opt1">
                <% if @restaurantInfo[0]["display_price_outside_restaurant"] == 1 then %>
                    <div id="price_yes">   <%= radio_button_tag 'displayprice', '1', true, :style => 'width:25px;margin-left:63px' %>
                      Yes
                    </div>
                    <div id="price_no">  <%= radio_button_tag 'displayprice', '0', false, :style => 'width:25px;margin-left:70px' %>
                      No
                    </div>
                <% else %>
                    <div id="price_yes"> <%= radio_button_tag 'displayprice', '1', false, :style => 'width:25px;margin-left:63px' %>
                      Yes
                    </div>
                    <div id="price_no">  <%= radio_button_tag 'displayprice', '0', true, :style => 'width:25px;margin-left:70px' %>
                      No
                    </div>
                <% end %>
              </div>
            </div>
            <div id="opt2">
              <div id="text_opt2">
                Do you wish to charge Gratuity?
              </div>
              <div id="radio_opt2">
                <% if @restaurantInfo[0]["gratuity_status"] == 1 then %>
                    <div id="first"> <%= radio_button_tag 'display_gratuity', '1', true, :style => 'width:25px;margin-left:0px' %>
                      On
                      all the orders
                    </div>
                    <div id="second"> <%= radio_button_tag 'display_gratuity', '2', false, :style => 'width:25px;margin-left:30px' %>
                      On 8
                      or more Main course orders
                    </div>
                    <div id="third"> <%= radio_button_tag 'display_gratuity', '0', false, :style => 'width:25px;margin-left:60px' %>
                      No
                    </div>
                <% elsif @restaurantInfo[0]["gratuity_status"] == 2 then %>
                    <div id="first"><%= radio_button_tag 'display_gratuity', '1', false, :style => 'width:25px;margin-left:0px' %>
                      On
                      all the orders
                    </div>
                    <div id="second"> <%= radio_button_tag 'display_gratuity', '2', true, :style => 'width:25px;margin-left:30px' %>
                      On 8
                      or more Main course orders
                    </div>
                    <div id="third"><%= radio_button_tag 'display_gratuity', '0', false, :style => 'width:25px;margin-left:60px' %>
                      No
                    </div>
                <% elsif @restaurantInfo[0]["gratuity_status"] == 0 then %>
                    <div id="first"> <%= radio_button_tag 'display_gratuity', '1', false, :style => 'width:25px;margin-left:0px' %>
                      On
                      all the orders
                    </div>
                    <div id="second">  <%= radio_button_tag 'display_gratuity', '2', false, :style => 'width:25px;margin-left:30px' %>
                      On 8
                      or more Main course orders
                    </div>
                    <div id="third"> <%= radio_button_tag 'display_gratuity', '0', true, :style => 'width:25px;margin-left:60px' %>
                      No
                    </div>
                <% end %>
              </div>
            </div>
            <div id="opt3" style="display:none">
              <div id="text_opt3">
                Please specify gratuity percentage
                <input autofocus="autofocus" class="category_name" id="grauity" name="gratuity_val" placeholder="ex: 20" type="text" value="<%= @restaurantInfo[0]["gratuity"] %>" style="width:120px; margin-top: 12px;">
                %
              </div>
            </div>
            <div>
              <%= submit_tag "Update", :class => "btn1", :style => "margin-top:40px;margin-left:365px;width:114px;" %>
              <a href="template"><%= submit_tag "Next", :class => "btn1", :type => "button", :style => "margin-top:40px;margin-left:30px;width:114px;" %></a></a>
            </div>
        <% end %>
        <% if flash[:notice] %>
            <script>
                setTimeout(function () {
                    $('#errordiv1').hide();
                }, 3000);
            </script>
            <div class="alert alert-success" id="errordiv1"><%= flash[:notice] %></div>
        <% end %>
        <% flash.clear %>
      </div>


    </div>
    <p class="text-center muted " style="margin-top:100px;">Obron Restaurant Waiter &copy; 2014.</p>
    <!-- ================== BEGIN BASE JS ================== -->
    <script data-turbolinks-track="true" src="/assets/jquery.js?body=1"></script>
    <script data-turbolinks-track="true" src="/assets/jquery_ujs.js?body=1"></script>
    <script data-turbolinks-track="true" src="/assets/application.js?body=1"></script>
    <script>


        $(document).ready(function () {
            <% if  @restaurantInfo[0]["gratuity_status"]==1 || @restaurantInfo[0]["gratuity_status"]==2 %>
            $('#opt3').show();
            <%end%>

        });

        $("input[name=display_gratuity]:radio").change(function () {
            id = $(this).attr('id');
            if (id == "display_gratuity_1") {
                $('#opt3').show();
            } else if (id == "display_gratuity_2") {
                $('#opt3').show();
            } else if (id == "display_gratuity_0") {
                $('#opt3').hide();
            }
        })
    </script>
    </body>
    </html>
<% else %>
    <script>
        window.location.href = "/admins/sign_in";
    </script>

<% end %>
