<!DOCTYPE HTML>
<html>
<head>

  <title>Restaurant Waiter app</title>

  <link data-turbolinks-track="true" href="/assets/application.css?body=1" media="all" rel="stylesheet"/>
  <link data-turbolinks-track="true" href="/assets/admin/sessions.css?body=1" media="all" rel="stylesheet"/>
  <link data-turbolinks-track="true" href="/assets/admin/custom.css?body=1" media="all" rel="stylesheet"/>
  <link data-turbolinks-track="true" href="/assets/bootstrap_and_overrides.css?body=1" media="all" rel="stylesheet"/>
  <link data-turbolinks-track="true" href="/assets/admin/popup.css" media="all" rel="stylesheet"/>
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
  <%= csrf_meta_tags %>

  <style>
      #new_admin {
          margin-top: 65px;
          margin-left: 30px;
      }

      .input-block-level {
          text-indent: 55px !important;
      }

      #admin_remember_me {
          float: left;
          margin-top: 5px;
      }

      .edit_admin {
          margin-top: 65px;
          margin-left: 30px;
      }

      #popup_name4 {
          width: 800px !important;
      }
      p{
          text-align: justify;
          letter-spacing: 1px;
      }


input:-webkit-autofill {
    color: #000 !important;
    background-color: #fff !important;
     -webkit-box-shadow: 0 0 0 1000px white inset;
}
      @-moz-document url-prefix() {
          #popup_name4 {
              margin-top: -330px !important;
              margin-left: -420px !important;
              width: 800px !important;
          }
          #date {
              margin-left: 61px !important;
          }
          #paybutton {
              margin-left: -300px !important;
          }
          @media only screen
          and (max-width: 850px) {
              #popup_name4 {
                  width: 70%;
                  margin-left: -308px !important;
              }
          }
      }

      @media only screen
      and (max-width: 850px) {
          #popup_name4 {
              width: 70% !important;
              margin-left: -308px !important;
          }
      }
  </style>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script type="text/javascript">
      // This identifies your website in the createToken call below
      //Stripe.setPublishableKey('sk_test_4RvArL8TjPYVMnjkm4XhXr1c');
      // ...
  </script>
  <script type="text/javascript">
      Stripe.setPublishableKey('pk_live_yXPiWjnHopyBIpZVsWBRfU3T');
  </script>

</head>

<a href="#?w=500" rel="popup_name4" class="poplight1"><input type='hidden' id='terms'/></a>

<div id="popup_name4" class="popup_block">
<h4>Terms of Service</h4>
<hr/>
<div class="alert alert-error" style="display:none" id="termserror"></div>
<div id="termsdata" style="max-height: 400px;overflow-y: scroll;">

<p><b>The Obron Restaurant Waiter App is a one-App fits all restaurants.</b>
  That means that; the App can be used at any restaurant establishment including Fast Foods, Drive-Thru,
  and Coffee Houses restaurants to order food and drinks provided the restaurant have registered with us.</p>

<p><b>Obron Restaurant Waiter is the product of Maxiomedia LLC., and is owned by Maxiomedia LLC.
  All rights, products, softwares, licenses, patents, titles and interests (including and without limitation to all patent rights,
  copyrights, trademark rights, trade secret rights and other intellectual property rights are the sole property of Maxiomedia, LLC.</b></p>

<p><b>This agreement constitutes a legal agreement between Maxiomedia LLC. ("Maxiomedia", "we", "us", the "Company"),
  Owner of Obron Restaurant Waiter and you, and it governs your use of the Maxiomedia software, application and services (the "services").
  If you access, register or use the services through our Web panel or website, you are accepting to do so on the terms of this agreement.</b></p>

<p><b>This agreement contains important limitations on representations, warranties, conditions, remedies and liabilities that are applicable to the services.
  You should read it carefully before using the services. By accepting this agreement, either by clicking a box indicating your acceptance or by executing an order
  form that references this agreement or by registering or by clicking on the link provided, you agree to the terms of this agreement.
  If you are an agent or employee of an entity, you represent and warrant that (i) the individual accepting this agreement
  is duly authorized to accept this agreement on such entity's behalf and to bind such entity to this agreement, and (ii) such entity has full power,
  corporate or otherwise, to enter into this agreement and perform its obligations hereunder.</b></p>

<p>1. CREATING AN ACCOUNT</p>
<p>1.1 You must register and create an account in order to use the Services. To create an account, You will be asked to provide certain basic information as set out in the Maxiomedia Customer Information Form provided to you by Maxiomedia at registration in order to use the Services. This information may include Your name, address, company/organization, telephone number, email address, restaurant type/size and number of tables.
</p><p>
  1.2 Your subscription/services will start from the date of one-time set up fee payment and will run indefinitely or for the period agreed with Maxiomedia. All financial information is held by Maxiomedia's payment gateway provider employing industry standard protections and Maxiomedia will hold your personal or company information in accordance with the terms of the Privacy Policy which governs Maxiomedia's use of any personal or company information provided by You.
</p>

<p>2. TERM AND TERMINATION</p>
<p>2.1 <b>Term.</b></p>
<p>
  The Effective Date of this Agreement is the date of first login to Your account or from the date prescribed in Section
  1.2 above, and will remain in effect until the subscription is terminated in accordance with Section 2.2 or 2.3 below.</p>
<p>2.2 <b>Termination for Convenience.</b></p>
<p>
  You may terminate Your subscription to the Service by providing Maxiomedia with at least thirty (30) days prior
  written notice and termination will take effect from the end of the notice period.</p>
<p>2.3 <b>Termination for Breach.</b></p>
<p>
  Either party has the right to terminate this Agreement if the other party breaches or is in default of any obligation hereunder which default is incapable of cure or which,
  being capable of cure, has not been cured within seven (7) days after receipt of notice of such default.</p>

<p>2.4 <b>Effect of Termination.</b></p>
<p>
  On termination of Your subscription, You may elect to have your Content (as defined in Section 6.3) retained and backed-up and placed in inactive repository by Maxiomedia for a period of 90 days at Maxiomedia's rates indicated on request.
</p>

<p>3. CHARGES/PAYMENTS</p>
<p>3.1 <b>Set-up Fees.</b></p>
<p>
  A one-time setup fees to integrate with Your equipment, Point of Sales system, App, Your dedicated Web Admin Panel from Maxiomedia and locations may apply to Your
  subscription of Service and You will be notified in advance of set-up by Maxiomedia.</p>
<p>3.2 <b>Service charges & Invoicing.</b></p>
<p>
  Service charges are indicated when you sign up to use the Services and unless stated otherwise, are charged on a per transaction basis at 3% of total transaction order
  amount. All charges are handled through Maxiomedia's payment gateway provider and is deducted from total amount paid by Your patrons/customers.
  This does not include fees charged by Maxiomedia's payment gateway provider (Major credit card) and point of sales provider.</p>
<p>3.3 <b>Transaction Processing.</b></p>
<p>
  Maxiomedia will cause transactions in respect of Your patrons/customers paid amount to be processed, and applicable fees per transaction to be collected,
  including payment gateway provider (Major credit card) and point of sales provider fees. Remaining amount after fees deduction will immediately be transferred and
  credited to Your bank account provider by You. Transaction details will be made available to you on a daily basis by Maxiomedia or by Maxiomedia's payment gateway provider.</p>
<p>3.4 <b>Pre-authorized Payment.</b></p>
<p>
  By providing a credit card to Maxiomedia as part of Your account set-up for payments,
  You authorize Maxiomedia to charge Your credit card for all outstanding fees, taxes and charges and outstanding account balances due under the Agreement,
  and this constitutes Maxiomedia's good and sufficient authority for doing so. If Your pre-authorized payment fails, Maxiomedia may immediately
  deactivate Your account and collect fees owing using other collection mechanisms.</p>
<p>3.5 <b>Taxes.</b></p>
<p>
  All charges are exclusive of all taxes. Taxes imposed by Government agencies, whether based upon the software, its
  use, or the Agreement, shall be paid by You. </p>

<p>4. SERVICE USE GUIDELINES</p>
<p>4.1 <b>License Grant.</b></p>
<p>
  Subject to the terms of this Agreement and payment of the applicable fees, Maxiomedia grants You a limited, personal, non-sublicensable, internal license and
  right to use the Services (including the underlying software and technology contained therein) for the purpose of online ordering, marketing and promotions.
  Any software provided to you is licensed; not sold.</p>
<p>4.2 <b>License Restrictions.</b></p>
<p>
  You shall use the Services solely as contemplated in this Agreement and shall not license, sublicense, sell, resell, lease, transfer, assign, distribute, time share or otherwise make the Services available to any third party. You shall not: (a) modify, translate, reverse engineer, decompile, disassemble, or create derivative works based on Maxiomedia software & services except to the extent expressly permitted in this Agreement or to the extent that enforcement is prohibited by applicable law notwithstanding a contractual provision to the contrary; (b) circumvent any user limits or other use restrictions that are built into the Service; (c) remove any proprietary notices, equipments, labels, or

  marks from the Services or Maxiomedia's software; or (d) access the Services in order to (i) build a competitive product or service; or (ii) copy any ideas,
  features, functions or graphics of the Services.</p>
<p>4.3 <b>Lawful purposes.</b></p>
<p>
  You will at any and all times meet Your obligations hereunder, as well as any and all laws, regulations and policies that may apply
  to the use of the Services in Your country, State or Locality including applicable rules that govern the export or import of software.
  You will use the Services solely for lawful purposes. In this respect You may not, without limitation (i) use the Services to manage any illegal operations,
  (ii) use any type of spider, virus, worm, trojan-horse, time bomb or any other codes or instructions that are designed to distort, delete, damage or disassemble
  the technology underlying the Services (including our proprietary software which may be available for download on our website or mobile device), (iii)
  send any unsolicited commercial communication not permitted by applicable law (including communications which violate anti-spam legislation); or (iv) endanger
  any part of any system or Internet connection of Maxiomedia or any third party.</p>
<p>4.4 <b>Recourse.</b></p>
<p>
  We reserve the right to interrupt or restrict service without notice to you if we suspect fraudulent or abusive activity. You agree
  to cooperate with us in any fraud investigation and to use any fraud prevention measures we prescribe within reason.
  Failure to cooperate will result in your liability for all fraudulent usage.</p>

<p>5. DATA & PROPRIETARY RIGHTS</p>
<p>5.1 <b>Maxiomedia Proprietary Rights.</b></p>
<p>
  Except for the rights and licenses granted in this Agreement, Maxiomedia and its suppliers and licensors own and shall retain all rights, title and
  interest (including without limitation all patent rights, copyrights, trademark rights, trade secret rights and other intellectual property rights),
  in and to Maxiomedia's software and services (including the underlying software and any copies, corrections, bug fixes, enhancements, modifications or
  new versions thereof and all research and development and experimental development in respect thereto). You acknowledge that only Maxiomedia shall have
  the right to maintain, enhance or otherwise modify Maxiomedia software and services.</p>
<p>5.2 <b>Third Party Software.</b></p>
<p>
  The Services may incorporate and embed software and other technology owned and controlled by third parties.
  Any such third party software or technology that is incorporated in the Services falls under the scope of this Agreement.
  Such third party software is licensed; not sold and will be provided to You on the license terms of this Agreement unless additional or
  separate license terms apply as indicated at the time of subscription.</p>
<p>5.3 <b>Customer Content.</b></p>
<p>
  As between Maxiomedia and You, You exclusively own all rights, titles and interests in and to the data you provide and process through the Services ("<b>Content</b>").
  You hereby grant Maxiomedia, its subcontractors and agents a perpetual, irrevocable, worldwide, royalty-free, and non-exclusive license to access and use the
  Content to the extent necessary to perform the services as contemplated by this Agreement and in connection with creating aggregated datasets,
  add-ons and delivering new services and applications. For the avoidance of doubt, Maxiomedia will only use Your Content in a confidential manner and
  will not reveal or disclose its origins, and will be held in strict confidentiality. You are responsible for the accuracy and adequacy of the Content which
  You furnish or transmit to Maxiomedia for processing or storage via the Services or used in the Services. Reasonable precautions have been taken by Maxiomedia to
  prevent the loss, alteration or improper access to Content, but Maxiomedia does not guarantee the accuracy or security of the same.</p>
<p>5.4 <b>Access to Content.</b></p>
<p>
  The specified "registered" or "billing entity" and "administrative contact" for any subscription Order becomes the "owner" of any Content in the file system managed by that entity. Maxiomedia has no ability to provide access to parties other than those assigned by the "administrative contact" of the "registered" or "billing entity". The
  "registered" or "billing entity" is the sole owner and authority governing data sets and user access rights provided. Maxiomedia cannot provide access to or
  copies of any data sets other than as communicated in writing by the designated "administrative contact" for the "registered" or "billing entity".</p>
<p>5.5 <b>Responsibility or Liability of Services provided to Your Customers.</b></p>
<p>
  Maxiomedia, and each of our affiliates, successors and assigns, and their respective officers, directors, employees, partners, agents,
  representatives, licensors, advertisers, suppliers is not responsible or liable for any services provided by You to Your customers,
  consumable or not, and will not be held responsible or liable for bad or unhealthy product or service including and without limitations
  to unhealthy consumables, illegal or banned products, allergic items or products, or products or items not conducive to one's health.
  It is your responsibility to ensure that the items you provide through the App is conducive and meet the lawfully defined consumable standards of
  one's health. It is also your responsibility to ensure that Your patrons/customers meets the alcohol consumption legal age limit of your country,
  state or locality before servicing any alcohol item ordered through the App. You reserve the rights to refuse alcohol orders placed through the use of
  the App for not meeting the alcohol consumption legal age limit as defined by laws in your country, state or locality.</p>
<p>5.6 <b>Suggestions.</b></p>
<p>
  Maxiomedia shall have a royalty-free, worldwide, transferable, sub-licensable, irrevocable, perpetual, unrestricted license to use and/or incorporate
  into the Services any suggestions, enhancement requests, recommendations or other feedback provided by You or Your users relating to the operation of the Services.</p>

<p>6. DISCLAIMERS AND LIABILITY</p>
<p>6.1 <b>NO WARRANTIES.</b></p>
<p>
  MAXIOMEDIA CANNOT GUARANTEE THAT THE SERVICES WILL ALWAYS BE AVAILABLE, THAT THEY WILL OPERATE WITHOUT FLAW OR THAT THEY WILL NOT CAUSE ANY DATA LOSS.
  WE MAKE NO EXPRESS WARRANTY REGARDING THE SERVICES AND DISCLAIM ANY IMPLIED OR STATUTORY WARRANTIES, CLAIMS OR REPRESENTATIONS, INCLUDING ANY WARRANTIES OF
  MERCHANTABILITY, INTEGRITY OF DATA, PERFORMANCE, MERCHANTABLE QUALITY OR FITNESS FOR A PARTICULAR PURPOSE NOR DOES MAXIOMEDIA WARRANT OR GUARANTEE ANY
  CONNECTION TO OR TRANSMISSION VIA THE INTERNET. WE DO NOT AUTHORIZE ANYONE TO MAKE ANY WARRANTIES ON OUR BEHALF AND YOU SHOULD NOT RELY ON ANY SUCH STATEMENT.
  THIS PARAGRAPH SHALL SURVIVE TERMINATION OF THIS AGREEMENT.</p>
<p>6.2 <b>LIMITATION ON LIABILITY.</b></p>
<p>
  TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT WILL MAXIOMEDIA BE LIABLE FOR ANY DAMAGES, INCLUDING WITHOUT LIMITATION, INDIRECT, INCIDENTAL OR
  CONSEQUENTIAL DAMAGES AND DAMAGES INCLUDING BUT NOT LIMITED TO LOSS OF OR DAMAGE TO DATA, BUSINESS INTERRUPTION, REPLACEMENT OR RECOVERY COSTS OR OTHER COMMERCIAL OR
  ECONOMIC LOSS WHETHER ARISING FROM CONTRACT, EQUITY, TORT OR ANY OTHER THEORY OF LIABILITY, EVEN IF MAXIOMEDIA HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
  IN NO EVENT SHALL MAXIOMEDIA'S AGGREGATE LIABILITY ARISING OUT OF OR RELATED TO THIS AGREEMENT, WHETHER IN CONTRACT, TORT OR UNDER ANY OTHER THEORY OF LIABILITY,
  EXCEED $150.00, WITH RESPECT TO ANY SINGLE INCIDENT.</p>

<p>7. INDEMNIFICATION</p>
<p>7.1 You agree to indemnify and hold Maxiomedia, LLC. and each of our affiliates, successors and assigns, and their respective officers, directors, employees, partners, agents, representatives, licensors, advertisers, suppliers, and operational service providers harmless from and against any and all losses, damages, costs and expenses (including attorneys' fees), resulting from (a) use of the App, (b) violation or breach of any term of this Agreement or any applicable law or regulation, whether or not referenced herein, (c) violation of any rights of any third party, (d) misuse of the Services, (e) failure to fulfill service or order, and/or (f) any violation of the terms of this Agreement.

  We reserve the right to assume the exclusive defense and control of any demand, claim or action arising hereunder or in connection with the App and/or
  services and all negotiations for settlement or compromise. You agree to fully cooperate with us in the defense of any such demand,
  claim, action, settlement or compromise negotiations, as requested by us.</p>

<p>8. CHANGES TO SOFTWARE, SERVICES AND AGREEMENT</p>
<p>8.1 <b>Updates to Agreement.</b></p>
<p>
  Maxiomedia reserves the right to modify this Agreement at any time by publishing the revised Agreement on the Obronwaiter.com, and/or Owaiter.com website(s)
  or on the provided web panel. The revised Agreement shall become effective within ten (10) business days of such publication or provision to You.
  Your express acceptance or Your continued use of the Services after expiration of the notice period of ten (10) business days shall constitute
  Your acceptance to be bound by the terms and conditions of the revised Agreement. You can find the latest version of this Agreement at Obronwaiter.com,
  and/or Owaiter.com website(s) or on the provided web panel.</p>
<p>8.2 <b>Changes to Fees and Services.</b></p>
<p>
  Maxiomedia may change the Services, any service fees, amounts, charges (including one-time charges), and/or other aspect of
  any of the Services (including altering, updating or upgrading the Maxiomedia software and services) at any time upon reasonable
  notice to You by posting the change or sending notice via an email to the email address You provide on registration, a message on Your invoice,
  in writing, or any other notice method likely to come to Your attention. If You do not accept the change, Your sole recourse is to terminate the Services.
  Your continued access to and use of the Service after the change has come into effect constitutes Your acceptance of the change and You acknowledge and agree that
  (i) You will be deemed to have accepted the change, with no additional written agreement or express acknowledgement required; and
  (ii) You will continue to be responsible to allow for the Services unless You terminate in accordance with Section 2 above.</p>

<p>9. SYSTEM & DATA ACCESS</p>
<p>9.1 In order to set up remote ordering, your Point of Sale (POS) vendor will need to provide Maxiomedia access to your system or data files. By agreeing to
  these Terms of Service, you authorize your POS vendor to provide access to your store POS system including but not limited to the store IP address, menu files and
  data files to Maxiomedia LLC.</p>
<p>9.2 You understand that your POS vendor may have specific configuration requirements in order for the POS software to work properly.
  You hereby authorize Maxiomedia or your POS vendor (as applicable) to make required configuration changes to your POS system or upgrade your POS
  software as required to meet your POS vendor’s configuration requirements.</p>
<p>9.3 You understand that there are security risks in providing access to computer systems or disclosing data to third parties, and
  you acknowledge and agree that neither Maxiomedia, its affiliates, agents, partners, employees, or successor nor your POS vendor will be
  liable in respect of any losses or damages caused by your granting access pursuant to these Terms of Service unless such loss or damage is
  due to the willful misconduct of POS vendor or Maxiomedia as applicable. You further acknowledge that the requirements for PCI compliance may
  change without notice, and it is your sole responsibility, not Maxiomedia LLC. or your POS vendor’s responsibility, to ensure that your locations
  are aware of and your business is in compliant with all PCI compliance requirements.</p>

<p>10. GENERAL</p>
<p>10.1 You are not allowed to assign this Agreement or any rights hereunder without the prior written consent of Maxiomedia. Maxiomedia is allowed at
  its sole discretion to assign this Agreement or any rights hereunder to any third party.</p>
<p>10.2 This Agreement is the entire Agreement between the parties and it supersedes all prior agreements and understandings between the parties concerning the subject
  matter herein.
  Maxiomedia will provide standard or premium support for the Services
  (depending on the form of support You have ordered) and will use commercially reasonable efforts to make the Services available
  (see further Support within www.obronwaiter.com) except for: (a) planned downtime, or (b) any unavailability caused by circumstances
  beyond Maxiomedia's reasonable control, including without limitation, acts of God, acts of government, flood, fire, earthquakes, civil unrest, acts of
  terror, strikes or other labor problems, or Internet service provider failures or delays.</p>
<p>10.3 This Agreement is governed by the laws of the State of California, USA, and exclusive jurisdiction for any legal proceeding
  regarding this agreement shall be in Los Angeles, State of California. Any dispute or claim arising out of or in connection with these
  Terms of Use will be subject to the exclusive jurisdiction of the federal and state courts sitting in the State of California. All dealings,
  correspondence and contacts between us shall be made or conducted in the English language. The 1980 United Nations Convention on Contracts
  for the International Sale of Goods shall be excluded from application to this Agreement.</p>
<p>10.4 If any provision of this Agreement is held by a court of competent jurisdiction to be contrary to law,
  such provision shall be changed and interpreted so as to best accomplish the objectives of the original provision to
  the fullest extent allowed by law and the remaining provisions of this Agreement shall remain in full force and effect.
  No term or provision hereof shall be deemed waived and no breach excused unless such waiver or consent shall be in writing and signed by the waiving party.</p>
<center><h4>This Terms of Service was updated on November 14, 2014.</h4></center>
</div>
<hr/>
<div class="checkbox">
  <label style="width:70%;">
    <input id="acceptterms" type="checkbox" name="termsservice" value="1"> I HAVE READ, UNDERSTAND AND AGREE WITH THE
    SERVICE AGREEMENT.
  </label>
</div>
<button type="submit" style="width: 135px;margin-top: 45px;margin-left: 0px;" class="btn1" id="continueterms">Continue</button>
</div>


<a href="#?w=500" rel="popup_name3" class="poplight1"><input type='hidden' id='stripeform'/></a>

<div id="popup_name3" class="popup_block">
  <h4>Add card details</h4>
  <hr/>
  <form action="/admins/makepayment" method="POST" id="payment-form" style="margin-top:40px;">
    <div class="alert alert-error" style="display:none" id="paymenterrors"><span class="payment-errors"></span></div>
    <input type="hidden" id="id" value="" name="id"/>

    <div class="form-row">
      <label>
        <span style="float: left;">Card Number</span>
        <input type="text" size="20" data-stripe="number" style=" margin-left: 45px;" maxlength="16" id="cardnum" class="cardvalidate"/>
      </label>
    </div>

    <div class="form-row">
      <label>
        <span style="float: left;">CVC</span>
        <input type="text" size="4" data-stripe="cvc" style="margin-left: 95px;" maxlength="3" id="cvc" class="cardvalidate"/>
      </label>
    </div>

    <div class="form-row">
      <label>
        <span style="float: left;">Expiration (MM/YYYY)</span>
        <input type="text" size="2" data-stripe="exp-month" style="
        margin-left: 45px;
                width: 45px;
                float: left;
        " maxlength="2" id="date" class="cardvalidate"/>
      </label>
    <span style="
    float: left;
            margin-left: 15px;
    "> / </span>
      <input type="text" size="4" data-stripe="exp-year" style="
      width: 45px;
              float: left;
              margin-left: 15px;
      " maxlength="4" id="year" class="cardvalidate"/>
    </div>

    <button type="submit" style="
    width: 135px;
            margin-top: 45px;
            margin-left: 0px;
    " class="btn1" id="paybutton">Pay
    </button>
  </form>
</div>

<a href="#?w=500" rel="popup_name2" class="poplight1"><input type='hidden' id='showmsg'/></a>

<div id="popup_name2" class="popup_block">
  <h4>Please check your mailbox for reset password instructions.</h4>
  <a href="#" class="close2">
    <button type="button" class="btn1" style="margin-top:5px;">Ok</button>
  </a>
</div>

<div id="popup_name1" class="popup_block">
  <h4>Please enter email to reset password</h4>
  <%= form_tag({controller: "settings", action: "forgotpassword"}, :method => "post", :onsubmit => " return validateform1();") do %>
      <div class="alert-danger fade in" id="reseterror_div" style="font-size: 19px; border-top-left-radius: 2px; border-top-right-radius: 2px; border-bottom-right-radius: 2px; border-bottom-left-radius: 2px; display: none;margin-bottom: 13px;padding: 4px;">
      </div>
      <input type="text" autofocus="" id="resetemail" name="resetemail" placeholder="Email address" class="form-control usr1">
      <button type="submit" id="resetpassword" class="btn btn-danger" style="margin-top:-12px;">Submit</button>
      <img src="/assets/adminimg/loader.gif" style="float: left;margin-left: 195px; margin-top: 15px;display:none;" id="loader"/>
  <% end %>
</div>


<body background='../../../assets/adminimg/food_pattern.png' style='background-repeat: no-repeat;background-size: cover;margin: 0;padding: 0;min-height: 500px;'>
<div id="container">

  <div class="form-signin">
    <div class="form-signin-heading"><%= image_tag("/assets/adminimg/log.png", :alt => "logo") %></div>
    <%= form_for(@admin, url: admin_session_path(@admin), :method => "post", :html => {:onsubmit => ' return validateform()'}) do |f| %>
        <input type="hidden" name="offset"  id="offset" value="0">
        <% if flash[:signin_notice] %>
            <script> setTimeout(function () {
                $('#errordiv1').hide();
            }, 3000);</script>
            <div class="alert alert-error" id="errordiv1"><%= flash[:signin_notice] %></div>
        <% else %>
            <div class="alert alert-error" style="display:none" id="errordiv"></div>
        <% end %>
        <% if flash[:alreadyPaidNotice] %>
            <div class="alert alert-success" style="display:block" id="errordiv_msg"><%= flash[:alreadyPaidNotice] %></div>
        <% end %>

        <% if flash[:disablemsg] %>
            <div class="alert alert-error" style="display:block" id="errordiv_msg"><%= flash[:disablemsg] %></div>
        <% end %>
        <% if flash[:paymentsuccess] %>
            <div class="alert alert-success" style="display:block" id="errordiv_msg"><%= flash[:paymentsuccess] %></div>
        <% end %>
        <% if flash[:paymenterror] %>
            <div class="alert alert-error" style="display:block" id="errordiv_msg"><%= flash[:paymenterror] %></div>
        <% end %>
        <div class="alert alert-error" style="display:none" id="errordiv"></div>
        <div><%= f.email_field :email, autocomplete: "off", autofocus: true, :class => "input-block-level", :placeholder => "Email" %></div>
        <div><%= f.password_field :password, autocomplete: "off", :class => "input-block-level", :placeholder => "Password" %></div>
        <div><%= f.check_box :remember_me %> <%= f.label :remember_me, :style => "color: #C0C0C0;font-weight: normal;float:left;" %>

          <a href="#?w=500" rel="popup_name1" class="poplight1" id="forgetid" style="color: #C0C0C0;margin-left:30px;float:left;">Forgot
            your password?</a>
          <br/>
        </div>
        <div><%= f.submit "Login", :class => "btn1", :style => "margin-top:20px;width:114px;" %></div>
    <% end %>

  </div>

</div>
<p class="text-center muted ">Obron Restaurant Waiter &copy; 2014.</p>
<script data-turbolinks-track="true" src="/assets/jquery.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/jquery_ujs.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/application.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/admin/popup.js"></script>
<script>
    //Close Popups and Fade Layer
    $('body').on('click', 'a.close2, #fade', function () {
        //When clicking on the close or fade layer...
        $('#fade , .popup_block').fadeOut(function () {
                    //$('#fade, a.close').remove();  //fade them both out
                }
        );
        return false;

    });

    $(document).ready(function () {
        var offset = new Date().getTimezoneOffset();
        $('#offset').val(offset);
        setTimeout(function () {
            $('#errordiv').hide();
        }, 3000);

        setTimeout(function () {
            $('#errordiv_msg').hide();
        }, 3000);
        setTimeout(function () {
            $('#paymenterrors').hide();
        }, 3000);

        <% if flash[:sucessmsg] %>
        $('#showmsg').trigger('click');
        <% end %>
        <% if flash[:notpaid]==1 %>
        $('#terms').trigger('click');
        $('#id').val(<%=session[:id]%>);
        <% end %>


        <% if flash[:unauthorizedmailerror] %>
        $('#errordiv').html("Unauthorized access.");
        $('#errordiv').show();
        setTimeout(function () {
            $('#errordiv').hide();
        }, 3000);
        <% end %>

        <% if cookies[:auth_token].present? && cookies[:auth_pass].present? then %>
        $('#admin_email').val("<%= cookies[:auth_token]%>");
        $('#admin_password').val("<%= cookies[:auth_pass]%>");
        $("input#admin_remember_me").prop('checked', true);
        <% end %>
    });
    function validateform1() {
        if (($('#resetemail').val()).length == 0) {
            $('#reseterror_div').show();
            $('#reseterror_div').html("Please fill all the fields.");
            setTimeout(function () {
                $('#reseterror_div').hide();
            }, 3000);
            return false;
        }
        var pattern = new RegExp(/^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/);

        if (($('#resetemail').val()).length != 0) {
            var email = ($('#resetemail').val());
            if (!pattern.test(email)) {
                $('#reseterror_div').show();
                $('#reseterror_div').html("Please fill in a valid email address.");
                setTimeout(function () {
                    $('#reseterror_div').hide();
                }, 3000);
                return false;
            }
        }
    }
    function validateform() {
        var pattern = new RegExp(/^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/);
        if (($('#admin_email').val()).length == 0 && ($('#admin_password').val()).length == 0) {
            $('#errordiv').show();
            $('#errordiv').html("Please fill all the fields.");
            setTimeout(function () {
                $('#errordiv').hide();
            }, 3000);
            return false;
        }
        if (($('#admin_email').val()).length == 0 && ($('#admin_password').val()).length != 0) {
            $('#errordiv').show();
            $('#errordiv').html("Email field cannot be blank.");
            setTimeout(function () {
                $('#errordiv').hide();
            }, 3000);
            return false;
        }
        if (($('#admin_email').val()).length != 0 && ($('#admin_password').val()).length == 0) {

            $('#errordiv').show();
            if (pattern.test(($('#admin_email').val()))) {
                $('#errordiv').html("Password field cannot be blank.");
            }
            else {
                $('#errordiv').html("Please fill in a valid email address.");
            }
            setTimeout(function () {
                $('#errordiv').hide();
            }, 3000);
            return false;
        }
        if (($('#admin_email').val()).length != 0 && ($('#admin_password').val()).length != 0) {

            if (!pattern.test(email)) {
                $('#errordiv').show();
                $('#errordiv').html("Please fill in a valid email address.");
                setTimeout(function () {
                    $('#errordiv').hide();
                }, 3000);
                return false;
            }
        }

    }

    /*  function validate() {
     var cardnum = $('#cardnum').val();
     var cvc = $('#cvc').val();
     var date = $('#date').val();
     var year = $('#year').val();
     if (cardnum.length > 0) {
     if ((isNaN(cardnum)) || (zip < 0)) {
     $("#paymenterrors").show();
     $("#paymenterrors").html('Please enter valid card number.');
     setTimeout(function () {
     $('#paymenterrors').hide();
     }, 3000);

     return false;
     }
     }
     if (cvc.length > 0) {
     if ((isNaN(cvc)) || (cvc < 0)) {
     $("#paymenterrors").show();
     $("#paymenterrors").html('Please enter valid cvc.');
     setTimeout(function () {
     $('#paymenterrors').hide();
     }, 3000);

     return false;
     }
     }
     if (date.length > 0) {
     if ((isNaN(date)) || (date < 0)) {
     $("#paymenterrors").show();
     $("#paymenterrors").html('Please enter valid date.');
     setTimeout(function () {
     $('#paymenterrors').hide();
     }, 3000);

     return false;
     }
     }
     if (year.length > 0) {
     if ((isNaN(year)) || (year < 0)) {
     $("#paymenterrors").show();
     $("#paymenterrors").html('Please enter valid year.');
     setTimeout(function () {
     $('#paymenterrors').hide();
     }, 3000);

     return false;
     }
     }

     }
     */


    $(".cardvalidate").keyup(function () {
        var value = $(this).val();
        if (value.length > 0) {
            if ((isNaN(value)) || (value < 0)) {
                $("#paymenterrors").show();
                $("#paymenterrors").html('Please enter only integer values.');
                setTimeout(function () {
                    $('#paymenterrors').hide();
                }, 3000);

                return false;
            }
        }

    });
</script>
<script>
    jQuery(function ($) {
        $('#payment-form').submit(function (event) {
            var $form = $(this);

            // Disable the submit button to prevent repeated clicks
            $form.find('button').prop('disabled', true);

            Stripe.card.createToken($form, stripeResponseHandler);
            // Prevent the form from submitting with the default action
            return false;
        });
    });

    function stripeResponseHandler(status, response) {
        var $form = $('#payment-form');
        if (response.error) {
            // Show the errors on the form
            $form.find('.payment-errors').text(response.error.message);
            $('#paymenterrors').show();
            $form.find('button').prop('disabled', false);
        } else {
            // response contains id and card, which contains additional card details
            var token = response.id;
            // Insert the token into the form so it gets submitted to the server
            $form.append($('<input type="hidden" name="stripeToken" />').val(token));
            // and submit
            $form.get(0).submit();
        }
    }
    $("#continueterms").click(function (e) {
        var isChecked = $('#acceptterms:checkbox:checked').length > 0;
        if (isChecked) {
            $('#popup_name4').hide();
            $('#stripeform').trigger('click');
        } else {
            $('#termserror').html("Please accept the terms of service to continue.");
            $('#termserror').show();
            setTimeout(function () {
                $('#termserror').hide();
            }, 3000);
        }
    });
</script>
</body>
</html>
