<h3>Get User Info </h3>
<%= form_tag(controller: "userinfo", action: "getuserinfo") do %>
    <%= label_tag(:useraccesstoken, "useraccesstoken") %>
    <%= text_field_tag(:useraccesstoken) %><br>
    <%= submit_tag("submit")%>
<% end %>



<h3>Upload user image</h3>
<%= form_tag({controller: "userinfo", action: "uploadimage"}, multipart: true) do %>
    <%= label_tag(:useraccesstoken, "useraccesstoken") %>
    <%= text_field_tag(:useraccesstoken) %><br>
     <input type="file" name="avtar">
    <%= submit_tag("submit")%>
<% end %>

<h3>login via useraccesstoken</h3>
<%= form_tag(controller: "userinfo", action: "accesstokenlogin") do %>
    <%= label_tag(:useraccesstoken, "useraccesstoken") %>
    <%= text_field_tag(:useraccesstoken) %><br>
    <%= label_tag(:app_version, "app_version") %>
    <%= text_field_tag(:app_version) %><br>
    <%= label_tag(:device_type, "device_type") %>
    <%= text_field_tag(:device_type) %><br>
    <%= label_tag(:device_token, "device_token") %>
    <%= text_field_tag(:device_token) %><br>
    <%= submit_tag("submit")%>
<% end %>


<h3>Forgot password</h3>
<%= form_tag(controller: "userinfo", action: "forgotpassword") do %>
    <%= label_tag(:email, "email") %>
    <%= text_field_tag(:email) %><br>
    <%= submit_tag("submit")%>
<% end %>