<h3>Add Order</h3>
<%= form_tag(controller: "advertisements", action: "get_ad_details") do %>
    <%= label_tag(:useraccesstoken, "useraccesstoken") %>
    <%= text_field_tag(:useraccesstoken) %><br>
   <%= label_tag(:restaurant_id, "restaurant_id") %>
    <%= text_field_tag(:restaurant_id) %><br>
    <%= submit_tag("submit")%>
<% end %>
