<div id="country_state_code_wrapper">
  <% parent_region ||= params[:parent_region] %>
  <% country = Carmen::Country.coded(parent_region) %>
  <% if country.nil? %>
      <%= text_field(:restaurantdetail, :state,:class=>"form-control input-sm m-bot15", :placeholder => "State"  ,:maxlength => 20, :size => 20)%>
  <% elsif country.subregions? %>
      <%= subregion_select(:restaurantdetail, :state, parent_region, {},{:class=>"form-control input-sm m-bot15"}) %>
  <% else %>
      <%= text_field(:restaurantdetail, :state,:class=>"form-control input-sm m-bot15", :placeholder => "State"  ,:maxlength => 20, :size => 20) %>
  <% end %>
</div>