<%= content_for :header do %>
    <%= javascript_include_tag 'jquery.validate.min.js','additional-methods.min.js', 'super_admin' %>
<% end %>
<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading">
        <strong>New Restaurant Detail</strong>
      </header>
      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => 'form-horizontal cmxform'}) do |f| %>
            <div class="form-group">
              <label class="col-sm-2 col-sm-2 control-label">Name</label>
              <div class="col-sm-10">
                <%= f.text_field :name, class: "form-control input-sm m-bot15", placeholder: "Name" ,:maxlength => 50, :size => 50 , id: "focusedInput"%>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 col-sm-2 control-label">Username</label>
              <div class="col-sm-10">
                <%= f.email_field :email, class: "form-control input-sm m-bot15", placeholder: "Email" ,:maxlength => 50, :size => 50 %>
                <span class="help-block"><i>(must be an email)</i></span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 col-sm-2 control-label">Password</label>
              <div class="col-sm-10">
                <%= f.password_field :password, autocomplete: "off",:class=>"form-control input-sm m-bot15", :placeholder => "password",:maxlength => 20 %>
                <span class="help-block"><i>(<%= @minimum_password_length %> characters minimum)</i></span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 col-sm-2 control-label">Password Confirmation</label>
              <div class="col-sm-10">
                <%= f.password_field :password_confirmation, autocomplete: "off",:class=>"form-control input-sm m-bot15", :placeholder => "Confirm password",:maxlength => 20 %>
              </div>
            </div>
            <%= fields_for :restaurantdetail do |r| %>
                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label">Restaurant Name</label>
                  <div class="col-sm-10">
                    <%= r.text_field :restaurant_name , class: "form-control input-sm m-bot15",  placeholder: "Restaurant Name" ,:maxlength => 100, :size => 50%>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label col-lg-2" for="inputSuccess">Address</label>
                  <div class="col-sm-10">
                    <%= r.text_field :address1, class: "form-control input-sm m-bot15", placeholder: "Address Line 1",:maxlength => 200%>
                    <%= r.text_field :address2, class: "form-control input-sm m-bot15", placeholder: "Address Line 2",:maxlength => 200%>
                    <%= r.text_field :address3, class: "form-control input-sm m-bot15", placeholder: "Address Line 3",:maxlength => 200%>
                    <%= r.country_select :country, { priority: %w(US CA) , prompt: 'Select Country'},:class=>"form-control input-sm m-bot15" %>
                    <div id="country_state_code_wrapper">
                        <%= render partial: 'subregion_select', locals: {parent_region: ''} %>
                     </div>
                    <%= r.text_field :city, class: "form-control input-sm m-bot15", placeholder: "City"%>
                    <%= r.text_field :zip, class: "form-control input-sm m-bot15", placeholder: "Zip"%>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label col-lg-2" for="inputSuccess">Contact Number</label>
                  <div class="col-sm-10">
                    <%= r.text_field :phone1, class: "form-control input-sm m-bot15", placeholder: "Contact Number 1" ,:maxlength => 20, :size => 20 %>
                    <%= r.text_field :phone2, class: "form-control input-sm m-bot15", placeholder: "Contact Number 2" ,:maxlength => 20, :size => 20 %>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label">Restaurant Email</label>
                  <div class="col-sm-10">
                    <%= r.email_field :restaurant_email , :class=>"form-control input-sm m-bot15", :placeholder => "Email" ,:maxlength => 50, :size => 50 %>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label">Beacon ID</label>
                  <div class="col-sm-10">
                    <%= r.text_field :beacon_id , :class=>"form-control input-sm m-bot15", :placeholder => "Beacon ID" ,:maxlength => 50, :size => 50 %>
                  </div>
                </div>
            <% end %>
            <button type="submit" class="btn btn-success">Submit</button>
        <% end %>
      </div>
    </section>
  </div>
</div>

<%= javascript_tag do %>
    $("#new_admin").validate({
    rules: {
        'admin[name]': {
            required: true,
        },
        'admin[password]': {
            required: true,
            minlength: 8,
        },
        'admin[password_confirmation]': {
            required: true,
            minlength: 8,
            equalTo: "#admin_password"
        },
        'admin[email]': {
            required: true,
            email: true
        },
        'restaurantdetail[restaurant_name]': {
            required: true,
        },
        'restaurantdetail[restaurant_email]': {
            required: true,
            email: true
        },
        'restaurantdetail[address1]': {
            required: true,
        },
        'restaurantdetail[country]': {
            required: true,
        },
        'restaurantdetail[state]': {
            required: true,
        },
        'restaurantdetail[city]': {
            required: true,
        },
        'restaurantdetail[zip]': {
            required: true,
        },
        'restaurantdetail[beacon_id]':{
            required: true,
        }
    },
    messages: {
        'admin[password]': {
            required: "Please provide a password",
            minlength: "Your password must be at least 8 characters long"
            },
        'admin[password_confirmation]': {
            required: "Please provide a password",
            minlength: "Your password must be at least 8 characters long",
            equalTo: "Please enter the same password as above"
            },
        'admin[name]': "Please enter your name.",
        'admin[email]': "Please enter a valid email address",
        'restaurantdetail[restaurant_name]' : "Please provide a Restaurant name",
        'restaurantdetail[restaurant_email]' : "Please enter a valid email address",
        'restaurantdetail[address1]': "Address is required.",
        'restaurantdetail[country]': "Country is Required",
        'restaurantdetail[state]': "State is Required",
        'restaurantdetail[city]': "City is Required",
        'restaurantdetail[zip]': "Zip is Required",
        'restaurantdetail[beacon_id]': "Beacon Id is required"
    }
    });

<% end %>