<h3>Get all Categories </h3>
<%= form_tag(controller: "allcategories", action: "getallcategories") do %>
    <%= label_tag(:useraccesstoken, "useraccesstoken") %>
    <%= text_field_tag(:useraccesstoken) %><br>
    <%= label_tag(:restaurantid, "restaurantid") %>
    <%= text_field_tag(:restaurantid) %><br>
    <%= submit_tag("submit")%>
<% end %>



<h3>Get food items in category </h3>
<%= form_tag(controller: "allcategories", action: "getfooditemsincategory") do %>
    <%= label_tag(:useraccesstoken, "useraccesstoken") %>
    <%= text_field_tag(:useraccesstoken) %><br>
    <%= label_tag(:categoryid, "categoryid") %>
    <%= text_field_tag(:categoryid) %><br>
    <%= submit_tag("submit")%>
<% end %>



<h3>Get food items details </h3>
<%= form_tag(controller: "allcategories", action: "getfooditemsdetails") do %>
    <%= label_tag(:useraccesstoken, "useraccesstoken") %>
    <%= text_field_tag(:useraccesstoken) %><br>
    <%= label_tag(:fooditemid, "fooditemid") %>
    <%= text_field_tag(:fooditemid) %><br>
    <%= label_tag(:timezone, "timezone") %>
    <%= text_field_tag(:timezone) %><br>
    <%= submit_tag("submit")%>
<% end %>


<h3>Get extras in a Food Item </h3>
<%= form_tag(controller: "allcategories", action: "getextraslist") do %>
    <%= label_tag(:useraccesstoken, "useraccesstoken") %>
    <%= text_field_tag(:useraccesstoken) %><br>
    <%= label_tag(:fooditemid, "fooditemid") %>
    <%= text_field_tag(:fooditemid) %><br>
    <%= submit_tag("submit")%>
<% end %>



<h3>Get extras detail</h3>
<%= form_tag(controller: "allcategories", action: "getextrasdetails") do %>
    <%= label_tag(:useraccesstoken, "useraccesstoken") %>
    <%= text_field_tag(:useraccesstoken) %><br>
    <%= label_tag(:extrasid, "extrasid") %>
    <%= text_field_tag(:extrasid) %><br>
    <%= label_tag(:timezone, "timezone") %>
    <%= text_field_tag(:timezone) %><br>
    <%= submit_tag("submit")%>
<% end %>








