.selectboxes {
    float: left;
}
fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}
.selectboxdiv fieldset legend {
    font-size: 14px;
    margin-bottom: 0;
    padding-left: 10px;
    color: #000;
    border: 0;
}

#date_dropdown {
    width: 200px;
    margin-top: 10px;
}
.selectboxes select {
    margin-left: 10px;
    width: 200px;
    margin-top: 10px;
}
.selectboxes input {
    margin-left: 10px;
    width: 200px;
    margin-top: 10px;
}
