<div id="country_state_code_wrapper">
  <% parent_region ||= params[:parent_region] %>
  <% country = Carmen::Country.coded(parent_region) %>
  <% if country.nil? %>
      <input type="text" class="form-control input-block-level" placeholder="State" name="state" id="state">
  <% elsif country.subregions? %>
      <%= subregion_select(nil, :state, parent_region, {},{:class=>"form-control input-sm m-bot15",:name=>"state"}) %>
  <% else %>
      <input type="text" class="form-control input-block-level" placeholder="State" name="state" id="state">
  <% end %>
</div>