<% if admin_signed_in? then %>
<!DOCTYPE HTML>
    <html>
    <head>
    <title>Restaurant Waiter app</title>
    <link data-turbolinks-track="true" href="/assets/application.css?body=1" media="all" rel="stylesheet"/>

    <link data-turbolinks-track="true" href="/assets/admin/templates.css?body=1" media="all" rel="stylesheet"/>
    <link data-turbolinks-track="true" href="/assets/bootstrap_and_overrides.css?body=1" media="all" rel="stylesheet"/>
    <link data-turbolinks-track="true" href="/assets/admin/categories.css?body=1" media="all" rel="stylesheet"/>
    <link data-turbolinks-track="true" href="/assets/admin/custom.css?body=1" media="all" rel="stylesheet"/>
    <link data-turbolinks-track="true" href="/assets/admin/popup.css" media="all" rel="stylesheet"/>
    <link data-turbolinks-track="true" href="/assets/admin/navbar.css" media="all" rel="stylesheet"/>
    <link data-turbolinks-track="true" href="/assets/admin/date-picker.css?body=1" media="all" rel="stylesheet"/>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
    <%= csrf_meta_tag %>
    <style>
        .btn1 {
            width: 114px;
            height: 38px;
            border-radius: 8px;
            color: #fff;
            font-size: 18px;
            background: url(/assets/adminimg/button_bg.png);
            background-repeat: no-repeat;
            background-size: cover;
            outline: none;
        }

        #opt1 {
            padding: 22px;
            height: 120px;
        }

        #text_opt1 {
            float: left;
        }

        input#hidden_browse_file {
            margin-top: 0px;
            width: 82px;
            margin-right: 225px !important;
            /* opacity: 0; */
            margin-left: -221px;
            height: 35px;
            cursor: pointer;
        }

        .alert {
            width: 165px;
            margin-left: 33px;
            height: 15px;
            margin-top: 6px;
            display: none;
            color: #000;
            font-size: 14px;
            /* padding: 9px; */
            padding-top: 1px;
        }

        #imagesblock {
            height: 380px;
            width: 900px;
            margin: 0 auto;
            margin-top: 35px;
            background-color: #FBDFAD;
            opacity: 0.5;
            font-size: 18px;
            color: #000;
        }

        #imagesblockhead {
            text-align: center;
            /* margin: 0 auto; */
            /* margin-top: -15px; */
            padding-top: 25px;
            clear: both;
        }

        #imagesblockbody {
            width: 65%;
            margin: 0 auto;
            margin-top: 25px;
        }

        span.browse_file1 {
            height: 28px;
            width: 95px;
            border: 1px solid #ccc;
            background: #ccc;
            border-left: none;
            cursor: pointer;
            padding-top: 2px;
            float: left;
            color: #fff;
            text-align: center;
            font-size: 18px;
        }

        input.hidden_browse_file1 {
            margin-top: 0px;
            width: 85px;
            /* margin-right: -42px; */
            opacity: 0;
            margin-left: -203px;
            height: 35px;
            cursor: pointer;
        }

        .input-block-level.images {
            margin-left: 80px;
            border-radius: 0;
            widtH: 150px;
            float: left;
            height: 32px;
        }

        #footer_content {
            height: 60px;
            padding: 53px;
            width: 622px;
            margin: 0 auto;
            margin-bottom: 70px;
        }

        .PriceDiv {
            width: 800px;
            text-align: center;
            margin-top: 5%;
            line-height: 25px;
            /* margin-left: 29%; */
            padding: 2%;
            margin: 0 auto;
        }

        #maincontent {
            height: auto;
            width: 75%;
            margin: 0 auto;
            margin-top: 70px;
            background-color: #FBDFAD;
            opacity: 1.5;
            font-size: 18px;
            color: #000;
            border-radius: 25px;
        }

        label {
            display: block;
            margin-bottom: -9px;
            margin-left: 25px;
            font-size: 18px;
            font-weight: 300;
            line-height: 20px;
        }

        .fa-2x {
            font-size: 1em;
        }

        button.btn.btn-default {
            margin-top: -10px;;
        }

        .fields {
            margin-top: 12px !important;
            min-height: 40px !important
        }

        .agenda {
        }

        /* Dates */
        .agenda .agenda-date {
            width: 170px;
        }

        .agenda .agenda-date .dayofmonth {
            width: 40px;
            font-size: 36px;
            line-height: 36px;
            float: left;
            text-align: right;
            margin-right: 10px;
        }

        .agenda .agenda-date .shortdate {
            font-size: 0.75em;
        }

        /* Times */
        .agenda .agenda-time {
            width: 140px;
        }

        /* Events */
        .agenda .agenda-events {
        }

        .agenda .agenda-events .agenda-event {
        }

        #popup_name2{
            border-radius:10px;width:700px !important;
        }

        @-moz-document url-prefix() {
            #popup_name2 {

                width: 700px !important;
            }
            input#hidden_browse_file {
                margin-right: 249px !important;
            }

        }

        @media (max-width: 950px) {
            .PriceDiv {
                width: 112%;
            }

            table, #heading {
                margin-left: -20% !important;

            }
            #popup_name2 {
            width: 650px !important;
            margin-top: -156px !important;
            margin-left: -41% !important;
            }
        }
    </style>
    </head>
    <!--Warning message for signout -->
    <div id="popup_name1" class="popup_block">
      <h4>Are you sure you want to Sign out?</h4>
      <a href="sign_out">
        <%= link_to "Yes", destroy_admin_session_path, method: :delete, :class => 'btn btn-small btn-danger', :style => "margin-top:12px;width:68px;" %>
        <!--<button type="button" class="btn btn-small btn-danger" style="margin-top:12px;width:68px;">Yes</button>-->
      </a>
      <a href="#" class="close2">
        <button type="button" class="btn btn-small" style="margin:12px 0px 0px 5px;width:68px;">No</button>
      </a>
    </div>


    <!--Add new ad -->
    <div id="popup_name2" class="popup_block" style="">
      <a href="#?w=500" rel="popup_name2" class="poplight1"><input type="hidden" id="showpopup"/></a>
      <h4 style="text-align:left;margin-top:0px;">Add New Advertisements</h4>
      <hr>
      <div class="alert-error" id="errormsg1" style="text-align: left; clear: both; padding: 10px; width: 50%; margin: 20px auto 0px; display: none;"></div>
      <span style="margin-left: 58%;">No of weeks/years</span>

      <div id="addnewcategory">
        <input type="hidden" name="count" value="1" id="count"/>
        <%= form_tag({controller: "settings", action: "addadvertisement"}, :method => "Post", multipart: true, :onsubmit => " return getChecks();") do %>
            <input type="hidden" id="subscriptiontype" value="" name="subscriptiontype"/>

            <div id="field1" class="fields">
              <input autofocus="autofocus" class="input-block-level adname" id="ad_name" name="ad_name[]" placeholder="Name" type="text">
              <input autofocus="autofocus" class="input-block-level image_name" id="image_name1" name="image_name[]" placeholder="Image/Video" style="margin-left:10px;border-radius:0;" type="text" readonly>
              <span id="browse_file" style="height: 28px;padding-top: 3px;">Browse</span>

              <div id="type"></div>

              <div class="row" style="
              width: 24%;
                      float: left;
                      margin-left: 100px;
                      margin-top: -35px;
              ">
                <div class="col-xs-3 col-xs-offset-3">
                  <div class="input-group number-spinner">
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" data-dir="dwn"><<
                    </button>
				</span>
                    <input type="text" class="form-control text-center" value="1" id="timeperiod" name="timeperiod[]" style="width:40px;">
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" data-dir="up">>>
                    </button>
				</span>
                  </div>
                </div>
              </div>
            </div>

            <!-- <%= submit_tag "Upload", :class => "btn btn-primary", :style => "margin-top: -33px;margin-left: 125px;float:left;width: 100px;height: 33px;" %>-->
            </div>
            <center>
              <img src="/assets/adminimg/loader.gif" style="float: left;margin-left: 195px; margin-top: 15px;display:none;" id="loader"/>
            </center>
            <div id="footer" style="width: 100%;float: left;">
              <% if @allAdDetailsInfo.size < 3 %>
                  <%= submit_tag "Add New", :class => "btn1 add-more", :id => "add-more", :type => "button", :style => "margin-top:40px;width: 160px;" %><%= image_tag("/assets/adminimg/add_new_catagory_icon.png", :alt => "add", :style => "height:20px;width:20px;float: left;margin-top: 48px;position: absolute;z-index: 9999999;margin-left: -145px;") %>
              <% end %>
              <%= submit_tag "Continue to Payment", :class => "btn1", :style => "margin-top:40px;width: 188px;", :id => "continuead" %>
        <% end %>
        </div>
        </div>
    </div>
    </div>

    <!--Add new ad -->
    <div id="popup_name3" class="popup_block" style="border-radius:10px;">
      <a href="#?w=500" rel="popup_name3" class="poplight2"><input type="hidden" id="showpopup2"/></a>

      <div class="agenda">
        <div class="table-responsive">
          <table class="table table-condensed table-bordered">
            <thead>
            <tr>
              <th>Ad name</th>
              <th>Time</th>
              <th>Price</th>
            </tr>
            </thead>
            <tbody>
            <!-- Single event in a single day -->

            <% if @object.present? then %>
                <% count=0 %>
                <% @object.each do |val| %>
                    <tr>
                      <td class="active" rowspan="1">
                        <%= val.name %>
                      </td>
                      <td>
                        <% if @subscriptionInfo[0]['short_name'] == "Weekly" %>
                            <%= val.time_period==1 ? ((val.time_period).to_s)+" week" : ((val.time_period).to_s) + " weeks" %>
                        <% elsif @subscriptionInfo[0]['short_name'] == "Yearly" %>
                            <%= val.time_period==1 ? ((val.time_period).to_s)+ " year" : ((val.time_period).to_s)+ " years" %>
                        <% else %>
                            <%= val.time_period %>
                        <% end %>
                      </td>
                      <td>
                        <% totalbill=(((@subscriptionInfo[0]['price']).to_f)*(1)*(val.time_period)) %>
                        $<%= number_with_precision(totalbill, precision: 2) %>
                        <% count+=totalbill %>
                      </td>
                    </tr>
                <% end %>
            <% end %>
            <tr>
              <td class="active" colspan="2">
                Total bill
              </td>
              <td>
                $<%= number_with_precision(count, precision: 2) %>
                <input type="hidden" id="totalbill" value="<%= count %>"/>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <input type="button" value="Make Payment" class="btn1" style="width: 155px;margin-top: 35px;" id="makepayment"/>
    </div>

    <body background='../../../assets/adminimg/food_pattern.png' style='background-repeat: no-repeat;background-size: cover;margin: 0;padding: 0;min-height: 500px;'>
    <div id="container">
      <!--<div id='manageoption_header'>
        <div id='logoimg'>
          <a href='allcategories'><%= image_tag("/assets/adminimg/log.png", :alt => "logo", :style => 'margin: 12px 10px 0px 160px;') %></a>
        </div>
        <div id="header">App Advertisements
        </div>
        <div id="settingopt" style="float: left;">
          <a href="settings"> <%= image_tag("/assets/adminimg/setting_icon.png", :alt => "setting", :style => 'margin: 32px 10px 0px;float: left;') %></a>
          <%= image_tag("/assets/adminimg/user_icon.png", :alt => "setting", :style => 'margin: 30px 10px 0px;float: left;') %>
          <div id="username" style="float: left;margin-top: 30px;">Admin</div>
          <div class="dropdown" style="
          margin-top: 0px;
                  float: left;
          ">
            <button class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" style="background:none;border:none;">
              <%= image_tag("/assets/adminimg/down_arrow.png", :alt => "setting", :style => 'margin: 35px 10px 0px;float: left;') %>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="allcategories">Menu Items</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="adsubscription">App Advertisements</a></li>
              <li role="presentation">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="settings">Settings</a></li>
              <a href="#?w=500" rel="popup_name1" class="poplight1" role="menuitem" tabindex="-1">SignOut</a></li>
            </ul>
          </div>
        </div>
      </div>-->

      <div class="navbar" style="
      width: 80%;
              margin: 0 auto;
              border-top: 8px solid #CB9326;
      ">
        <div class="navbar-inner">
          <a class="brand" href="allcategories">
            <!-- UNCOMMENT THE CSS VALUES TO TEST OTHER DIMENTIONS -->
            <!-- <img src="http://placehold.it/150x80&text=Logo" alt=""> -->
            <%= image_tag("/assets/adminimg/log.png", :alt => "logo", :style => '') %>
          </a>

          <div id="header" style="width:56%;">App Advertisements</div>
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <div class="nav-collapse collapse" style="width: 35%;float: right;margin-right: -145px;display:block;" id="nav-collapse">
            <ul class="nav">
              <ul class="nav" style="float:right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img alt="setting" src="/assets/adminimg/down_arrow.png" style="">
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="allcategories">Menu Items</a></li>
                    <li><a href="adsubscription">App Advertisements</a></li>
                    <li><a href="settings">Settings</a></li>
                    <li><a href="template">Template</a></li>
                    <li><a href="<%= root_url+"Terms Of Service.pdf" %>" target="_blank">Terms of service</a></li>
                    <li><a href="#?w=500" rel="popup_name1" class="poplight1" role="menuitem" tabindex="-1">SignOut</a>
                    </li>
                  </ul>
                </li>
              </ul>
              <li style="float:right"><a href="#">Admin</a></li>
              <li style="float:right"><a href="#"><img alt="setting" src="/assets/adminimg/user_icon.png" style=""></a>
              </li>
              <li style="float:right">
                <a href="settings"> <img alt="setting" src="/assets/adminimg/setting_icon.png" style=""></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="alert-error" id='errormsg' style="display:none;text-align: left;  clear: both;padding:10px;width:50%;margin: 0 auto;margin-top:20px;"></div>
      <div id="maincontent">
        <p style="clear:both;"></p>

        <div id="PriceDiv" class="PriceDiv">
          <div>

            <div style="margin-top: 5%;" id="heading">Subscribe to show ads to your customers in the App:</div>
            <div>
              <table style="margin-left: -21%;margin-top: 20px;width: 100%">
                <tr>
                  <td colspan="2">Image ads:</td>
                </tr>
                <% @allsubscriptions.each do |val| %>
                    <% if val.ad_type=="Image" %>
                        <tr>
                          <td style="text-align:right;width:50%;">
                            <input value="<%= val.id %>" type="radio" id="weekPriceradioad" name="priceMenuradio" class="Image"/>
                          </td>
                          <td style="text-align:left;">
                            <label style="cursor:pointer" for="weekPriceradioad"><%= val.name %>:
                              $<%= val.price %></label>
                          </td>
                        </tr>
                    <% end %>
                    <!--   <tr>
                         <td style="text-align:right;width:50%;">
                           <input value="2" type="radio" id="yearlyPriceradio" name="priceMenuradio"/>
                         </td>
                         <td style="text-align:left;">
                           <label style="cursor:pointer" for="yearlyPriceradio"> Yearly subscription per image ad:
                             $500.00</label></td>
                       </tr>-->
                <% end %>
                <tr style="height:12px;"></tr>

                <tr>
                  <td colspan="2">Video ads:</td>
                </tr>
                <% @allsubscriptions.each do |val| %>
                    <% if val.ad_type=="Video" %>
                        <tr>
                          <td style="text-align:right;width:50%;">
                            <input value="<%= val.id %>" type="radio" id="weekPriceradiovideo" name="priceMenuradio" class="Video"/>
                          </td>
                          <td style="text-align:left;">
                            <label style="cursor:pointer" for="weekPriceradiovideo"><%= val.name %>:
                              $<%= val.price %></label></td>
                        </tr>
                    <% end %>
                <% end %>
                <!-- <tr>
                   <td style="text-align:right;width:50%;">
                     <input value="4" type="radio" id="yearlyPriceradiovideo" name="priceMenuradio"/>
                   </td>
                   <td style="text-align:left;">
                     <label style="cursor:pointer" for="yearlyPriceradiovideo">Yearly subscription per video ad:
                       $800.00</label></td>
                 </tr>
 -->
              </table>
            </div>
            <div>
              <!-- <input id="pay" type="Submit" value="Make Payment" class="btn1" style="width: 155px;margin-top: 35px;" disabled/>-->

              <input type="button" value="Continue to Ads" class="btn1" style="width: 155px;margin-top: 35px;" id="continuetoad"/>
              <a href="alladvertisements">
                <input type="button" value="Cancel" class="btn1" style="width: 155px;margin-top: 35px;"/></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center muted " id="footer_content">Obron Restaurant Waiter &copy; 2014.</div>
    <!-- ================== BEGIN BASE JS ================== -->
    <script data-turbolinks-track="true" src="/assets/jquery.js?body=1"></script>
    <script data-turbolinks-track="true" src="/assets/jquery_ujs.js?body=1"></script>
    <script data-turbolinks-track="true" src="/assets/application.js?body=1"></script>
    <script data-turbolinks-track="true" src="/assets/admin/bootstrap-dropdown.js"></script>
    <script data-turbolinks-track="true" src="/assets/admin/popup.js"></script>
    <script data-turbolinks-track="true" src="/assets/admin/bootstrap-collapse.js"></script>
    <script data-turbolinks-track="true" src="/assets/admin/jquery.cookie.js"></script>
    <script data-turbolinks-track="true" src="/assets/admin/date-picker.js"></script>
    <script data-turbolinks-track="true" src="/assets/admin/moment.min.js"></script>
    <script>
        $(document).ready(function () {
            <% if  flash[:continue]== 1 && cookies[:totalads] %>
            $('#showpopup2').trigger('click');
            <%end %>

            <% if @allAdDetailsInfo.size == 4 %>
            $('#continuetoad').prop("disabled", true);
            $('#errormsg').show();
            $('#errormsg').html("You have already added four ads.");
            <%end %>
        });


        $('#continuetoad').click(function () {
            if ($('input[name=priceMenuradio]:radio').is(':checked')) {
                //window.location.href = "alladvertisements";$(this).attr('id')
                $.cookie("adtype", $('input[name=priceMenuradio]:checked').attr('class'));
                if ($.cookie("adtype") == "Image") {
                    $('#type').html('<input accept="image/*" id="hidden_browse_file" type="file" name="avatar[]" class="1">')
                    var subscriptiontype = $('input[name=priceMenuradio]:checked').val();
                } else if ($.cookie("adtype") == "Video") {
                    $('#type').html('<input accept="video/*" id="hidden_browse_file" type="file" name="avatar[]" class="1">')
                    subscriptiontype = $('input[name=priceMenuradio]:checked').val();
                }
                $('#subscriptiontype').val(subscriptiontype);
                $('#showpopup').trigger('click');

            } else {
                $('#errormsg').show();
                $('#errormsg').html("Please select an ad option.");
                setTimeout(function () {
                    $('#errormsg').hide();
                }, 3000);
            }
        });
        $('#makepayment').click(function () {
            $.cookie("totalbill", ($('#totalbill').val()));
            window.location.href = "paymentdetails";

        });
        $(".add-more").click(function (e) {
            e.preventDefault();
            var totalads = <%= @allAdDetailsInfo.size %>;
            var sizes = $('.fields').length;
            var next = $("#count").val();
            var addto = "#field" + next;
            next++;
            var newIn = '<div class ="fields" id="field' + next + '"><input autofocus="autofocus" class="input-block-level category_name" id="category_name' + next + '" name="ad_name[]" placeholder="Name" type="text">';
            newIn += '<input autofocus="autofocus" class="input-block-level image_name" id="image_name' + next + '"  name="image_name[]" placeholder="Image/Video" style="margin-left:10px;border-radius:0;" type="text" readonly><span id="browse_file" style="height: 28px;padding-top: 3px;">Browse</span>';
            if ($.cookie("adtype") == "Image") {
                newIn += '<input accept="image/*" id="hidden_browse_file" name="avatar[]" type="file" class=' + next + '>';
            } else if ($.cookie("adtype") == "Video") {
                newIn += '<input accept="video/*" id="hidden_browse_file" name="avatar[]" type="file" class=' + next + '>';
            }
            newIn += '<div class="row" style="width: 24%;float: left;margin-left: 100px; margin-top: -35px;">';
            newIn += '<div class="col-xs-3 col-xs-offset-3"><div class="input-group number-spinner"><span class="input-group-btn">';
            newIn += '<button type="button" class="btn btn-default" data-dir="dwn"><span class="fa fa-2x fa-minus"></span></button> </span>';
            newIn += '<input type="text" class="form-control text-center" value="1" name="timeperiod[]" id="timeperiod' + next + '" style="width:40px;"> <span class="input-group-btn"> <button type="button" class="btn btn-default" data-dir="up"><span class="fa fa-2x fa-plus"></span>';
            newIn += '</button> </span> </div></div></div> <button type="button" style="float: left; margin-top: -33px;" class="closebtn" onclick="hidediv(this.id)" id='+ next +'>&times;</button></div>';
            var newInput = $(newIn);
            $(addto).after(newInput);
            $("#field" + next).attr('data-source', $(addto).attr('data-source'));
            $("#count").val(next);
            totalads += 1;
            if (totalads == 3) {
                $(".add-more").hide();
            }
        });

        function hidediv(id){
           $('#field'+id).remove();
           var totalads = <%= @allAdDetailsInfo.size %>;
            if (totalads == 3) {
                $(".add-more").hide();
            }else{
                $(".add-more").show();
            }
            var sizes = $('.fields').length;
            $("#count").val(sizes);
        }

        $(document).on('click', '.number-spinner button', function () {
            var btn = $(this),
                    oldValue = btn.closest('.number-spinner').find('input').val().trim(),
                    newVal = 0;

            if (btn.attr('data-dir') == 'up') {
                newVal = parseInt(oldValue) + 1;
            } else {
                if (oldValue > 1) {
                    newVal = parseInt(oldValue) - 1;
                } else {
                    newVal = 1;
                }
            }
            btn.closest('.number-spinner').find('input').val(newVal);
        });
        $('#popup_name2').on("change", 'input[type="file"]', function () {
            var filename = $(this).val().replace(/C:\\fakepath\\/i, '');
            var id = $(this).attr('class')
            substring = filename.split('.');
            extension = filename.substring(filename.lastIndexOf(".") + 1);
            if (substring[0].length >= 18) {
                filename = filename.substring(0, 18) + '...' + extension;
            }
            $('#image_name' + id).val(filename);
        });

        $('a.poplight2[href^=#]').click(function (event) {
                    $('.close1').remove();
                    var popID = $(this).attr('rel');
                    //Get Popup Name
                    var popURL = $(this).attr('href');
                    //Get Popup href to define size
                    //Pull Query & Variables from href URL
                    var query = popURL.split('?');
                    var dim = query[1].split('&');
                    var popWidth = dim[0].split('=')[1];
                    //Gets the first query string value
                    //Fade in the Popup and add close button
                    $('#' + popID).fadeIn().css({
                                'width': Number(popWidth)}
                    ).prepend('');
                    //Define margin for center alignment (vertical   horizontal) - we add 80px to the height/width to accomodate for the padding  and border width defined in the css
                    var popMargTop = ($('#' + popID).height() + 80) / 2;
                    var popMargLeft = ($('#' + popID).width() + 80) / 2;
                    //Apply Margin to Popup
                    $('#' + popID).css({
                                'margin-top': -popMargTop,
                                'margin-left': -popMargLeft
                            }
                    );
                    //Fade in Background
                    $('body').append('<div id="fade2"></div>');
                    //Add the fade layer to bottom of the body tag.
                    $('#fade2').css({'filter': 'alpha(opacity=80)'}
                    ).fadeIn();
                    //Fade in the fade layer - .css({'filter' : 'alpha(opacity=80)'}) is used to fix the IE Bug on fading transparencies
                    return false;

                }
        );

        //Close Popups and Fade Layer
        $('body').on('click', 'a.close2, #fade', function () {
            //When clicking on the close or fade layer...
            $('#fade , .popup_block').fadeOut(function () {
                        //$('#fade, a.close').remove();  //fade them both out
                        $('.input-block-level').val("");
                        $('#addfooditemdesc').val("");
                    }
            );
            return false;

        });


        function getChecks() {
            var values = $('input[name="ad_name[]"]').map(function () {
                return this.value
            }).get()
            if (values=="," || values.length == 0 || values == '') {
                $('#errormsg1').show();
                $('#errormsg1').html("You must select at least one ad to continue.");
                setTimeout(function () {
                    $('#errormsg1').hide();
                }, 3000);
                return false;
            }

        }
        ;
    </script>
    </body>
    </html>
<% else %>
    <script>
        window.location.href = "/admins/sign_in";
    </script>

<% end %>
