
<% if admin_signed_in? then %>
<!DOCTYPE HTML>
    <html>
    <head>
    <title>Restaurant Waiter app</title>
    <link data-turbolinks-track="true" href="/assets/application.css?body=1" media="all" rel="stylesheet"/>
    <link data-turbolinks-track="true" href="/assets/admin/custom.css?body=1" media="all" rel="stylesheet"/>
    <link data-turbolinks-track="true" href="/assets/admin/categories.css?body=1" media="all" rel="stylesheet"/>
    <link data-turbolinks-track="true" href="/assets/bootstrap_and_overrides.css?body=1" media="all" rel="stylesheet"/>
    <link data-turbolinks-track="true" href="/assets/admin/bootstrap.min.css" media="all" rel="stylesheet"/>
    <link data-turbolinks-track="true" href="/assets/admin/custom.css?body=1" media="all" rel="stylesheet"/>
    <link data-turbolinks-track="true" href="/assets/admin/popup.css" media="all" rel="stylesheet"/>
    <link data-turbolinks-track="true" href="/assets/admin/bootstrap-fileupload.css" media="all" rel="stylesheet"/>
    <link data-turbolinks-track="true" href="/assets/admin/bootstrap-fileupload.min.css" media="all" rel="stylesheet"/>
    <link data-turbolinks-track="true" href="/assets/admin/pagination.css" media="all" rel="stylesheet"/>
    <link data-turbolinks-track="true" href="/assets/admin/navbar.css" media="all" rel="stylesheet"/>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
    <%= csrf_meta_tag %>
    <style>
        .btn1 {
            width: 114px;
            height: 38px;
            border-radius: 8px;
            color: #fff;
            font-size: 18px;
            background: url(/assets/adminimg/button_bg.png);
            background-repeat: no-repeat;
            background-size: cover;
            outline: none;
        }

        .fields {
            width: 435px;
        }

        #footer_content {
            /*   position: fixed;
               bottom: 0;
               width: 100%;*/
            clear: both;
        }

        #paginationdiv {
            margin: 0 auto;
            width: 20%;
            margin-top: 40px;

        }

        .panel {
            position: relative;
            overflow: hidden;
            display: block;
            border-radius: 0 !important;
        }

        .panel-default {
            border: none !important;
            border-color: #ebedef !important;
            background: #FBDFAD !important
        }

        .panel .panel-body {
            position: relative;
            padding: 0 !important;
            overflow: hidden;
            height: auto;
        }

        .panel .panel-body a {
            overflow: hidden;
        }

        .panel .panel-body a img {
            display: block;
            margin: 0;
            width: 100%;
            height: auto;
            transition: all 0.5s;
            -moz-transition: all 0.5s;
            -webkit-transition: all 0.5s;
            -o-transition: all 0.5s;
        }

        .panel-header {
            text-align: center;
            border-bottom: 1px solid #CB9326;
            border-top: 8px solid #CB9326;
            background: #EFEEF3;
            font-weight: 600;
            height: 50px;
        }

        .panel .panel-footer h4 {
            display: inline;
            font: 400 normal 1.125em "Roboto", Arial, Verdana, sans-serif;
            color: #34495e;
            margin: 0 !important;
            padding: 0 !important;
        }

        .panel .panel-footer i.glyphicon {
            display: inline;
            font-size: 1.125em;
            cursor: pointer;
        }

        .panel .panel-footer div {
            width: 15px;
            display: inline;
            font: 300 normal 1.125em "Roboto", Arial, Verdana, sans-serif;
            color: #34495e;
            text-align: center;
            background-color: transparent !important;
            border: none !important;
        }

        /*!
         * Lightbox for Bootstrap 3 by @ashleydw
         * https://github.com/ashleydw/lightbox
         *
         * License: https://github.com/ashleydw/lightbox/blob/master/LICENSE
         */
        .ekko-lightbox-container {
            position: relative
        }

        .ekko-lightbox-nav-overlay {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 100;
            width: 100%;
            height: 100%
        }

        .ekko-lightbox-nav-overlay a {
            z-index: 100;
            display: block;
            width: 49%;
            height: 100%;
            padding-top: 45%;
            font-size: 30px;
            color: #fff;
            text-shadow: 2px 2px 4px #000;
            opacity: 0;
            filter: dropshadow(color=#000000, offx=2, offy=2);
            -webkit-transition: opacity .5s;
            -moz-transition: opacity .5s;
            -o-transition: opacity .5s;
            transition: opacity .5s
        }

        .ekko-lightbox-nav-overlay a:empty {
            width: 49%
        }

        .ekko-lightbox a:hover {
            text-decoration: none;
            opacity: 1
        }

        .ekko-lightbox .glyphicon-chevron-left {
            left: 0;
            float: left;
            padding-left: 15px;
            text-align: left
        }

        .ekko-lightbox .glyphicon-chevron-right {
            right: 0;
            float: right;
            padding-right: 15px;
            text-align: right
        }

        .ekko-lightbox .modal-footer {
            text-align: left
        }

        @media only screen
        and (max-width: 1450px) {
            form.deleteform {
                margin-left: 18px !important;
            }

            span.pull-left.disablead, span.pull-left.enablead {
                border-right: none !important;
            }

        }

        /*   @media only screen
           and (max-width : 1350px) {
               form.deleteform{
                  margin-left:14px !important;
               }
           }
           @media only screen
           and (max-width : 1000px) {
               form.deleteform{
                   width:0px !important;
                   margin-left:0px !important;
               }
           }*/

    </style>
    </head>
    <!--Warning message for signout -->
    <div id="popup_name3" class="popup_block">
      <h4>Are you sure you want to Sign out?</h4>
      <a href="sign_out">
        <%= link_to "Yes", destroy_admin_session_path, method: :delete, :class => 'btn btn-small btn-danger', :style => "margin-top:12px;width:68px;" %>
        <!--<button type="button" class="btn btn-small btn-danger" style="margin-top:12px;width:68px;">Yes</button>-->
      </a>
      <a href="#" class="close2">
        <button type="button" class="btn btn-small" style="margin:12px 0px 0px 5px;width:68px;">No</button>
      </a>
    </div>

    <!--Warning message for delete of ad -->
    <a href="#?w=500" rel="popup_name2" class="poplight1"><input type='hidden' id='showwarningmsg'/></a>

    <div id="popup_name2" class="popup_block">
      <h4>Are you sure you want to delete this advertisement?</h4>
      <a href="#" onclick="submitdelform();">
        <button type="button" class="btn btn-small btn-danger" style="margin-top:12px;width:68px;">Yes</button>
      </a>
      <a href="#" class="close2">
        <button type="button" class="btn btn-small" style="margin:12px 0px 0px 5px;width:68px;">No</button>
      </a>
    </div>


    <!--Add new ad -->
    <!--<div id="popup_name1" class="popup_block" style="border-radius:10px;">
      <h4 style="text-align:left;margin-top:0px;">Add New Advertisements</h4>
      <hr>
      <div id="addnewcategory">
        <input type="hidden" name="count" value="1" id="count"/>
        <%= form_tag({controller: "settings", action: "addadvertisement"}, :method => "Post", multipart: true, :onsubmit => " return getValues();") do %>
            <div id="field1" class="fields">
              <input autofocus="autofocus" class="input-block-level adname" id="ad_name" name="ad_name[]" placeholder="Name" type="text">
              <input autofocus="autofocus" class="input-block-level image_name" id="image_name1" name="image_name[]" placeholder="Image/Video" style="margin-left:10px;border-radius:0;" type="text" readonly>
              <span id="browse_file" style="height: 32px;padding-top: 3px;">Browse</span>
              <% if flash[:subscription_type] == 0 %>
                  <input accept="video/*" id="hidden_browse_file" type="file" name="avatar[]" class="1">
              <% end %>
              <% if flash[:subscription_type] == 1 %>
                  <input accept="image/*" id="hidden_browse_file" type="file" name="avatar[]" class="1">
              <% end %>
              <% if flash[:subscription_type] == 2 %>
                  <% if @countVideos < 4 && @countImages<4 %>
                      <input accept="image/*,video/*" id="hidden_browse_file" type="file" name="avatar[]" class="1">
                  <% elsif @countVideos == 4 && @countImages<4 %>
                      <input accept="image/*" id="hidden_browse_file" type="file" name="avatar[]" class="1">
                  <% elsif @countVideos < 4 && @countImages==4 %>
                      <input accept="video/*" id="hidden_browse_file" type="file" name="avatar[]" class="1">
                  <% end %>
              <% end %>
            </div>
            &lt;!&ndash; <%= submit_tag "Upload", :class => "btn btn-primary", :style => "margin-top: -33px;margin-left: 125px;float:left;width: 100px;height: 33px;" %>&ndash;&gt;
            </div>
            <center>
              <img src="/assets/adminimg/loader.gif" style="float: left;margin-left: 195px; margin-top: 15px;display:none;" id="loader"/>
            </center>
            <div id="footer" style="width: 100%;float: left;">
              <% if (flash[:subscription_type] == 0 || flash[:subscription_type] == 1) && (@allAdDetailsInfo.size)<3 %>
                  <%= submit_tag "Add New", :class => "btn1 add-more", :id => "add-more", :type => "button", :style => "margin-top:40px;width: 160px;" %><%= image_tag("/assets/adminimg/add_new_catagory_icon.png", :alt => "add", :style => "height:20px;width:20px;float: left;margin-top: 48px;position: absolute;z-index: 9999999;margin-left: -145px;") %>
              <% end %>
              <% if flash[:subscription_type] == 2 && (@allAdDetailsInfo.size)<7 %>
                  <%= submit_tag "Add New", :class => "btn1 add-more", :id => "add-more", :type => "button", :style => "margin-top:40px;width: 160px;" %><%= image_tag("/assets/adminimg/add_new_catagory_icon.png", :alt => "add", :style => "height:20px;width:20px;float: left;margin-top: 48px;position: absolute;z-index: 9999999;margin-left: -145px;") %>
              <% end %>
              <%= submit_tag "Submit", :class => "btn1", :style => "margin-top:40px;width: 160px;" %>
        <% end %>
        </div>
        </div>
    </div>
    </div>-->


    <body background='../../../assets/adminimg/food_pattern.png' style='background-repeat: no-repeat;background-size: cover;margin: 0;padding: 0;min-height: 500px;'>
    <div id="container">

      <div class="navbar" style="
      width: 80%;
              margin: 0 auto;
              border-top: 8px solid #CB9326;
      ">
        <div class="navbar-inner">
          <a class="brand" href="allcategories">
            <!-- UNCOMMENT THE CSS VALUES TO TEST OTHER DIMENTIONS -->
            <!-- <img src="http://placehold.it/150x80&text=Logo" alt=""> -->
            <%= image_tag("/assets/adminimg/log.png", :alt => "logo", :style => '') %>
          </a>

          <div id="header" style="width:56%;">App Advertisements</div>
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <div class="nav-collapse collapse" style="width: 35%;float: right;margin-right: -145px;display:block;" id="nav-collapse">
            <ul class="nav">
              <ul class="nav" style="float:right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img alt="setting" src="/assets/adminimg/down_arrow.png" style="">
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="allcategories">Menu Items</a></li>
                    <li><a href="adsubscription">App Advertisements</a></li>
                    <li><a href="settings">Settings</a></li>
                    <li><a href="template">Template</a></li>
                    <li><a href="<%= root_url+"Terms Of Service.pdf" %>" target="_blank">Terms of service</a></li>
                    <li><a href="#?w=500" rel="popup_name3" class="poplight1" role="menuitem" tabindex="-1">SignOut</a>
                    </li>
                  </ul>
                </li>
              </ul>
              <li style="float:right"><a href="#">Admin</a></li>
              <li style="float:right"><a href="#"><img alt="setting" src="/assets/adminimg/user_icon.png" style=""></a>
              </li>
              <li style="float:right">
                <a href="settings"> <img alt="setting" src="/assets/adminimg/setting_icon.png" style=""></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div id="allcategories" style="width:68%">
        <% if flash[:deleteadnotice] %>
            <div class="alert alert-success" id="errordiv"><%= flash[:deleteadnotice] %></div>
        <% end %>
        <% if flash[:adddadvertisementnotice] %>
            <div class="alert alert-success" id="errordiv"><%= flash[:adddadvertisementnotice] %></div>
        <% end %>
        <% if flash[:deleteaderror] %>
            <div class="alert-error" id='errordiv' style="text-align: left;  clear: both; padding: 10px 85px;"><%= flash[:deleteaderror] %></div>
        <% end %>

        <% if flash[:disablednotice] %>
            <div class="alert alert-success" id="errordiv"><%= flash[:disablednotice] %></div>
        <% end %>
        <% if flash[:disablederror] %>
            <div class="alert-error" id='errordiv' style="text-align: left;  clear: both; padding: 10px 85px;"><%= flash[:disablederror] %></div>
        <% end %>

        <% if flash[:enablednotice] %>
            <div class="alert alert-success" id="errordiv"><%= flash[:enablednotice] %></div>
        <% end %>
        <% if flash[:disablederror] %>
            <div class="alert-error" id='errordiv' style="text-align: left;  clear: both; padding: 10px 85px;"><%= flash[:disablederror] %></div>
        <% end %>
        <% if flash[:largeImageerror] %>
            <div class="alert-error" id='errordiv' style="text-align: left;  clear: both; padding: 10px 85px;"><%= flash[:largeImageerror] %></div>
        <% end %>
        <% if flash[:largeVideoerror] %>
            <div class="alert-error" id='errordiv' style="text-align: left;  clear: both; padding: 10px 85px;margin-bottom:10px;"><%= flash[:largeVideoerror] %></div>
        <% end %>
        <div class="alert-error" id='noadsallowederrordiv' style="display:none;text-align: left;  clear: both; padding: 10px 85px;"></div>

        <section class="row">
          <% if @allAdDetailsInfo.present? then %>
              <% @allAdDetailsInfo.each do |val| %>
                  <% if val['ad_settings'] == 1 %>
                      <article class="col-xs-12 col-sm-6 col-md-3">
                        <div class="panel-header">
                          <h4><%= val['name'] %></h4>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-body">
                            <% if val['ad_type'] == 1 %>
                                <img src="<%= val['image'] %>" alt="Nature Portfolio" style=" border-radius: 25px; padding: 12px;"/>
                            <% else %>
                                <video controls style="width:100%;border-radius: 25px; padding: 12px;margin-top: 20px;margin-bottom: 28%">
                                  <source src="<%= val['image'] %>" type="video/mp4">
                                </video>
                            <% end %>
                          </div>
                          <div class="panel-footer" style="background:#FBDFAD;height:52px;padding: 15px;border-top:none !important;">
                            <%= form_tag({controller: "settings", action: "disableadvertisement"}, :method => "Post", :id => "formen"+(val['id']).to_s, :style => 'margin:0px;') do %>
                                <input type="hidden" name="disableinputbox" id="disableinputbox<%= val['id'] %>" value="<%= val['id'] %>"/>
                       <span class="pull-left disablead" style="border-right: 2px solid #000;margin-left: 22px;width:85px;cursor:pointer;" id="<%= val['id'] %>">
                       <%= image_tag("/assets/adminimg/disable_icon.png", :alt => "appetizer", :style => "margin: 2px;margin-top: -3px;") %>
                         <div id="like1-bs3">Disable</div>
                    </span>
                            <% end %>
                            <%= form_tag({controller: "settings", action: "deleteadvertisement"}, :method => "Post", :class => "deleteform", :id => "formdel"+(val['id']).to_s, :style => 'margin:0px;') do %>
                                <input type="hidden" name="deleteinputbox" id="deleteinputbox<%= val['id'] %>" value="<%= val['id'] %>"/>
                    <span id="<%= val['id'] %>" class="pull-left deletead" style="cursor:pointer;margin-left: 5px;!important;">
                        <%= image_tag("/assets/adminimg/delete_icon_red.png", :alt => "disable", :style => "margin: 2px;margin-top: -3px;") %>
                      <div id="like1-bs3">Delete</div>
                   </span>
                            <% end %>
                          </div>
                        </div>
                      </article>
                  <% else %>
                      <article class="col-xs-12 col-sm-6 col-md-3">
                        <div class="panel-header" style="opacity: 0.5;">
                          <h4><%= val['name'] %></h4>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-body" style="opacity: 0.5;">
                            <% if val['ad_type'] == 1 %>
                                <img src="<%= val['image'] %>" alt="Nature Portfolio" style=" border-radius: 25px; padding: 12px;"/>
                            <% else %>
                                <video controls style="width:100%;border-radius: 25px; padding: 12px;margin-top: 20px;margin-bottom: 28%">
                                  <source src="<%= val['image'] %>" type="video/mp4">
                                </video>
                            <% end %>
                          </div>
                          <div class="panel-footer" style="background:#FBDFAD;height:52px;padding: 15px;border-top:none !important;">
                            <%= form_tag({controller: "settings", action: "enableadvertisement"}, :method => "Post", :id => "formen"+(val['id']).to_s, :style => 'margin:0px;') do %>
                                <input type="hidden" name="enableinputbox" id="enableinputbox<%= val['id'] %>" value="<%= val['id'] %>"/>
                       <span class="pull-left enablead" style="border-right: 2px solid #000;margin-left: 22px;width:85px;cursor:pointer;" id="<%= val['id'] %>">
                       <%= image_tag("/assets/adminimg/enable_icon.png", :alt => "enable", :style => "margin: 2px;margin-top: -3px;") %>
                         <div id="like1-bs3">Enable</div>
                    </span>
                            <% end %>
                            <%= form_tag({controller: "settings", action: "deleteadvertisement"}, :method => "Post", :class => "deleteform", :id => "formdel"+(val['id']).to_s, :style => '') do %>
                                <input type="hidden" name="deleteinputbox" id="deleteinputbox<%= val['id'] %>" value="<%= val['id'] %>"/>
                    <span id="<%= val['id'] %>" class="pull-left deletead" style="cursor:pointer;margin-left: 5px;!important;">
                        <%= image_tag("/assets/adminimg/delete_icon_red.png", :alt => "appetizer", :style => "margin: 2px;margin-top: -3px;") %>
                      <div id="like1-bs3">Delete</div>
                   </span>
                            <% end %>
                          </div>
                        </div>
                      </article>
                  <% end %>
              <% end %>
          <% end %>
        </section>
      </div>
    </div>


    <div id="footer_content" class="text-center muted ">Obron Restaurant Waiter &copy; 2014.
    </div>


    <!-- ================== BEGIN BASE JS ================== -->
    <script data-turbolinks-track="true" src="/assets/jquery.js?body=1"></script>
    <script data-turbolinks-track="true" src="/assets/jquery_ujs.js?body=1"></script>
    <script data-turbolinks-track="true" src="/assets/application.js?body=1"></script>
    <script data-turbolinks-track="true" src="/assets/admin/bootstrap-fileupload.js"></script>
    <script data-turbolinks-track="true" src="/assets/admin/bootstrap-fileupload.min.js"></script>
    <script data-turbolinks-track="true" src="/assets/admin/jquery.bootpag.js"></script>
    <script data-turbolinks-track="true" src="/assets/admin/bootstrap-dropdown.js"></script>
    <script data-turbolinks-track="true" src="/assets/admin/popup.js"></script>
    <script data-turbolinks-track="true" src="/assets/admin/bootstrap-collapse.js"></script>
    <script>
        $(document).ready(function () {
            <% if flash[:subscription_type]== -1 %>
            $('#noadsallowederrordiv').html("Please subscribe to add and view advertisements.")
            $('#noadsallowederrordiv').show();
            <% end %>
            setTimeout(function () {
                $('#errordiv').hide();
            }, 3000);
        });

        function getValues() {
            var val = [];
            $('input#ad_name.input-block-level.adname').each(function (i) {
                alert('hereree');
                if ($(this).val() == "") {
                    alert('here');
                }
            });
            //alert(val);
            $('#footer').hide();
            $('#loader').show();
            return false;
        }
      
        $('#popup_name1').on("change", 'input[type="file"]', function () {
            var filename = $(this).val().replace(/C:\\fakepath\\/i, '');
            var id = $(this).attr('class')
            substring = filename.split('.');
            extension = filename.substring(filename.lastIndexOf(".") + 1);
            if (substring[0].length >= 18) {
                filename = filename.substring(0, 18) + '...' + extension;
            }
            $('#image_name' + id).val(filename);
        });
        $("span.pull-left.deletead").click(function (e) {
            var id = $(this).attr('id');
            $('#deleteinputbox' + id).val(id);
            $('#showwarningmsg').val(id);
            $("html, body").animate({scrollTop: 0});
            $('#showwarningmsg').trigger('click')
        });

        function submitdelform() {
            var id = $('#showwarningmsg').val();
            $("#formdel" + id).submit();
        }
        $("span.pull-left.disablead").click(function (e) {
            var id = $(this).attr('id');
            $("#formen" + id).submit();
        });

        $("span.pull-left.enablead").click(function (e) {
            e.stopPropagation();
            var id = $(this).attr('id');
            $("#formen" + id).submit();
        });

        //Close Popups and Fade Layer
        $('body').on('click', 'a.close2, #fade', function () {
            //When clicking on the close or fade layer...
            $('#fade , .popup_block').fadeOut(function () {
                        //$('#fade, a.close').remove();  //fade them both out
                    }
            );
            return false;

        });

    </script>
    </body>
    </html>
<% else %>
    <script>
        window.location.href = "/admins/sign_in";
    </script>

<% end %>