<% if admin_signed_in? then %>
<!DOCTYPE HTML>
    <html>
    <head>
    <title>Restaurant Waiter app</title>
    <link data-turbolinks-track="true" href="/assets/application.css?body=1" media="all" rel="stylesheet"/>
    <link data-turbolinks-track="true" href="/assets/admin/categories.css?body=1" media="all" rel="stylesheet"/>
    <link data-turbolinks-track="true" href="/assets/bootstrap_and_overrides.css?body=1" media="all" rel="stylesheet"/>
    <link data-turbolinks-track="true" href="/assets/admin/custom.css?body=1" media="all" rel="stylesheet"/>
    <link data-turbolinks-track="true" href="/assets/admin/popup.css" media="all" rel="stylesheet"/>
    <link data-turbolinks-track="true" href="/assets/admin/bootstrap-fileupload.css" media="all" rel="stylesheet"/>
    <link data-turbolinks-track="true" href="/assets/admin/bootstrap-fileupload.min.css" media="all" rel="stylesheet"/>
    <link data-turbolinks-track="true" href="/assets/admin/pagination.css" media="all" rel="stylesheet"/>
    <link data-turbolinks-track="true" href="/assets/admin/navbar.css" media="all" rel="stylesheet"/>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
    <%= csrf_meta_tag %>
    <style>
        .btn1 {
            width: 114px;
            height: 38px;
            border-radius: 8px;
            color: #fff;
            font-size: 18px;
            background: url(/assets/adminimg/button_bg.png);
            background-repeat: no-repeat;
            background-size: cover;
            outline: none;
        }

        #opt1 {
            padding: 22px;
            height: 120px;
        }

        #text_opt1 {
            float: left;
        }

        input#hidden_browse_file {
            margin-top: 35px;
            width: 210px;
            /* margin-right: -31px; */
            opacity: 0;
            margin-left: -221px;
            height: 35px;
            cursor: pointer;
        }

        .alert {
            width: 165px;
            margin-left: 33px;
            height: 15px;
            margin-top: 6px;
            display: none;
            color: #000;
            font-size: 14px;
            /* padding: 9px; */
            padding-top: 1px;
        }

        #imagesblock {
            height: 380px;
            width: 900px;
            margin: 0 auto;
            margin-top: 35px;
            background-color: #FBDFAD;
            opacity: 0.5;
            font-size: 18px;
            color: #000;
        }

        #imagesblockhead {
            text-align: center;
            /* margin: 0 auto; */
            /* margin-top: -15px; */
            padding-top: 25px;
            clear: both;
        }

        #imagesblockbody {
            width: 65%;
            margin: 0 auto;
            margin-top: 25px;
        }

        span.browse_file1 {
            height: 28px;
            width: 95px;
            border: 1px solid #ccc;
            background: #ccc;
            border-left: none;
            cursor: pointer;
            padding-top: 2px;
            float: left;
            color: #fff;
            text-align: center;
            font-size: 18px;
        }

        input.hidden_browse_file1 {
            margin-top: 0px;
            width: 85px;
            /* margin-right: -42px; */
            opacity: 0;
            margin-left: -203px;
            height: 35px;
            cursor: pointer;
        }

        .input-block-level.images {
            margin-left: 80px;
            border-radius: 0;
            widtH: 150px;
            float: left;
            height: 32px;
        }

        #footer_content {
            height: 60px;
            padding: 53px;
            width: 622px;
            margin: 0 auto;
            margin-bottom: 70px;
        }

        #categories {
            border: 2px solid #05BA97;
            width: 330px;
            margin: 0 auto;
            height: 42px;
            margin-top: 30px;
            border-radius: 5px;
            clear: both;
        }

        #time_settings {
            float: left;
            border-right: 2px solid #05BA97;
            width: 140px;
            text-align: center;
            padding: 11px;
            cursor: pointer;
            /* margin-top: 0px; */
            font-size: 17px;
            color: #05BA97;
            height: 20px;
        }

        #other_settings {
            float: left;
            /* width: 128px; */
            text-align: center;
            padding: 11px;
            /* margin-top: 0px; */
            font-size: 17px;
            color: #05BA97;
            cursor: pointer;
            height: 32px;
            padding: 10px 0px 0px 7px;
        }

        tr {
            height: 45px;
        }

        th {
            color: #1DCD9E;
            font-weight: 300;
            padding-top: 2%;
        }

        .showaccordian {
            display: none;
        }

        .accordian {
            width: 100%;
        }

        .clickaccordian {
            width: 100%;
            cursor: pointer;
        }

        td {
            opacity: 1;
            border: 0px !important;
        }

        hr {
            width: 100%;
            border-top: 1px solid #000;
            border-top: 1px solid #000;
            border: 0;
            border-bottom: 1px solid #000;
        }

        .input-block-level {
            width: 62% !important;
            height: 45px !important;
            float: left;
            margin-bottom: 16px !important;
            border-radius: 0px;
        }

        #errordiv {
            width: 40%;
            padding: 10px;
            margin-left: 148px;
            margin-top: 35px;
            margin-bottom: -96px;
        }

        #country, #_state {
            height: 48px;
            width: 62% !important;
        }
        .headings{
            width:90%;float: left;margin-bottom:15px;
        }
        @media only screen
        and (max-width: 1050px) {
            #nav-collapse{
                width:45% !important;
            }
            .headings{
                width:80%;
            }
        }

    </style>
    </head>
    <!--Warning message for signout -->
    <div id="popup_name1" class="popup_block">
      <h4>Are you sure you want to Sign out?</h4>
      <a href="sign_out">
        <%= link_to "Yes", destroy_admin_session_path, method: :delete, :class => 'btn btn-small btn-danger', :style => "margin-top:12px;width:68px;" %>
        <!--<button type="button" class="btn btn-small btn-danger" style="margin-top:12px;width:68px;">Yes</button>-->
      </a>
      <a href="#" class="close2">
        <button type="button" class="btn btn-small" style="margin:12px 0px 0px 5px;width:68px;">No</button>
      </a>
    </div>

    <body background='../../../assets/adminimg/food_pattern.png' style='background-repeat: no-repeat;background-size: cover;margin: 0;padding: 0;min-height: 500px;'>
    <div id="container">
    <!--<div id='manageoption_header'>
      <div id='logoimg'>
        <a href='allcategories'><%= image_tag("/assets/adminimg/log.png", :alt => "logo", :style => 'margin: 12px 10px 0px 160px;') %></a>
      </div>
      <div id="header">Settings
      </div>
      <div id="settingopt" style="float: left;">
        <a href="settings"><%= image_tag("/assets/adminimg/setting_icon.png", :alt => "setting", :style => 'margin: 32px 10px 0px;float: left;') %></a>
        <%= image_tag("/assets/adminimg/user_icon.png", :alt => "setting", :style => 'margin: 30px 10px 0px;float: left;') %>
        <div id="username" style="float: left;margin-top: 30px;">Admin</div>
        <div class="dropdown" style="
        margin-top: 0px;
                float: left;
        ">
          <button class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" style="background:none;border:none;">
            <%= image_tag("/assets/adminimg/down_arrow.png", :alt => "setting", :style => 'margin: 35px 10px 0px;float: left;') %>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="allcategories">Menu Items</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="adsubscription">App Advertisements</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="settings">Settings</a></li>
            <li role="presentation">
              <a href="#?w=500" rel="popup_name2" class="poplight1" role="menuitem" tabindex="-1">SignOut</a></li>
          </ul>
        </div>
      </div>
    </div>-->

    <div class="navbar" style="
    width: 80%;
            margin: 0 auto;
            border-top: 8px solid #CB9326;
    ">
      <div class="navbar-inner">
        <a class="brand" href="allcategories">
          <!-- UNCOMMENT THE CSS VALUES TO TEST OTHER DIMENTIONS -->
          <!-- <img src="http://placehold.it/150x80&text=Logo" alt=""> -->
          <%= image_tag("/assets/adminimg/log.png", :alt => "logo", :style => '') %>
        </a>

        <div id="header" style="width:56%;">Settings</div>
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>

        <div class="nav-collapse collapse" style="width: 35%;float: right;margin-right: -145px;display:block;" id="nav-collapse">
          <ul class="nav">
            <ul class="nav" style="float:right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img alt="setting" src="/assets/adminimg/down_arrow.png" style="">
                </a>
                <ul class="dropdown-menu">
                  <li><a href="allcategories">Menu Items</a></li>
                  <li><a href="adsubscription">App Advertisements</a></li>
                  <li><a href="settings">Settings</a></li>
                  <li><a href="template">Template</a></li>
                  <li><a href="<%= root_url+"Terms Of Service.pdf" %>" target="_blank">Terms of service</a></li>
                  <li><a href="#?w=500" rel="popup_name1" class="poplight1" role="menuitem" tabindex="-1">SignOut</a>
                  </li>
                </ul>
              </li>
            </ul>
            <li style="float:right"><a href="#">Admin</a></li>
            <li style="float:right"><a href="#"><img alt="setting" src="/assets/adminimg/user_icon.png" style=""></a>
            </li>
            <li style="float:right">
              <a href="settings"> <img alt="setting" src="/assets/adminimg/setting_icon.png" style=""></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div id="maincontent" style="width:95%;margin-top:0px;height:65%;background:none;">
    <div id="categories">
      <div id="time_settings">Time Settings</div>
      <div id="other_settings" style="width:159px;" class="altercss">Other Settings</div>
    </div>
    <% if flash[:updatesettingnotice] then %>
        <div class="alert-success" id="errordiv" style="display:block;"><%= flash[:updatesettingnotice] %></div>
    <% end %>

    <% if flash[:updatesettingerror] then %>
        <div class="alert-error" id="errordiv" style="display:block;"><%= flash[:updatesettingerror] %></div>
    <% end %>

    <% if flash[:updaterestaurantnotice] then %>
        <div class="alert-success" id="errordiv" style="display:block;"><%= flash[:updaterestaurantnotice] %></div>
    <% end %>

    <% if flash[:updaterestauranterror] then %>
        <div class="alert-error" id="errordiv" style="display:block;"><%= flash[:updaterestauranterror] %></div>
    <% end %>

    <div id="OtherSettings">
    <div class="accordian" id="accordianOther">
    <table style="width: 76%;margin: 10%;">
    <tr>
      <td>
        <div class="clickaccordian" id="clickaccordianOther1">
          <div>
            <div class="headings">Menu view & Gratuity settings</div>
            <div style="float: left;margin-bottom:15px;" id="editsettings"> <%= image_tag("/assets/adminimg/edit_icon_blue.png", :alt => "appetizer", :style => "float:left;margin-top:5px;") %>
              <span class='optionspan' style="margin-left:10px;color: #4A9DE7;font-weight: 300;margin-top:3px;">Edit</span>
            </div>
            <div style="float: right;margin-bottom:15px;">
              <img id="down_up_arrow4" src="/assets/adminimg/down_arrow.png"/></div>
          </div>

        </div>
        <p style="clear:both;border-bottom:1px dotted black;"></p>

        <div class="showaccordian" id="showaccordianOther1">
          <div style="margin-bottom:10px;">
            <% if @restaurantInfo.present? then %>
                <%= form_tag({controller: "settings", action: "updatesettingoptions"}, :method => "Post", :id => "updateform1") do %>
                <table class="table" style="border:none;">
                  <!--    <th style="width:50%"></th>
                      <th style="width:10%"></th>
                      <th style="width:10%"></th>
                      <th style="width:10%"></th>-->
                  <tbody>
                  <tr>
                    <td colspan="2">Customer can view your menu outside the restaurant. Do you wish to display prices to
                      those
                      customers?
                    </td>
                    <% if @restaurantInfo[0]["display_price_outside_restaurant"] == 1 then %>
                        <td style="width:10%;"><%= radio_button_tag 'radiodisplayprices', '1', true,:class=>"radiodisplayprices", :style => 'width:25px;', disabled: true%>
                          Yes
                        </td>
                        <td style="width:10%;"> <%= radio_button_tag 'radiodisplayprices', '0', false,:class=>"radiodisplayprices", :style => 'width:25px;', disabled: true %>
                          No
                        </td>
                    <% elsif @restaurantInfo[0]["display_price_outside_restaurant"] == 0 %>
                        <td style="width:10%;"><%= radio_button_tag 'radiodisplayprices', '1', false,:class=>"radiodisplayprices", :style => 'width:25px;' , disabled: true%>
                          Yes
                        </td>
                        <td style="width:10%;"> <%= radio_button_tag 'radiodisplayprices', '0', true,:class=>"radiodisplayprices", :style => 'width:25px;', disabled: true %>
                          No
                        </td>
                    <% else %>
                        <td style="width:10%;"><%= radio_button_tag 'radiodisplayprices', '1', false,:class=>"radiodisplayprices", :style => 'width:25px;' , disabled: true%>
                          Yes
                        </td>
                        <td style="width:10%;"> <%= radio_button_tag 'radiodisplayprices', '0', false,:class=>"radiodisplayprices", :style => 'width:25px;' , disabled: true%>
                          No
                        </td>
                    <% end %>
                  </tr>
                  <tr>
                    <td style="width:30%;"> Do you wish to charge Gratuity?</td>
                    <% if @restaurantInfo[0]["gratuity_status"] == 1 then %>
                        <td style="width:20%;"> <%= radio_button_tag 'radiochargeGratuity', '1', true, :class=>"radiochargeGratuity",:style => 'width:25px;' , disabled: true%>
                          On
                          all the orders
                        </td>
                        <td style="width:32%;"> <%= radio_button_tag 'radiochargeGratuity', '2', false,:class=>"radiochargeGratuity", :style => 'width:25px;', disabled: true %>
                          On 8
                          or more Main course orders
                        </td>
                        <td style="width:20%;"><%= radio_button_tag 'radiochargeGratuity', '0', false,:class=>"radiochargeGratuity", :style => 'width:25px;', disabled: true %>
                          No
                        </td>
                    <% elsif @restaurantInfo[0]["gratuity_status"] == 2 then %>
                        <td style="width:20%;"> <%= radio_button_tag 'radiochargeGratuity', '1', false,:class=>"radiochargeGratuity", :style => 'width:25px;' , disabled: true%>
                          On
                          all the orders
                        </td>
                        <td style="width:32%;"> <%= radio_button_tag 'radiochargeGratuity', '2', true,:class=>"radiochargeGratuity", :style => 'width:25px;' , disabled: true%>
                          On 8
                          or more Main course orders
                        </td>
                        <td style="width:20%;"><%= radio_button_tag 'radiochargeGratuity', '0', false,:class=>"radiochargeGratuity", :style => 'width:25px;margin-left:60px', disabled: true %>
                          No
                        </td>
                    <% elsif @restaurantInfo[0]["gratuity_status"] == 0 then %>
                        <td style="width:20%;"> <%= radio_button_tag 'radiochargeGratuity', '1', false,:class=>"radiochargeGratuity", :style => 'width:25px;margin-left:0px' , disabled: true%>
                          On
                          all the orders
                        </td>
                        <td style="width:32%;"> <%= radio_button_tag 'radiochargeGratuity', '2', false,:class=>"radiochargeGratuity", :style => 'width:25px;margin-left:0px' , disabled: true%>
                          On 8
                          or more Main course orders
                        </td>
                        <td style="width:20%;"><%= radio_button_tag 'radiochargeGratuity', '0', true, :style => 'width:25px;margin-left:1px' , disabled: true%>
                          No
                        </td>
                    <% else %>
                        <td style="width:20%;"> <%= radio_button_tag 'radiochargeGratuity', '1', false,:class=>"radiochargeGratuity", :style => 'width:25px;margin-left:0px' , disabled: true%>
                          On
                          all the orders
                        </td>
                        <td style="width:32%;"> <%= radio_button_tag 'radiochargeGratuity', '2', false,:class=>"radiochargeGratuity", :style => 'width:25px;margin-left:0px' , disabled: true%>
                          On 8
                          or more Main course orders
                        </td>
                        <td style="width:20%;"><%= radio_button_tag 'radiochargeGratuity', '0', false,:class=>"radiochargeGratuity", :style => 'width:25px;margin-left:1px' , disabled: true%>
                          No
                        </td>
                    <% end %>
                  </tr>
                  </tbody>
                </table>
                    <div id="opt3" style="display:none">
                      <div id="text_opt3">
                        Please specify gratuity percentage
                        <input autofocus="autofocus" class="category_name" id="grauity" name="gratuity_val" placeholder="ex: 20" type="text" value="<%= @restaurantInfo[0]["gratuity"] %>" style="width:120px; margin-top: 12px;" disabled>
                        %
                      </div>
                    </div>
                <% end %>
            <% end %>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="clickaccordian" id="clickaccordianOther2">
          <div>
            <div class="headings">Restaurant Details</div>
            <div style="float: left;margin-bottom:15px;" id="editrestaurant"> <%= image_tag("/assets/adminimg/edit_icon_blue.png", :alt => "appetizer", :style => "float:left;margin-top:5px;") %>
              <span class='optionspan' style="margin-left:10px;color: #4A9DE7;font-weight: 300;margin-top:3px;">Edit</span>
            </div>
            <div style="float: right;margin-bottom:15px;">
              <img id="down_up_arrow5" src="/assets/adminimg/down_arrow.png"/></div>
          </div>
        </div>
        <p style="clear:both;border-bottom:1px dotted black;"></p>

        <div class="showaccordian" id="showaccordianOther2">
          <table style="width:90%;margin:5%;border-spacing: 20px 0;margin-left:12%;">
            <%= form_tag({controller: "settings", action: "updaterestaurantoptions"}, :method => "Post", :id => "updateform2") do %>
                <input type="hidden" id="hiddenstate" name="state"/>
                <tr>
                  <td><img src="/assets/adminimg/restaurant_name_icon.png"/></td>
                  <td style="width:20%;">Restaurant Name</td>
                  <td>
                    <input type="text" class="input-block-level" placeholder="Restaurant name" name="restaurantname" value="<%= @restaurantInfo[0]["restaurant_name"] %>" readonly/>
                  </td>
                </tr>
                <tr>
                  <td><img src="/assets/adminimg/address_icon.png"/></td>
                  <td style="width:20%;">Address</td>
                  <td>
                    <input type="text" class="input-block-level" name="address1" placeholder="Address line 1" value="<%= @restaurantInfo[0]["address1"] %>" readonly/>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td>
                    <input type="text" class="input-block-level" name="address2" placeholder="Address line 2" value="<%= @restaurantInfo[0]["address2"] %>" readonly/>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td><%= country_select_tag :country, {priority: %w(US CA), prompt: 'Select Country', :disabled => true} %>
                    <%= render partial: 'getstate', locals: {parent_region: ''} %>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td>
                    <input type="text" style="width: 30% !important;" class="input-block-level" name="zip" placeholder="Enter zip code" value="<%= @restaurantInfo[0]["zip"] %>" readonly/>
                    <input type="text" style="width: 30% !important;margin-left: 13px;" class="input-block-level" name="city" placeholder="City" value="<%= @restaurantInfo[0]["city"] %>" readonly/>

                </tr>
                <tr>
                  <td><img src="/assets/adminimg/contact_icon.png"/></td>
                  <td style="width:20%;">Contact No.</td>
                  <td>
                    <input type="text" class="form-control input-block-level" placeholder="Contact number 1" name="phone1" value="<%= @restaurantInfo[0]["phone1"] %>" readonly/>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td>
                    <input type="text" class="input-block-level" placeholder="Contact number 2" name="phone2" value="<%= @restaurantInfo[0]["phone2"] %>" readonly/>
                  </td>
                </tr>
            <% end %>
          </table>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="clickaccordian" id="clickaccordianOther3">
          <div>
            <div class="headings">Table Details </div>
            <div style="float: left;margin-bottom:15px;" id="editrestauranttable"> <%= image_tag("/assets/adminimg/edit_icon_blue.png", :alt => "appetizer", :style => "float:left;margin-top:5px;") %>
              <span class='optionspan' style="margin-left:10px;color: #4A9DE7;font-weight: 300;margin-top:3px;">Edit</span>
            </div>
            <div style="float: right;margin-bottom:15px;">
              <img id="down_up_arrow6" src="/assets/adminimg/down_arrow.png"/></div>
          </div>
        </div>
        <p style="clear:both;border-bottom:1px dotted black;"></p>

        <div class="showaccordian" id="showaccordianOther3">
          <div class="alert-error" id="errordiv_restaurant_table" style="display:none;padding: 5px;width: 50%;"></div>
          <%= form_tag({controller: "settings", action: "addTabledetail"}, :method => "Post", :id => "updateform3") do %>
            <%= hidden_field_tag :restaurant_id, @restaurantInfo.first.id %>
            <table style="width:90%;margin:5%;border-spacing: 20px 0;">
            <tr>
            <td>How many tables you have in your restaurant?</td>
            <td>
              <% if @restaurantTables.present? then %>
                  <input type="text" placeholder="ex: 2" class="qrcodes_class" id="totalTables" value="<%= @restaurantTables.size %>" readonly/>
              <% else %>
                  <input type="text" placeholder="ex: 2" class="qrcodes_class" id="totalTables" value="0" readonly/>
              <% end %>
            </td>
          </tr>
          </table>
          <table style="width:90%;margin:5%;text-align:center;border-spacing: 20px 0;background:#FBDFAD;opacity:1.6;padding:2%;" id="qrcodetable">
            <tr>
              <th>QR Code or NFC Tag
                <hr>
              </th>
              <th style="padding-left:2%;">Action
                <hr>
              </th>
            </tr>
                <% @restaurantTables.each do |table| %>
                    <tr>
                      <td><%= text_field_tag "qrcodes[]" , table.qrcode, :readonly=>'readonly', :class=> "qrcodes_class" %></td>
                      <td>
                        <%= button_tag "Download QR code", :type => "button", :class => "qrcode_button", :onclick => "downloadQRCode('#{table.qrcode}')" %>
                      </td>
                    </tr>
                <% end %>
            </table>
          <% end %>
        </div>
      </td>
    </tr>
    </table>


    </div>
    </div>
    </div>
    </div>

    <div class="text-center muted " id="footer_content">Obron Restaurant Waiter &copy; 2014.</div>
    <!-- ================== BEGIN BASE JS ================== -->
    <script data-turbolinks-track="true" src="/assets/jquery.js?body=1"></script>
    <script data-turbolinks-track="true" src="/assets/jquery_ujs.js?body=1"></script>
    <script data-turbolinks-track="true" src="/assets/application.js?body=1"></script>
    <script data-turbolinks-track="true" src="/assets/admin/bootstrap-fileupload.js"></script>
    <script data-turbolinks-track="true" src="/assets/admin/bootstrap-fileupload.min.js"></script>
    <script data-turbolinks-track="true" src="/assets/admin/jquery.bootpag.js"></script>
    <script data-turbolinks-track="true" src="/assets/admin/bootstrap-dropdown.js"></script>
    <script data-turbolinks-track="true" src="/assets/admin/popup.js"></script>
    <script data-turbolinks-track="true" src="/assets/admin/bootstrap-collapse.js"></script>
    <script type="text/javascript">
        $(document).on('change', '#country', function (e) {
            country_code = $(this).val();
            url = "/admins/state_options?parent_region=" + country_code;
            $('#country_state_code_wrapper').load(url);

        });

        $(document).on('change', '#_state', function (e) {
            state = $(this).val();
            $('#hiddenstate').val(state);

        });
        $(document).ready(function () {

            <% if  @restaurantInfo[0]["gratuity_status"]==1 || @restaurantInfo[0]["gratuity_status"]==2 %>
            $('#opt3').show();
            <%end%>

            //arrow Image Path
            var down_arrow = "/assets/adminimg/down_arrow.png";
            var up_arrow = "/assets/adminimg/up_arrow.png";

            <% if flash[:displayRestaurant] == 1 %>
            var display = $("#showaccordianOther2").css("display");
            if (display == "none") {
                $("#showaccordianOther2").slideToggle("slow");
                $("#clickaccordianOther2 img#down_up_arrow5").attr("src", up_arrow)
            }
            <% end %>
            <% if flash[:displayOption] == 1 %>
            var display = $("#showaccordianOther1").css("display");
            if (display == "none") {
                $("#showaccordianOther1").slideToggle("slow");
                $("#clickaccordianOther1 img#down_up_arrow4").attr("src", up_arrow)
            }
            <% end %>
            <% if flash[:displayRestaurantTable] == 1 %>
            var display = $("#showaccordianOther3").css("display");
            if (display == "none") {
                $("#showaccordianOther3").slideToggle("slow");
                $("#clickaccordianOther3 img#down_up_arrow6").attr("src", up_arrow)
            }
            <% end %>


            <% if  @restaurantInfo[0]["gratuity_status"]==1 || @restaurantInfo[0]["gratuity_status"]==2 %>
            $('#opt3').show();
            <%end%>
            $('#city').val("<%= (@restaurantInfo[0]['city'].to_ascii) %>");
            $('#state').val("<%=((@restaurantInfo[0].statename).to_ascii)  %>");
            $('#country').val("<%=(@restaurantInfo[0]['country'].to_ascii) %>");


            $("input[name=radiochargeGratuity]:radio").change(function () {
                id = $(this).attr('id');
                if (id == "radiochargeGratuityAllOrders") {
                    $('#opt3').show();
                } else if (id == "radiochargeGratuityMainCourse") {
                    $('#opt3').show();
                } else if (id == "radiochargeGratuityNo") {
                    $('#opt3').hide();
                }
            })


            setTimeout(function () {
                $('#errordiv').hide();
            }, 3000);


            $("#down_up_arrow4").click(function () {
                var display = $("#showaccordianOther1").css("display");
                if (display == "none") {
                    $("#clickaccordianOther1 img#down_up_arrow4").attr("src", up_arrow)
                }
                else if (display == "block") {
                    $("#clickaccordianOther1 img#down_up_arrow4").attr("src", down_arrow)
                }
                $("#showaccordianOther2").slideUp();
                $("#clickaccordianOther2 img#down_up_arrow5").attr("src", down_arrow)
                $("#showaccordianOther3").slideUp();
                $("#clickaccordianOther3 img#down_up_arrow6").attr("src", down_arrow)
                $("#showaccordianOther1").slideToggle("slow");
            });
            $("#down_up_arrow5").click(function () {
                var display = $("#showaccordianOther2").css("display");
                if (display == "none") {
                    $("#clickaccordianOther2 img#down_up_arrow5").attr("src", up_arrow)
                }
                else if (display == "block") {
                    $("#editrestaurant").html('<%= image_tag("/assets/adminimg/edit_icon_blue.png", :alt => "appetizer", :style => "float:left;margin-top:5px;") %> <span class="optionspan" style="margin-left:10px;color: #4A9DE7;font-weight: 300;margin-top:3px;">Edit</span>');
                    $("#clickaccordianOther2 img#down_up_arrow5").attr("src", down_arrow)
                }
                $("#showaccordianOther1").slideUp();
                $("#clickaccordianOther1 img#down_up_arrow4").attr("src", down_arrow)
                $("#showaccordianOther3").slideUp();
                $("#clickaccordianOther3 img#down_up_arrow6").attr("src", down_arrow)
                $("#showaccordianOther2").slideToggle("slow");
            });
            $("#down_up_arrow6").click(function () {
                var display = $("#showaccordianOther3").css("display");
                if (display == "none") {
                    $("#clickaccordianOther3 img#down_up_arrow6").attr("src", up_arrow)
                }
                else if (display == "block") {
                    $('.qrcodes_class').each(function() {$(this).attr("readonly","readonly")});
                    $("#editrestauranttable").html('<%= image_tag("/assets/adminimg/edit_icon_blue.png", :alt => "appetizer", :style => "float:left;margin-top:5px;") %> <span class="optionspan" style="margin-left:10px;color: #4A9DE7;font-weight: 300;margin-top:3px;">Edit</span>');
                    $("#clickaccordianOther3 img#down_up_arrow6").attr("src", down_arrow)
                }
                $("#showaccordianOther1").slideUp();
                $("#clickaccordianOther1 img#down_up_arrow4").attr("src", down_arrow)
                $("#showaccordianOther2").slideUp();
                $("#clickaccordianOther2 img#down_up_arrow5").attr("src", down_arrow)
                $("#showaccordianOther3").slideToggle("slow");
            });

            $("#time_settings").click(function () {
                window.location.href = "/admins/settings";
            });
            $("#other_settings").click(function () {
                window.location.href = "/admins/othersettings";
            });

            $("#editsettings").click(function () {
                $("#editsettings").html('<%= image_tag("/assets/adminimg/save_icon.png", :alt => "appetizer", :style => "float:left;margin-top:5px;") %> <span id="saveoptions" onclick="savetimings(this.id)" class="optionspan" style="margin-left:10px;color: #05BA97;font-weight: 300;margin-top:3px;">Save</span>');
                var display = $("#showaccordianOther1").css("display");
                if (display == "none") {
                    $("#showaccordianOther1").slideToggle("slow");
                }
                $("#showaccordianOther2").slideUp();
                $('.radiodisplayprices').removeAttr("disabled");
                $('.radiochargeGratuity').removeAttr("disabled");
                $('#grauity').removeAttr("disabled");
            });

            $("#editrestaurant").click(function () {
                $("#editrestaurant").html('<%= image_tag("/assets/adminimg/save_icon.png", :alt => "appetizer", :style => "float:left;margin-top:5px;") %> <span id="saverestaurant" onclick="savetimings(this.id)" class="optionspan" style="margin-left:10px;color: #05BA97;font-weight: 300;margin-top:3px;">Save</span>');
                var display = $("#showaccordianOther2").css("display");
                if (display == "none") {
                    $("#showaccordianOther2").slideToggle("slow");
                }
                $("#showaccordianOther1").slideUp();
                $('.input-block-level').removeAttr("readonly");
                $('#city').removeAttr("disabled");
                $('#state').removeAttr("disabled");
                $('#country').removeAttr("disabled");
            });

            $("#editrestauranttable").click(function () {
                $("#editrestauranttable").html('<%= image_tag("/assets/adminimg/save_icon.png", :alt => "appetizer", :style => "float:left;margin-top:5px;") %> <span id="saverestauranttable" onclick="savetimings(this.id)" class="optionspan" style="margin-left:10px;color: #05BA97;font-weight: 300;margin-top:3px;">Save</span>');
                var display = $("#showaccordianOther3").css("display");
                if (display == "none") {
                    $("#showaccordianOther3").slideToggle("slow");
                }
                $("#showaccordianOther1").slideUp();
                $("#clickaccordianOther1 img#down_up_arrow4").attr("src", down_arrow)
                $("#showaccordianOther2").slideUp();
                $("#clickaccordianOther2 img#down_up_arrow5").attr("src", down_arrow)
                $('.qrcodes_class').removeAttr("readonly");
                $("#editsettings").html('<%= image_tag("/assets/adminimg/edit_icon_blue.png", :alt => "appetizer", :style => "float:left;margin-top:5px;") %> <span class="optionspan" style="margin-left:10px;color: #4A9DE7;font-weight: 300;margin-top:3px;">Edit</span>');
                $("#editrestaurant").html('<%= image_tag("/assets/adminimg/edit_icon_blue.png", :alt => "appetizer", :style => "float:left;margin-top:5px;") %> <span class="optionspan" style="margin-left:10px;color: #4A9DE7;font-weight: 300;margin-top:3px;">Edit</span>');
            });

        });
        //Close Popups and Fade Layer
        $('body').on('click', 'a.close2, #fade', function () {
            //When clicking on the close or fade layer...
            $('#fade , .popup_block').fadeOut(function () {
                        //$('#fade, a.close').remove();  //fade them both out
                        $('.input-block-level').val("");
                        $('#addfooditemdesc').val("");
                    }
            );
            return false;

        });
        function savetimings(id) {
            if (id == "saveoptions") {
                $('#updateform1').submit();
            }
            if (id == "saverestaurant") {
                $('#updateform2').submit();
            }
            if (id == "saverestauranttable") {
                $('#updateform3').submit();
            }
        }

        $("input[name=radiochargeGratuity]:radio").change(function () {
            id = $(this).attr('id');
            if (id == "radiochargeGratuity_1") {
                $('#opt3').show();
            } else if (id == "radiochargeGratuity_2") {
                $('#opt3').show();
            } else if (id == "radiochargeGratuity_0") {
                $('#opt3').hide();
            }
        })

        $("#sessionnum").blur(function () {
            var rowCount = $('#happyhourtable tr').length;
            var numofsessions = rowCount - 1;
            var value = $("#sessionnum").val();
            if ((isNaN(value)) || (value == "") || (value < 0) || (value == 0)) {
                $("#errordiv_happy_hour").show();
                $("#errordiv_happy_hour").html('Please enter valid number!!');
                setTimeout(function () {
                    $('#errordiv_happy_hour').hide();
                }, 3000);
                return false;
            } else {
                if (numofsessions > value && value != 0) {
                    var removerows = numofsessions - value;
                    for (var i = 1; i <= removerows; i++) {
                        $('#happyhourtable tr:last').remove();
                    }
                } else {
                    var newsession = value - numofsessions;
                    if (numofsessions < 3 && newsession < 3) {
                        var str = '';//'<tr><th>Happy Hours Session<hr> </th><th style="padding-left:2%;">Starting Time <hr></th><th style="padding-left:2%;">Ending Time<hr> </th></tr>';
                        for (var i = 1; i <= newsession; i++) {
                            numofsessions++;
                            str += '<tr><td>Session' + numofsessions + '</td><td><input type="hidden" name="id[]" value=""/><input type="text" name="starttime[]" class="editabletext2" value=""/></td><td><input type="text" name="closetime[]" class="editabletext2" value="" /></td></tr>';
                        }
                        $("#happyhourtable").append(str);
                    } else {
                        $("#errordiv_happy_hour").show();
                        $("#errordiv_happy_hour").html('There can be only 3 happy hour sessions.');
                        setTimeout(function () {
                            $('#errordiv_happy_hour').hide();
                        }, 3000);
                        return false;
                    }
                }
            }
        });

        $("#totalTables").blur(function () {
            var rowCount = $('#qrcodetable tr').length;
            var numofsessions = rowCount - 1;
            var value = $("#totalTables").val();
            if ((isNaN(value)) || (value == "") || (value < 0) || (value == 0)) {
                $("#errordiv_restaurant_table").show();
                $("#errordiv_restaurant_table").html('Please enter valid number!!');
                setTimeout(function () {
                    $('#errordiv_restaurant_table').hide();
                }, 3000);
                return false;
            } else {
                if (numofsessions > value && value != 0) {
                    var removerows = numofsessions - value;
                    for (var i = 1; i <= removerows; i++) {
                        $('#qrcodetable tr:last').remove();
                    }
                } else {
                    var newsession = value - numofsessions;
                    var str = '';//'<tr><th>Happy Hours Session<hr> </th><th style="padding-left:2%;">Starting Time <hr></th><th style="padding-left:2%;">Ending Time<hr> </th></tr>';
                    for (var i = 1; i <= newsession; i++) {
                        numofsessions++;
                        str += '<tr><td><input class="qrcodes_class" id="qrcodes_" name="qrcodes[]" type="text" value=""></td><td></td></tr>';
                    }
                    $("#qrcodetable").append(str);
                }
            }
        });

        function downloadQRCode(value){
            window.location.href ="/admins/download_qr_code?data="+ value;
//            window.print()
        }
    </script>
    </body>
    </html>
<% else %>
    <script>
        window.location.href = "/admins/sign_in";
    </script>

<% end %>
