<% if admin_signed_in? then %>
<!DOCTYPE HTML>
    <html>
    <head>
      <title>Restaurant Waiter app</title>
      <link data-turbolinks-track="true" href="/assets/application.css?body=1" media="all" rel="stylesheet"/>

      <link data-turbolinks-track="true" href="/assets/admin/templates.css?body=1" media="all" rel="stylesheet"/>
      <link data-turbolinks-track="true" href="/assets/bootstrap_and_overrides.css?body=1" media="all" rel="stylesheet"/>
      <link data-turbolinks-track="true" href="/assets/admin/categories.css?body=1" media="all" rel="stylesheet"/>
      <link data-turbolinks-track="true" href="/assets/admin/custom.css?body=1" media="all" rel="stylesheet"/>
      <link data-turbolinks-track="true" href="/assets/admin/popup.css" media="all" rel="stylesheet"/>
      <link data-turbolinks-track="true" href="/assets/admin/navbar.css" media="all" rel="stylesheet"/>
      <link data-turbolinks-track="true" href="/assets/admin/date-picker.css?body=1" media="all" rel="stylesheet"/>
      <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
      <%= csrf_meta_tag %>
      <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
      <script type="text/javascript">
          // This identifies your website in the createToken call below
          //Stripe.setPublishableKey('sk_test_4RvArL8TjPYVMnjkm4XhXr1c');
          // ...
      </script>
      <script type="text/javascript">
          Stripe.setPublishableKey('pk_live_yXPiWjnHopyBIpZVsWBRfU3T');
      </script>
      <style>
          .btn1 {
              width: 114px;
              height: 38px;
              border-radius: 8px;
              color: #fff;
              font-size: 18px;
              background: url(/assets/adminimg/button_bg.png);
              background-repeat: no-repeat;
              background-size: cover;
              outline: none;
          }

          #opt1 {
              padding: 22px;
              height: 120px;
          }

          #text_opt1 {
              float: left;
          }

          #footer_content {
              height: 60px;
              padding: 53px;
              width: 622px;
              margin: 0 auto;
              margin-bottom: 70px;
          }

          .PriceDiv {
              width: 98%;
              text-align: center;
              margin-top: 5%;
              line-height: 25px;
              /* margin-left: 29%; */
              padding: 2%;
              margin: 0 auto;
          }

          #maincontent {
              height: 360px;
              width: 638px;
              margin: 0 auto;
              margin-top: 70px;
              background-color: #FBDFAD;
              opacity: 1.5;
              font-size: 18px;
              color: #000;
              border-radius: 25px;
          }

          label {
              display: block;
              margin-bottom: -9px;
              margin-left: 25px;
              font-size: 18px;
              font-weight: 300;
              line-height: 20px;
          }

          .fa-2x {
              font-size: 1em;
          }

          button.btn.btn-default {
              margin-top: -10px;;
          }

          span {
              width: 255px;
          }

          .input-block-level {
              width: 235px !important;
          }
      </style>
    </head>
    <!--Warning message for signout -->
    <div id="popup_name1" class="popup_block">
      <h4>Are you sure you want to Sign out?</h4>
      <a href="sign_out">
        <%= link_to "Yes", destroy_admin_session_path, method: :delete, :class => 'btn btn-small btn-danger', :style => "margin-top:12px;width:68px;" %>
        <!--<button type="button" class="btn btn-small btn-danger" style="margin-top:12px;width:68px;">Yes</button>-->
      </a>
      <a href="#" class="close2">
        <button type="button" class="btn btn-small" style="margin:12px 0px 0px 5px;width:68px;">No</button>
      </a>
    </div>


    <a href="#?w=500" rel="popup_name2" class="poplight1"><input type="hidden" id="showpopupmsg"/></a>
    <!--Warning message for signout -->
    <div id="popup_name2" class="popup_block">
      <h4>Thank you for subscribing.</h4>
      <a href="alladvertisements" class="">
        <button type="button" class="btn" style="margin:12px 0px 0px 5px;width:68px;">Ok</button>
      </a>
    </div>

    <body background='../../../assets/adminimg/food_pattern.png' style='background-repeat: no-repeat;background-size: cover;margin: 0;padding: 0;min-height: 500px;'>
    <div id="container">
      <!--<div id='manageoption_header'>
        <div id='logoimg'>
          <a href='allcategories'><%= image_tag("/assets/adminimg/log.png", :alt => "logo", :style => 'margin: 12px 10px 0px 160px;') %></a>
        </div>
        <div id="header">App Advertisements
        </div>
        <div id="settingopt" style="float: left;">
          <a href="settings"> <%= image_tag("/assets/adminimg/setting_icon.png", :alt => "setting", :style => 'margin: 32px 10px 0px;float: left;') %></a>
          <%= image_tag("/assets/adminimg/user_icon.png", :alt => "setting", :style => 'margin: 30px 10px 0px;float: left;') %>
          <div id="username" style="float: left;margin-top: 30px;">Admin</div>
          <div class="dropdown" style="
          margin-top: 0px;
                  float: left;
          ">
            <button class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" style="background:none;border:none;">
              <%= image_tag("/assets/adminimg/down_arrow.png", :alt => "setting", :style => 'margin: 35px 10px 0px;float: left;') %>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="allcategories">Menu Items</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="adsubscription">App Advertisements</a></li>
              <li role="presentation">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="settings">Settings</a></li>
              <a href="#?w=500" rel="popup_name1" class="poplight1" role="menuitem" tabindex="-1">SignOut</a></li>
            </ul>
          </div>
        </div>
      </div>-->

      <div class="navbar" style="
      width: 80%;
              margin: 0 auto;
              border-top: 8px solid #CB9326;
      ">
        <div class="navbar-inner">
          <a class="brand" href="allcategories">
            <!-- UNCOMMENT THE CSS VALUES TO TEST OTHER DIMENTIONS -->
            <!-- <img src="http://placehold.it/150x80&text=Logo" alt=""> -->
            <%= image_tag("/assets/adminimg/log.png", :alt => "logo", :style => '') %>
          </a>

          <div id="header" style="width:56%;">App Advertisements</div>
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <div class="nav-collapse collapse" style="width: 35%;float: right;margin-right: -145px;display:block;" id="nav-collapse">
            <ul class="nav">
              <ul class="nav" style="float:right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img alt="setting" src="/assets/adminimg/down_arrow.png" style="">
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="allcategories">Menu Items</a></li>
                    <li><a href="adsubscription">App Advertisements</a></li>
                    <li><a href="settings">Settings</a></li>
                    <li><a href="template">Template</a></li>
                    <li><a href="<%= root_url+"Terms Of Service.pdf" %>" target="_blank">Terms of service</a></li>
                    <li><a href="#?w=500" rel="popup_name1" class="poplight1" role="menuitem" tabindex="-1">SignOut</a>
                    </li>
                  </ul>
                </li>
              </ul>
              <li style="float:right"><a href="#">Admin</a></li>
              <li style="float:right"><a href="#"><img alt="setting" src="/assets/adminimg/user_icon.png" style=""></a>
              </li>
              <li style="float:right">
                <a href="settings"> <img alt="setting" src="/assets/adminimg/setting_icon.png" style=""></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="alert-error" id='errormsg' style="display:none;text-align: left;  clear: both;padding:10px;width:50%;margin: 0 auto;margin-top:20px;"></div>
      <div id="maincontent">
        <p style="clear:both;"></p>

        <div id="PriceDiv" class="PriceDiv">
          <h2>Add Card Details</h2>
          <hr/>
          <form action="/admins/makesubscription" method="POST" id="payment-form" style="margin-top:35px;">
            <div class="alert alert-error" style="display:none;margin-top: -25px;" id="paymenterrors">
              <span class="payment-errors"></span>
            </div>
            <input type="hidden" name="subscriptiontype" id="subscriptiontype" value=""/>
            <input type="hidden" name="totalbill" id="totalbill" value=""/>
            <input type="hidden" name="id" value="<%= current_admin.id %>"/>

            <div class="form-row">
              <label>
                <span style="float: left;">Card Number</span>
                <input type="text" class="input-block-level cardvalidate" size="20" data-stripe="number" maxlength="16" id="cardnum" />
              </label>
            </div>

            <div class="form-row">
              <label>
                <span style="float: left;">CVC</span>
                <input type="text" class="input-block-level cardvalidate" size="4" data-stripe="cvc" maxlength="3" id="cvc" />
              </label>
            </div>

            <div class="form-row">
              <label>
                <span style="float: left;">Expiration (MM/YYYY)</span>
                <input type="text" class="input-block-level cardvalidate" size="2" data-stripe="exp-month" style="
                width: 90px !important;
                        float: left;
                " maxlength="2" id="date"/>
              </label>
    <span style="
    float: left;width: 14px !important;
            margin-left: 15px;
    "> / </span>
              <input type="text" class="input-block-level cardvalidate" size="4" data-stripe="exp-year" style="
              width: 116px !important;
                      float: left;
              " maxlength="4" id="year" />
            </div>

            <button type="submit" class="btn1" style="
            width: 140px;
                    margin-top: 15px;
            ">Pay
            </button>
          </form>
        </div>
      </div>
    </div>

    <div class="text-center muted " id="footer_content">Obron Restaurant Waiter &copy; 2014.</div>
    <!-- ================== BEGIN BASE JS ================== -->
    <script data-turbolinks-track="true" src="/assets/jquery.js?body=1"></script>
    <script data-turbolinks-track="true" src="/assets/jquery_ujs.js?body=1"></script>
    <script data-turbolinks-track="true" src="/assets/application.js?body=1"></script>
    <script data-turbolinks-track="true" src="/assets/admin/bootstrap-dropdown.js"></script>
    <script data-turbolinks-track="true" src="/assets/admin/popup.js"></script>
    <script data-turbolinks-track="true" src="/assets/admin/bootstrap-collapse.js"></script>
    <script data-turbolinks-track="true" src="/assets/admin/jquery.cookie.js"></script>
    <script data-turbolinks-track="true" src="/assets/admin/date-picker.js"></script>
    <script data-turbolinks-track="true" src="/assets/admin/moment.min.js"></script>
    <script>
        $(document).ready(function () {
            if ($.cookie("adtype")) {
                $('#subscriptiontype').val($.cookie("adtype"));
                $('#totalbill').val($.cookie("totalbill"))
                $.removeCookie('totalbill', { path: '/' });
                $.removeCookie('adtype', { path: '/' });

                <% if flash[:paymentsuccessmessage] then %>
                $('#showpopupmsg').trigger('click');
                <% end %>

                setTimeout(function () {
                    $('#paymenterrors').hide();
                }, 3000);
            } else {
                window.location.href = "adsubscription";
            }

        });
    </script>
    <script>
        jQuery(function ($) {
            $('#payment-form').submit(function (event) {
                var $form = $(this);

                // Disable the submit button to prevent repeated clicks
                $form.find('button').prop('disabled', true);

                Stripe.card.createToken($form, stripeResponseHandler);
                // Prevent the form from submitting with the default action
                return false;
            });
        });

        function stripeResponseHandler(status, response) {
            var $form = $('#payment-form');
            if (response.error) {
                // Show the errors on the form
                $form.find('.payment-errors').text(response.error.message);
                $('#paymenterrors').show();
                $form.find('button').prop('disabled', false);
            } else {
                // response contains id and card, which contains additional card details
                var token = response.id;
                // Insert the token into the form so it gets submitted to the server
                $form.append($('<input type="hidden" name="stripeToken" />').val(token));
                // and submit
                $form.get(0).submit();
            }
        }

        //Close Popups and Fade Layer
        $('body').on('click', 'a.close2, #fade', function () {
            //When clicking on the close or fade layer...
            $('#fade , .popup_block').fadeOut(function () {
                        //$('#fade, a.close').remove();  //fade them both out
                    }
            );
            return false;

        });

  /*      function validate() {
            var cardnum = $('#cardnum').val();
            var cvc = $('#cvc').val();
            var date = $('#date').val();
            var year = $('#year').val();
            if (cardnum.length > 0) {
                if ((isNaN(cardnum)) || (cardnum < 0)) {
                    $("#paymenterrors").show();
                    $("#paymenterrors").html('Please enter valid card number.');
                    setTimeout(function () {
                        $('#paymenterrors').hide();
                    }, 3000);

                    return false;
                }
            }
            if (cvc.length > 0) {
                if ((isNaN(cvc)) || (cvc < 0)) {
                    $("#paymenterrors").show();
                    $("#paymenterrors").html('Please enter valid cvc.');
                    setTimeout(function () {
                        $('#paymenterrors').hide();
                    }, 3000);

                    return false;
                }
            }
            if (date.length > 0) {
                if ((isNaN(date)) || (date < 0)) {
                    $("#paymenterrors").show();
                    $("#paymenterrors").html('Please enter valid date.');
                    setTimeout(function () {
                        $('#paymenterrors').hide();
                    }, 3000);

                    return false;
                }
            }
            if (year.length > 0) {
                if ((isNaN(year)) || (year < 0)) {
                    $("#paymenterrors").show();
                    $("#paymenterrors").html('Please enter valid year.');
                    setTimeout(function () {
                        $('#paymenterrors').hide();
                    }, 3000);

                    return false;
                }
            }

        }*/


        $( ".cardvalidate" ).keyup(function() {
            var value= $(this).val();
            if (value.length > 0) {
                if ((isNaN(value)) || (value < 0)) {
                    $("#paymenterrors").show();
                    $("#paymenterrors").html('Please enter only integer values.');
                    setTimeout(function () {
                        $('#paymenterrors').hide();
                    }, 3000);

                    return false;
                }
            }

        });

    </script>
    </body>
    </html>
<% else %>
    <script>
        window.location.href = "/admins/sign_in";
    </script>

<% end %>
