<!DOCTYPE HTML>
<html>
<head>
  <title>Restaurant Waiter app</title>

  <link data-turbolinks-track="true" href="/assets/application.css?body=1" media="all" rel="stylesheet"/>
  <link data-turbolinks-track="true" href="/assets/admin/sessions.css?body=1" media="all" rel="stylesheet"/>
  <link data-turbolinks-track="true" href="/assets/admin/custom.css?body=1" media="all" rel="stylesheet"/>
  <link data-turbolinks-track="true" href="/assets/bootstrap_and_overrides.css?body=1" media="all" rel="stylesheet"/>
  <link data-turbolinks-track="true" href="/assets/admin/popup.css" media="all" rel="stylesheet"/>
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
  <%= csrf_meta_tags %>
  <style>
      #new_password {
          margin-top: 65px;
          margin-left: 30px;
      }

      .input-block-level {
          text-indent: 55px !important;
      }

      #password, #confirmpassword {
          background: url(../../assets/adminimg/login_password_box.png);
      }


  </style>
</head>
<a href="#?w=500" rel="popup_name1" class="poplight1"><input type='hidden' id='showmsg'/></a>

<div id="popup_name1" class="popup_block">
  <h4>Your password has been changed successfully, please login.</h4>
  <a href="../../admins/sign_in">
    <button type="submit" id="resetpassword" class="btn1" style="margin-top:5px;">Login</button>
  </a>

</div>


<body background='../../../assets/adminimg/food_pattern.png' style='background-repeat: no-repeat;background-size: cover;margin: 0;padding: 0;min-height: 500px;'>
<div id="container">

  <div class="form-signin">
    <div class="form-signin-heading"><%= image_tag("/assets/adminimg/log.png", :alt => "logo") %></div>
    <%= form_tag({controller: "passwords", action: "update"}, :method => "Put", multipart: true, :onsubmit => " return validateform();", :style => "margin-top:60px;") do %>
        <div class="alert alert-error" style="display:none" id="errordiv"></div>
        <div>
          <input id="password" type="password" class="form-control input-block-level" placeholder="Password" style="height: 53px !important;"/>
        </div>
        <div>
          <input id="confirmpassword" type="password" class="form-control input-block-level" placeholder="Confirm Password" style="height: 53px !important;"/>
        </div>
        <div><%= submit_tag "Reset Password", :class => "btn1", :style => "/* margin-top: 34px; */width: 155px;margin: 0 auto;margin-left: 85px;" %></div>


    <% end %>

  </div>

</div>
<p class="text-center muted ">Obron Restaurant Waiter &copy; 2014.</p>
<script data-turbolinks-track="true" src="/assets/jquery.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/jquery_ujs.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/application.js?body=1"></script>
<script>
    $('a.poplight1[href^=#]').click(function (event) {
                $('.close1').remove();
                var popID = $(this).attr('rel');
                //Get Popup Name
                var popURL = $(this).attr('href');
                //Get Popup href to define size
                //Pull Query & Variables from href URL
                var query = popURL.split('?');
                var dim = query[1].split('&');
                var popWidth = dim[0].split('=')[1];
                //Gets the first query string value
                //Fade in the Popup and add close button
                $('#' + popID).fadeIn().css({
                            'width': Number(popWidth)}
                ).prepend('');
                //Define margin for center alignment (vertical   horizontal) - we add 80px to the height/width to accomodate for the padding  and border width defined in the css
                var popMargTop = ($('#' + popID).height() + 80) / 2;
                var popMargLeft = ($('#' + popID).width() + 80) / 2;
                //Apply Margin to Popup
                $('#' + popID).css({
                            'margin-top': -popMargTop,
                            'margin-left': -popMargLeft
                        }
                );
                //Fade in Background
                $('body').append('<div id="fade"></div>');
                //Add the fade layer to bottom of the body tag.
                $('#fade').css({'filter': 'alpha(opacity=80)'}
                ).fadeIn();
                //Fade in the fade layer - .css({'filter' : 'alpha(opacity=80)'}) is used to fix the IE Bug on fading transparencies
                return false;

            }
    );
    $(document).ready(function () {
        setTimeout(function () {
            $('#errordiv').hide();
        }, 3000);

        <% if flash[:resetpassword] %>
        $('#showmsg').trigger('click');
        <% end %>
    });
    function validateform() {
        if (($('#password').val()).length == 0 && ($('#confirmpassword').val()).length == 0) {
            $('#errordiv').show();
            $('#errordiv').html("Please fill all the fields.");
            setTimeout(function () {
                $('#errordiv').hide();
            }, 3000);
            return false;
        }
        if (($('#password').val()).length == 0 && ($('#confirmpassword').val()).length != 0) {
            $('#errordiv').show();
            $('#errordiv').html("Please confirm your password.");
            setTimeout(function () {
                $('#errordiv').hide();
            }, 3000);
            return false;
        }
        if (($('#password').val()).length != 0 && ($('#confirmpassword').val()).length == 0) {
            $('#errordiv').html("Password field cannot be blank.");
            $('#errordiv').show();
            setTimeout(function () {
                $('#errordiv').hide();
            }, 3000);
            return false;
        }
        if (($('#password').val()) != ($('#confirmpassword').val())) {
            $('#errordiv').html("Password do not match.");
            $('#errordiv').show();
            setTimeout(function () {
                $('#errordiv').hide();
            }, 3000);
            return false;
        }

    }
</script>

</body>
</html>
