<% if admin_signed_in? then %>
<!DOCTYPE HTML>
    <html>
    <head>
    <title>Restaurant Waiter app</title>
    <link data-turbolinks-track="true" href="/assets/application.css?body=1" media="all" rel="stylesheet"/>
    <link data-turbolinks-track="true" href="/assets/admin/categories.css?body=1" media="all" rel="stylesheet"/>
    <link data-turbolinks-track="true" href="/assets/admin/bootstrap.min.css" media="all" rel="stylesheet"/>
    <link data-turbolinks-track="true" href="/assets/bootstrap_and_overrides.css?body=1" media="all" rel="stylesheet"/>
    <link data-turbolinks-track="true" href="/assets/admin/bootstrap-datetimepicker.min.css" media="all" rel="stylesheet"/>
    <link data-turbolinks-track="true" href="/assets/admin/custom.css?body=1" media="all" rel="stylesheet"/>
    <link data-turbolinks-track="true" href="/assets/admin/popup.css" media="all" rel="stylesheet"/>
    <link data-turbolinks-track="true" href="/assets/admin/bootstrap-fileupload.css" media="all" rel="stylesheet"/>
    <link data-turbolinks-track="true" href="/assets/admin/bootstrap-fileupload.min.css" media="all" rel="stylesheet"/>
    <link data-turbolinks-track="true" href="/assets/admin/pagination.css" media="all" rel="stylesheet"/>
    <%= csrf_meta_tag %>
    <style>
        .btn1 {
            width: 114px;
            height: 38px;
            border-radius: 8px;
            color: #fff;
            font-size: 18px;
            background: url(/assets/adminimg/button_bg.png);
            background-repeat: no-repeat;
            background-size: cover;
            outline: none;
        }

        #opt1 {
            padding: 22px;
            height: 120px;
        }

        #text_opt1 {
            float: left;
        }

        input#hidden_browse_file {
            margin-top: 35px;
            width: 210px;
            /* margin-right: -31px; */
            opacity: 0;
            margin-left: -221px;
            height: 35px;
            cursor: pointer;
        }

        .alert {
            width: 165px;
            margin-left: 33px;
            height: 15px;
            margin-top: 6px;
            display: none;
            color: #000;
            font-size: 14px;
            /* padding: 9px; */
            padding-top: 1px;
        }

        #imagesblock {
            height: 380px;
            width: 900px;
            margin: 0 auto;
            margin-top: 35px;
            background-color: #FBDFAD;
            opacity: 0.5;
            font-size: 18px;
            color: #000;
        }

        #imagesblockhead {
            text-align: center;
            /* margin: 0 auto; */
            /* margin-top: -15px; */
            padding-top: 25px;
            clear: both;
        }

        #imagesblockbody {
            width: 65%;
            margin: 0 auto;
            margin-top: 25px;
        }

        span.browse_file1 {
            height: 28px;
            width: 95px;
            border: 1px solid #ccc;
            background: #ccc;
            border-left: none;
            cursor: pointer;
            padding-top: 2px;
            float: left;
            color: #fff;
            text-align: center;
            font-size: 18px;
        }

        input.hidden_browse_file1 {
            margin-top: 0px;
            width: 85px;
            /* margin-right: -42px; */
            opacity: 0;
            margin-left: -203px;
            height: 35px;
            cursor: pointer;
        }

        .input-block-level.images {
            margin-left: 80px;
            border-radius: 0;
            widtH: 150px;
            float: left;
            height: 32px;
        }

        #footer_content {
            height: 60px;
            padding: 53px;
            width: 622px;
            margin: 0 auto;
            margin-bottom: 70px;
        }

        #categories {
            border: 2px solid #05BA97;
            width: 330px;
            margin: 0 auto;
            height: 42px;
            margin-top: 30px;
            border-radius: 5px;
            clear: both;
        }

        #time_settings {
            float: left;
            border-right: 2px solid #05BA97;
            width: 155px;
            text-align: center;
            padding: 11px;
            cursor: pointer;
            /* margin-top: 0px; */
            font-size: 17px;
            color: #05BA97;
            height: 39px;
        }

        #other_settings {
            float: left;
            /* width: 128px; */
            text-align: center;
            padding: 11px;
            /* margin-top: 0px; */
            font-size: 17px;
            color: #05BA97;
            cursor: pointer;
            height: 32px;
            padding: 10px 0px 0px 7px;
        }

        tr {
            height: 45px;
        }

        th {
            color: #1DCD9E;
            font-weight: 300;
            padding-top: 2%;
        }

        .showaccordian {
            display: none;
        }

        .accordian {
            width: 100%;
        }

        .clickaccordian {
            width: 100%;
            cursor: pointer;
        }

        td {
            opacity: 1;
        }

        hr {
            width: 100%;
            border-top: 1px solid #000;
            border-top: 1px solid #000;
            border: 0;
            border-bottom: 1px solid #000;
        }

        .input-block-level {
            width: 62% !important;
            height: 45px !important;
            float: left;
            margin-bottom: 16px !important;
            border-radius: 0px;
        }

        .editabletext, .editabletext1 {
            /*margin-top: 10px;*/
            /*background: #FBDFAD !important;*/
            /*border: none !important;*/
            text-align: center;
            /*font-size: 18px;*/
        }

        #errordiv {
            width: 40%;
            padding: 10px;
            margin-left: 148px;
            margin-top: 35px;
            margin-bottom: -96px;
        }

        .headings {
            width: 90%;
            float: left;
            margin-bottom: 15px;
        }

        .form-control {

            width: 206px !important;
            height: 35px !important;
            margin-right: -22px !important;
        }

        .form-group {
            padding-left: 80px !important;
            width: 50% !important;
        }
       .glyphicon.glyphicon-calendar {
            content: "\e109";
            /*display:none;*/
        }

        th {
            text-align: center;
        }
        .bootstrap-datetimepicker-widget td span{
            line-height: 20px !important;
            height: 30px !important;
        }
        #nav-collapse{
            width: 35% !important;;float: right !important;margin-top: -32px !important;;
            margin-right: -105px !important;;;display:block !important;;
        }
        @media only screen
        and (max-width: 1050px) {
            #nav-collapse {
                width: 45% !important;
            }

            .headings {
                width: 80%;
            }

        }

        @media only screen
        and (max-width: 970px) {
            div#nav-collapse.collapse {
                margin-right: 0px !important;
            }
        }
        @media only screen
        and (min-width: 1680px) {
            #nav-collapse{
                margin-right:  0px !important;
            }
        }

    </style>

    </head>
    <!--Warning message for signout -->
    <div id="popup_name1" class="popup_block">
      <h4>Are you sure you want to Sign out?</h4>
      <a href="sign_out">
        <%= link_to "Yes", destroy_admin_session_path, method: :delete, :class => 'btn btn-small btn-danger', :style => "margin-top:12px;width:68px;" %>
        <!--<button type="button" class="btn btn-small btn-danger" style="margin-top:12px;width:68px;">Yes</button>-->
      </a>
      <a href="#" class="close2">
        <button type="button" class="btn btn-small" style="margin:12px 0px 0px 5px;width:68px;">No</button>
      </a>
    </div>

    <body background='../../../assets/adminimg/food_pattern.png' style='background-repeat: no-repeat;background-size: cover;margin: 0;padding: 0;min-height: 500px;'>
    <div id="container">
    <!-- <div id='manageoption_header'>
      <div id='logoimg'>
        <a href='allcategories'><%= image_tag("/assets/adminimg/log.png", :alt => "logo", :style => 'margin: 12px 10px 0px 160px;') %></a>
      </div>
      <div id="header">Settings
      </div>
      <div id="settingopt" style="float: left;">
        <a href="settings"><%= image_tag("/assets/adminimg/setting_icon.png", :alt => "setting", :style => 'margin: 32px 10px 0px;float: left;') %></a>
        <%= image_tag("/assets/adminimg/user_icon.png", :alt => "setting", :style => 'margin: 30px 10px 0px;float: left;') %>
        <div id="username" style="float: left;margin-top: 30px;">Admin</div>
        <div class="dropdown" style="
        margin-top: 0px;
                float: left;
        ">
          <button class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" style="background:none;border:none;">
            <%= image_tag("/assets/adminimg/down_arrow.png", :alt => "setting", :style => 'margin: 35px 10px 0px;float: left;') %>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="allcategories">Menu Items</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="adsubscription">App Advertisements</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="settings">Settings</a></li>
            <li role="presentation">
              <a href="#?w=500" rel="popup_name1" class="poplight1" role="menuitem" tabindex="-1">SignOut</a></li>
          </ul>
        </div>
      </div>
    </div>
-->
    <div class="navbar" style="
    width: 80%;
            margin: 0 auto;
            border-top: 8px solid #CB9326;
    ">
      <div class="navbar-inner">
        <a class="brand" href="allcategories">
          <!-- UNCOMMENT THE CSS VALUES TO TEST OTHER DIMENTIONS -->
          <!-- <img src="http://placehold.it/150x80&text=Logo" alt=""> -->
          <%= image_tag("/assets/adminimg/log.png", :alt => "logo", :style => '') %>
        </a>

        <div id="header" style="width:53%;">Settings</div>
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>

        <div class="nav-collapse collapse" style="" id="nav-collapse">
          <ul class="nav">
            <ul class="nav" style="float:right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img alt="setting" src="/assets/adminimg/down_arrow.png" style="">
                </a>
                <ul class="dropdown-menu">
                  <li><a href="allcategories">Menu Items</a></li>
                  <li><a href="adsubscription">App Advertisements</a></li>
                  <li><a href="settings">Settings</a></li>
                  <li><a href="template">Template</a></li>
                  <li><a href="<%= root_url+"Terms Of Service.pdf" %>" target="_blank">Terms of service</a></li>
                  <li><a href="#?w=500" rel="popup_name1" class="poplight1" role="menuitem" tabindex="-1">SignOut</a>
                  </li>
                </ul>
              </li>
            </ul>
            <li style="float:right"><a href="#">Admin</a></li>
            <li style="float:right"><a href="#"><img alt="setting" src="/assets/adminimg/user_icon.png" style=""></a>
            </li>
            <li style="float:right">
              <a href="settings"> <img alt="setting" src="/assets/adminimg/setting_icon.png" style=""></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div id="maincontent" style="width:95%;margin-top:0px;height:65%;background:none;">
    <div id="categories">
      <div id="time_settings" class="altercss">Time Settings</div>
      <div id="other_settings" style="width:159px;">Other Settings</div>
    </div>
    <% if flash[:kitchenTimeUpdated] then %>
        <div class="alert-success" id="errordiv" style="display:block;"><%= flash[:kitchenTimeUpdated] %></div>
    <% end %>

    <% if flash[:barTimeUpdated] then %>
        <div class="alert-success" id="errordiv" style="display:block;"><%= flash[:barTimeUpdated] %></div>
    <% end %>

    <% if flash[:happyhourTimeUpdated] then %>
        <div class="alert-success" id="errordiv" style="display:block;"><%= flash[:happyhourTimeUpdated] %></div>
    <% end %>

    <div id="TimingSettingsDiv" style="display:block;">
    <div class="accordian" id="accordianTiming">
    <table style="width: 76%;margin: 10%;">
    <tr>
    <td>
    <div class="clickaccordian" id="clickaccordianTiming1">
      <div class="alert-error" id="formaterror" style="display:none;padding:10px;margin-bottom:25px;"><%= flash[:happyhourTimeUpdated] %></div>
      <div>
        <div class="headings">Set opening and closing time for kitchen orders
        </div>
        <div style="float: left;margin-bottom:15px;cursor:pointer;" id="editkitchentime"> <%= image_tag("/assets/adminimg/edit_icon_blue.png", :alt => "appetizer", :style => "float:left;margin-top:5px;") %>
          <span class='optionspan' style="margin-left:10px;color: #4A9DE7;font-weight: 300;margin-top:3px;">Edit</span>
        </div>
        <div style="float: right;margin-bottom:15px;">
          <img id='down_up_arrow1' src="/assets/adminimg/down_arrow.png"/></div>
      </div>

    </div>
    <p style="clear:both;border-bottom:1px dotted black;"></p>

    <div class="showaccordian" id="showaccordianTiming1">
      <% if @timings.present? then %>
          <table style="width:75%;margin:5%;text-align:center;border-spacing: 20px 0;background:#FBDFAD;opacity:1.6;padding:2%;margin-left:12%;">
            <tr>
              <th>Days
                <hr>
              </th>
              <th style="padding-left:2%;">Opening Time
                <hr>
              </th>
              <th style="padding-left:2%;">Closing Time
                <hr>
              </th>
            </tr>
            <%= form_tag({controller: "settings", action: "updatekitchentime"}, :method => "Post", :id => "updateform1") do %>
                <input type="hidden" id="offset" value="0" name="offset">
                <% @timings.each do |val| %>
                    <tr>
                      <td><%= val['day_name'] %></td>
                      <td>
                        <div class="form-group">
                          <div class='input-group date datetimepicker1' id='datetimepicker1'>
                            <input type='text' class="form-control editabletext" name="openingtime[]" value="<%= if val['opening_time'].present? then val['opening_time'].strftime("%m/%d/%Y %I:%M %p") end %>" readonly/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar icon-calendar"></span>
                    </span>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                          <div class='input-group date datetimepicker1' id='datetimepicker1'>
                            <input type='text' class="form-control editabletext" name="closingtime[]" value="<%= if val['closing_time'].present? then val['closing_time'].strftime("%m/%d/%Y %I:%M %p") end%>" readonly/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar icon-calendar"></span>
                    </span>
                          </div>
                        </div>
                      </td>
                    </tr>
                <% end %>
            <% end %>
          </table>
      <% else %>
          <table style="width:90%;margin:5%;text-align:center;border-spacing: 20px 0;background:#FBDFAD;opacity:1.6;padding:2%;">
            <tr>
              <th>Days
                <hr>
              </th>
              <th style="padding-left:2%;">Opening Time
                <hr>
              </th>
              <th style="padding-left:2%;">Closing Time
                <hr>
              </th>
            </tr>
            <%= form_tag({controller: "settings", action: "updatekitchentime"}, :method => "Post", :id => "updateform1") do %>
                <input type="hidden" id="offset" value="0" name="offset">
                <tr>
                  <td>Sunday</td>
                  <td>
                    <div class="form-group">
                      <div class='input-group date datetimepicker1' id='datetimepicker1'>
                        <input type='text' class="form-control editabletext" name="openingtime[]" value="" readonly/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar icon-calendar "></span>
                    </span>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <div class='input-group date datetimepicker1' id='datetimepicker1'>
                        <input type='text' class="form-control editabletext" name="closingtime[]" value="" readonly/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar icon-calendar"></span>
                    </span>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Monday</td>
                  <td>
                    <div class="form-group">
                      <div class='input-group date datetimepicker1' id='datetimepicker1'>
                        <input type='text' class="form-control editabletext" name="openingtime[]" value="" readonly/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar icon-calendar"></span>
                    </span>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <div class='input-group date datetimepicker1' id='datetimepicker1'>
                        <input type='text' class="form-control editabletext" name="closingtime[]" value="" readonly/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar icon-calendar"></span>
                    </span>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Tuesday</td>
                  <td>
                    <div class="form-group">
                      <div class='input-group date datetimepicker1' id='datetimepicker1'>
                        <input type='text' class="form-control editabletext" name="openingtime[]" value="" readonly/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar icon-calendar"></span>
                    </span>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <div class='input-group date datetimepicker1' id='datetimepicker1'>
                        <input type='text' class="form-control editabletext" name="closingtime[]" value="" readonly/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar icon-calendar"></span>
                    </span>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Wednesday</td>
                  <td>
                    <div class="form-group">
                      <div class='input-group date datetimepicker1' id='datetimepicker1'>
                        <input type='text' class="form-control editabletext" name="openingtime[]" value="" readonly/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar icon-calendar"></span>
                    </span>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <div class='input-group date datetimepicker1' id='datetimepicker1'>
                        <input type='text' class="form-control editabletext" name="closingtime[]" value="" readonly/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar icon-calendar"></span>
                    </span>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Thursday</td>
                  <td>
                    <div class="form-group">
                      <div class='input-group date datetimepicker1' id='datetimepicker1'>
                        <input type='text' class="form-control editabletext" name="openingtime[]" value="" readonly/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar icon-calendar"></span>
                    </span>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <div class='input-group date datetimepicker1' id='datetimepicker1'>
                        <input type='text' class="form-control editabletext" name="closingtime[]" value="" readonly/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar icon-calendar"></span>
                    </span>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Friday</td>
                  <td>
                    <div class="form-group">
                      <div class='input-group date datetimepicker1' id='datetimepicker1'>
                        <input type='text' class="form-control editabletext" name="openingtime[]" value="" readonly/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar icon-calendar"></span>
                    </span>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <div class='input-group date datetimepicker1' id='datetimepicker1'>
                        <input type='text' class="form-control editabletext" name="closingtime[]" value="" readonly/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar icon-calendar"></span>
                    </span>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Saturday</td>
                  <td>
                    <div class="form-group">
                      <div class='input-group date datetimepicker1' id='datetimepicker1'>
                        <input type='text' class="form-control editabletext" name="openingtime[]" value="" readonly/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar icon-calendar"></span>
                    </span>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <div class='input-group date datetimepicker1' id='datetimepicker1'>
                        <input type='text' class="form-control editabletext" name="closingtime[]" value="" readonly/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar icon-calendar"></span>
                    </span>
                      </div>
                    </div>
                  </td>
                </tr>
            <% end %>
          </table>
      <% end %>
    </div>
    </td>
    </tr>
    <tr>
      <td>
        <div class="clickaccordian" id="clickaccordianTiming2">
          <div>
            <div class="headings">Set opening and closing time for bar orders
            </div>
            <div style="float: left;margin-bottom:15px;cursor:pointer;" id="editbartime"> <%= image_tag("/assets/adminimg/edit_icon_blue.png", :alt => "appetizer", :style => "float:left;margin-top:5px;") %>
              <span class='optionspan' style="margin-left:10px;color: #4A9DE7;font-weight: 300;margin-top:3px;">Edit</span>
            </div>
            <div style="float: right;margin-bottom:15px;">
              <img id="down_up_arrow2" src="/assets/adminimg/down_arrow.png"/></div>
          </div>
        </div>
        <p style="clear:both;border-bottom:1px dotted black;"></p>

        <div class="showaccordian" id="showaccordianTiming2">
          <% if @timings.present? then %>
              <table style="width:90%;margin:5%;text-align:center;border-spacing: 20px 0;background:#FBDFAD;opacity:1.6;padding:2%;">
                <tr>
                  <th>Days
                    <hr>
                  </th>
                  <th style="padding-left:2%;">Opening Time
                    <hr>
                  </th>
                  <th style="padding-left:2%;">Closing Time
                    <hr>
                  </th>
                </tr>
                <%= form_tag({controller: "settings", action: "updatebartime"}, :method => "Post", :id => "updateform2") do %>
                    <input type="hidden" id="offset" value="0" name="offset">
                    <% @timings.each do |val| %>
                        <tr>
                          <td><%= val['day_name'] %></td>
                          <td>
                            <div class="form-group">
                              <div class='input-group date datetimepicker1' id='datetimepicker1'>
                                <input type='text' class="form-control editabletext1" name="baropeningtime[]" value="<%= if val['bar_opening_time'].present? then val['bar_opening_time'].strftime("%m/%d/%Y %I:%M %p") end %>" readonly/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar icon-calendar"></span>
                    </span>
                              </div>
                            </div>
                          </td>
                          <td>
                            <div class="form-group">
                              <div class='input-group date datetimepicker1' id='datetimepicker1'>
                                <input type='text' class="form-control editabletext1" name="barclosingtime[]" value="<%= if val['bar_closing_time'].present? then val['bar_closing_time'].strftime("%m/%d/%Y %I:%M %p") end%>" readonly/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar icon-calendar"></span>
                    </span>
                              </div>
                            </div>
                          </td>
                        </tr>
                    <% end %>
                <% end %>
              </table>
          <% else %>
              <table style="width:90%;margin:5%;text-align:center;border-spacing: 20px 0;background:#FBDFAD;opacity:1.6;padding:2%;">
                <tr>
                  <th>Days
                    <hr>
                  </th>
                  <th style="padding-left:2%;">Opening Time
                    <hr>
                  </th>
                  <th style="padding-left:2%;">Closing Time
                    <hr>
                  </th>
                </tr>
                <%= form_tag({controller: "settings", action: "updatebartime"}, :method => "Post", :id => "updateform2") do %>
                    <input type="hidden" id="offset" value="0" name="offset">
                    <tr>
                      <td>Sunday</td>
                      <td>
                        <div class="form-group">
                          <div class='input-group date datetimepicker1' id='datetimepicker1'>
                            <input type='text' class="form-control editabletext1" name="baropeningtime[]" value="" readonly/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar icon-calendar"></span>
                    </span>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class='input-group date datetimepicker1' id='datetimepicker1'>
                          <input type='text' class="form-control editabletext1" name="barclosingtime[]" value="" readonly/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar icon-calendar"></span>
                    </span>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>Monday</td>
                      <td>
                        <div class="form-group">
                          <div class='input-group date datetimepicker1' id='datetimepicker1'>
                            <input type='text' class="form-control editabletext1" name="baropeningtime[]" value="" readonly/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar icon-calendar"></span>
                    </span>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class='input-group date datetimepicker1' id='datetimepicker1'>
                          <input type='text' class="form-control editabletext1" name="barclosingtime[]" value="" readonly/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar icon-calendar"></span>
                    </span>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>Tuesday</td>
                      <td>
                        <div class="form-group">
                          <div class='input-group date datetimepicker1' id='datetimepicker1'>
                            <input type='text' class="form-control editabletext1" name="baropeningtime[]" value="" readonly/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar icon-calendar"></span>
                    </span>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class='input-group date datetimepicker1' id='datetimepicker1'>
                          <input type='text' class="form-control editabletext1" name="barclosingtime[]" value="" readonly/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar icon-calendar"></span>
                    </span>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>Wednesday</td>
                      <td>
                        <div class="form-group">
                          <div class='input-group date datetimepicker1' id='datetimepicker1'>
                            <input type='text' class="form-control editabletext1" name="baropeningtime[]" value="" readonly/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar icon-calendar"></span>
                    </span>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class='input-group date datetimepicker1' id='datetimepicker1'>
                          <input type='text' class="form-control editabletext1" name="barclosingtime[]" value="" readonly/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar icon-calendar"></span>
                    </span>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>Thursday</td>
                      <td>
                        <div class="form-group">
                          <div class='input-group date datetimepicker1' id='datetimepicker1'>
                            <input type='text' class="form-control editabletext1" name="baropeningtime[]" value="" readonly/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar icon-calendar"></span>
                    </span>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class='input-group date datetimepicker1' id='datetimepicker1'>
                          <input type='text' class="form-control editabletext1" name="barclosingtime[]" value="" readonly/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar icon-calendar"></span>
                    </span>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>Friday</td>
                      <td>
                        <div class="form-group">
                          <div class='input-group date datetimepicker1' id='datetimepicker1'>
                            <input type='text' class="form-control editabletext1" name="baropeningtime[]" value="" readonly/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar icon-calendar"></span>
                    </span>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class='input-group date datetimepicker1' id='datetimepicker1'>
                          <input type='text' class="form-control editabletext1" name="barclosingtime[]" value="" readonly/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar icon-calendar"></span>
                    </span>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>Saturday</td>
                      <td>
                        <div class="form-group">
                          <div class='input-group date datetimepicker1' id='datetimepicker1'>
                            <input type='text' class="form-control editabletext1" name="baropeningtime[]" value="" readonly/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar icon-calendar"></span>
                    </span>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class='input-group date datetimepicker1' id='datetimepicker1'>
                          <input type='text' class="form-control editabletext1" name="barclosingtime[]" value="" readonly/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar icon-calendar"></span>
                    </span>
                        </div>
                      </td>
                    </tr>
                <% end %>
              </table>
          <% end %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="clickaccordian" id="clickaccordianTiming3">
          <div>
            <div class="headings">Set Happy Hours</div>
            <div style="float: left;margin-bottom:15px;" id="edithappyhourtime"> <%= image_tag("/assets/adminimg/edit_icon_blue.png", :alt => "appetizer", :style => "float:left;margin-top:5px;") %>
              <span class='optionspan' style="margin-left:10px;color: #4A9DE7;font-weight: 300;margin-top:3px;">Edit</span>
            </div>
            <div style="float: right;margin-bottom:15px;">
              <img id="down_up_arrow3" src="/assets/adminimg/down_arrow.png"/></div>
          </div>
        </div>
        <p style="clear:both;border-bottom:1px dotted black;"></p>

        <div class="showaccordian" id="showaccordianTiming3">
          <div class="alert-error" id="errordiv_happy_hour" style="display:none;padding: 5px;width: 50%;"></div>
          <%= form_tag({controller: "settings", action: "updatehappyhourtime"}, :method => "Post", :id => "updateform3") do %>
              <input type="hidden" id="offset" value="0" name="offset">
              <table style="width:90%;margin:5%;border-spacing: 20px 0;">
                <tr>
                  <td>Do you wish to have Happy Hours?</td>

                  <% if @ishappyhouravailable[0]['is_happy_hour_available'] ==1 %>
                          <td>
                            <input class="radioHappyHours" type="radio" id="radioHappyHoursYes" name="radioHappyHours" style="float:left;" checked="checked" value="1"/><label style="cursor:pointer;float:left;margin-left:5px;" for="radioHappyHoursYes">Yes</label>
                            <input class="radioHappyHours" name="radioHappyHours" type="radio" id="radioHappyHoursNo" style="float:left;margin-left:100px;" value="0" disabled/>
                            <label style="cursor:pointer;float:left;margin-left:5px;" for="radioHappyHoursNo">No</label>
                          </td>
                  <% elsif @ishappyhouravailable[0]['is_happy_hour_available'] ==0 %>
                          <td>
                            <input class="radioHappyHours" type="radio" id="radioHappyHoursYes" name="radioHappyHours" style="float:left;" value="1"/><label style="cursor:pointer;float:left;margin-left:5px;" for="radioHappyHoursYes" disabled>Yes</label>
                            <input class="radioHappyHours" name="radioHappyHours" type="radio" id="radioHappyHoursNo" style="float:left;margin-left:100px;" checked="checked" value="0"/>
                            <label style="cursor:pointer;float:left;margin-left:5px;" for="radioHappyHoursNo">No</label>
                          </td>
                  <% else %>
                      <td>
                        <input class="radioHappyHours" type="radio" id="radioHappyHoursYes" name="radioHappyHours" style="float:left;" value="1" disabled/><label style="cursor:pointer;float:left;margin-left:5px;" for="radioHappyHoursYes" disabled>Yes</label>
                        <input class="radioHappyHours" name="radioHappyHours" type="radio" id="radioHappyHoursNo" style="float:left;margin-left:100px;" value="0" disabled/>
                        <label style="cursor:pointer;float:left;margin-left:5px;" for="radioHappyHoursNo">No</label>
                      </td>
                  <% end %>
                </tr>
                <tr id="sessionnumrow">
                  <td>How many Happy Hours sessions do you have?</td>
                  <td>
                    <% if @happyhourstimings.present? then %>
                        <input type="text" placeholder="ex: 2" class="category_name form-control" id="sessionnum" value="<%= @happyhourstimings.size %>" readonly/>
                    <% else %>
                        <input type="text" placeholder="ex: 2" class="category_name form-control" id="sessionnum" value="0" readonly/>
                    <% end %>
                  </td>
                </tr>

              </table>
              <table style="width:90%;margin:5%;text-align:center;border-spacing: 20px 0;background:#FBDFAD;opacity:1.6;padding:2%;" id="happyhourtable">
                <tr>
                  <th>Happy Hours Session
                    <hr>
                  </th>
                  <th style="padding-left:2%;">Starting Time
                    <hr>
                  </th>
                  <th style="padding-left:2%;">Ending Time
                    <hr>
                  </th>
                </tr>
                <% if @happyhourstimings.present? then %>

                    <% @happyhourstimings.each do |val| %>
                        <tr>
                          <td><%= val['session_name'] %></td>
                          <td>
                            <input type="hidden" name="id[]" value="<%= val['id'] %>"/>
                            <div class="form-group">
                              <div class='input-group date datetimepicker1' id='datetimepicker1'>
                                <input type='text' class="form-control editabletext2" name="starttime[]" value="<%=if val['start_time'].present? then val['start_time'].strftime("%m/%d/%Y %I:%M %p") end%>" readonly/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar icon-calendar"></span>
                    </span>
                              </div>
                            </div>
                          </td>
                          <td>
                            <div class="form-group">
                              <div class='input-group date datetimepicker1' id='datetimepicker1'>
                                <input type='text' class="form-control editabletext2" name="endtime[]" value="<%= if val['end_time'].present? then val['end_time'].strftime("%m/%d/%Y %I:%M %p") end%>" readonly/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar icon-calendar"></span>
                    </span>
                              </div>
                            </div>
                          </td>
                        </tr>
                    <% end %>

                <% end %>
          <% end %>
          </table>
        </div>
      </td>
    </tr>
    </table>


    </div>
    </div>

    </div>
    </div>

    <div class="text-center muted " id="footer_content">Obron Restaurant Waiter &copy; 2014.</div>
    <!-- ================== BEGIN BASE JS ================== -->
    <script data-turbolinks-track="true" src="/assets/jquery.js?body=1"></script>
    <script data-turbolinks-track="true" src="/assets/jquery_ujs.js?body=1"></script>
    <script data-turbolinks-track="true" src="/assets/application.js?body=1"></script>
    <script data-turbolinks-track="true" src="/assets/admin/bootstrap-fileupload.js"></script>
    <script data-turbolinks-track="true" src="/assets/admin/bootstrap-fileupload.min.js"></script>
    <script data-turbolinks-track="true" src="/assets/admin/jquery.bootpag.js"></script>
    <script data-turbolinks-track="true" src="/assets/admin/bootstrap-dropdown.js"></script>
    <script data-turbolinks-track="true" src="/assets/admin/bootstrap-collapse.js"></script>
    <script data-turbolinks-track="true" src="/assets/admin/popup.js"></script>
    <script data-turbolinks-track="true" src="/assets/admin/moment.js"></script>
    <script data-turbolinks-track="true" src="/assets/admin/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript">
        var dateToday = new Date();
        dateToday.setHours(0,0,0,0);
        $(function () {
            $('.datetimepicker1').datetimepicker({
//                numberOfMonths: 3,
//                showButtonPanel: true,
                minDate: dateToday
            });
        });
    </script>
    <script type="text/javascript">
        var dateToday = new Date();
        dateToday.setHours(0,0,0,0);
        $(function() {
            $('body').on('click','.glyphicon.glyphicon-calendar.icon-calendar', function() {
                $('.datetimepicker1').datetimepicker({
//                    numberOfMonths: 3,
//                    showButtonPanel: true,
                     minDate: dateToday
                });
            });
        });

        $(document).ready(function () {
            <% if @happyhourstimings.present? then %>
            <% if @ishappyhouravailable[0]['is_happy_hour_available'] == 0 %>
            $('#sessionnumrow').hide();
            $('#happyhourtable').hide();
            <% end %><% end %>
            <% if flash[:displayKitchentimings] == 1 %>
            var display = $("#showaccordianTiming1").css("display");
            if (display == "none") {
                $("#showaccordianTiming1").slideToggle("slow");
                $("#clickaccordianTiming1 img#down_up_arrow1").attr("src", up_arrow)
            }
            $("#showaccordianTiming2").slideUp()
            $("#editbartime").html('<%= image_tag("/assets/adminimg/edit_icon_blue.png", :alt => "appetizer", :style => "float:left;margin-top:5px;") %> <span class="optionspan" style="margin-left:10px;color: #4A9DE7;font-weight: 300;margin-top:3px;">Edit</span>');
            $("#edithappyhourtime").html('<%= image_tag("/assets/adminimg/edit_icon_blue.png", :alt => "appetizer", :style => "float:left;margin-top:5px;") %> <span class="optionspan" style="margin-left:10px;color: #4A9DE7;font-weight: 300;margin-top:3px;">Edit</span>');
            $("#showaccordianTiming3").slideUp()
            <% end %>

            <% if flash[:displayBartimings] == 1 %>
            var display = $("#showaccordianTiming2").css("display");
            if (display == "none") {
                $("#showaccordianTiming2").slideToggle("slow");
                $("#clickaccordianTiming2 img#down_up_arrow2").attr("src", up_arrow)

            }
            $("#showaccordianTiming1").slideUp();
            $("#editkitchentime").html('<%= image_tag("/assets/adminimg/edit_icon_blue.png", :alt => "appetizer", :style => "float:left;margin-top:5px;") %> <span class="optionspan" style="margin-left:10px;color: #4A9DE7;font-weight: 300;margin-top:3px;">Edit</span>');
            $("#edithappyhourtime").html('<%= image_tag("/assets/adminimg/edit_icon_blue.png", :alt => "appetizer", :style => "float:left;margin-top:5px;") %> <span class="optionspan" style="margin-left:10px;color: #4A9DE7;font-weight: 300;margin-top:3px;">Edit</span>');
            $("#showaccordianTiming3").slideUp();
            <% end %>

            <% if flash[:displayHappyHourtimings] == 1 %>
            var display = $("#showaccordianTiming3").css("display");
            if (display == "none") {
                $("#showaccordianTiming3").slideToggle("slow");
                $("#clickaccordianTiming3 img#down_up_arrow3").attr("src", up_arrow)
            }
            $("#showaccordianTiming1").slideUp();
            $("#editkitchentime").html('<%= image_tag("/assets/adminimg/edit_icon_blue.png", :alt => "appetizer", :style => "float:left;margin-top:5px;") %> <span class="optionspan" style="margin-left:10px;color: #4A9DE7;font-weight: 300;margin-top:3px;">Edit</span>');
            $("#editbartime").html('<%= image_tag("/assets/adminimg/edit_icon_blue.png", :alt => "appetizer", :style => "float:left;margin-top:5px;") %> <span class="optionspan" style="margin-left:10px;color: #4A9DE7;font-weight: 300;margin-top:3px;">Edit</span>');
            $("#showaccordianTiming2").slideUp();
            <% end %>


            setTimeout(function () {
                $('#errordiv').hide();
            }, 3000);
            //arrow Image Path
            var down_arrow = "/assets/adminimg/down_arrow.png";
            var up_arrow = "/assets/adminimg/up_arrow.png";


            $("#down_up_arrow1").click(function () {
                var display = $("#showaccordianTiming1").css("display");
                if (display == "none") {
                    $("#clickaccordianTiming1 img#down_up_arrow1").attr("src", up_arrow)
                }
                else if (display == "block") {
                    $("#editkitchentime").html('<%= image_tag("/assets/adminimg/edit_icon_blue.png", :alt => "appetizer", :style => "float:left;margin-top:5px;") %> <span class="optionspan" style="margin-left:10px;color: #4A9DE7;font-weight: 300;margin-top:3px;">Edit</span>');
                    $("#clickaccordianTiming1 img#down_up_arrow1").attr("src", down_arrow)

                }
                $("#showaccordianTiming2").slideUp();
                $("#clickaccordianTiming2 img#down_up_arrow2").attr("src", down_arrow)
                $("#showaccordianTiming3").slideUp();
                $("#clickaccordianTiming3 img#down_up_arrow3").attr("src", down_arrow)
                $("#showaccordianTiming1").slideToggle("slow");
            });
            $("#down_up_arrow2").click(function () {
                var display = $("#showaccordianTiming2").css("display");
                if (display == "none") {
                    $("#clickaccordianTiming2 img#down_up_arrow2").attr("src", up_arrow)
                }
                else if (display == "block") {
                    $("#editbartime").html('<%= image_tag("/assets/adminimg/edit_icon_blue.png", :alt => "appetizer", :style => "float:left;margin-top:5px;") %> <span class="optionspan" style="margin-left:10px;color: #4A9DE7;font-weight: 300;margin-top:3px;">Edit</span>');
                    $("#clickaccordianTiming2 img#down_up_arrow2").attr("src", down_arrow)
                }
                $("#showaccordianTiming1").slideUp();
                $("#clickaccordianTiming1 img#down_up_arrow1").attr("src", down_arrow)
                $("#showaccordianTiming3").slideUp();
                $("#clickaccordianTiming3 img#down_up_arrow3").attr("src", down_arrow)
                $("#showaccordianTiming2").slideToggle("slow");
            });
            $("#down_up_arrow3").click(function () {
                var display = $("#showaccordianTiming3").css("display");
                if (display == "none") {
                    $("#clickaccordianTiming3 img#down_up_arrow3").attr("src", up_arrow)
                }
                else if (display == "block") {
                    $("#edithappyhourtime").html('<%= image_tag("/assets/adminimg/edit_icon_blue.png", :alt => "appetizer", :style => "float:left;margin-top:5px;") %> <span class="optionspan" style="margin-left:10px;color: #4A9DE7;font-weight: 300;margin-top:3px;">Edit</span>');
                    $("#clickaccordianTiming3 img#down_up_arrow3").attr("src", down_arrow)
                }
                $("#showaccordianTiming2").slideUp();
                $("#clickaccordianTiming2 img#down_up_arrow2").attr("src", down_arrow)
                $("#showaccordianTiming1").slideUp();
                $("#clickaccordianTiming1 img#down_up_arrow1").attr("src", down_arrow)
                $("#showaccordianTiming3").slideToggle("slow");
            });


            $("#time_settings").click(function () {
                window.location.href = "/admins/settings";
            });
            $("#other_settings").click(function () {
                window.location.href = "/admins/othersettings";
            });
            $("#editkitchentime").click(function () {
                $("#editkitchentime").html('<%= image_tag("/assets/adminimg/save_icon.png", :alt => "appetizer", :style => "float:left;margin-top:5px;") %> <span id="savekitchen" onclick="savetimings(this.id)" class="optionspan" style="margin-left:10px;color: #05BA97;font-weight: 300;margin-top:3px;">Save</span>');
                var display = $("#showaccordianTiming1").css("display");
                if (display == "none") {
                    $("#showaccordianTiming1").slideToggle("slow");
                    $("#clickaccordianTiming1 img#down_up_arrow1").attr("src", up_arrow)
                }
                $("#showaccordianTiming2").slideUp()
                $("#editbartime").html('<%= image_tag("/assets/adminimg/edit_icon_blue.png", :alt => "appetizer", :style => "float:left;margin-top:5px;") %> <span class="optionspan" style="margin-left:10px;color: #4A9DE7;font-weight: 300;margin-top:3px;">Edit</span>');
                $("#edithappyhourtime").html('<%= image_tag("/assets/adminimg/edit_icon_blue.png", :alt => "appetizer", :style => "float:left;margin-top:5px;") %> <span class="optionspan" style="margin-left:10px;color: #4A9DE7;font-weight: 300;margin-top:3px;">Edit</span>');
                $("#showaccordianTiming3").slideUp()
                $('.editabletext').attr('style', 'background: #fff !important');
                //$('.editabletext').prop('readonly', false);
            });


            $("#editbartime").click(function () {
                $("#editbartime").html('<%= image_tag("/assets/adminimg/save_icon.png", :alt => "appetizer", :style => "float:left;margin-top:5px;") %> <span id="savebar" onclick="savetimings(this.id)" class="optionspan" style="margin-left:10px;color: #05BA97;font-weight: 300;margin-top:3px;">Save</span>');
                var display = $("#showaccordianTiming2").css("display");
                if (display == "none") {
                    $("#showaccordianTiming2").slideToggle("slow");
                    $("#clickaccordianTiming2 img#down_up_arrow2").attr("src", up_arrow)

                }
                $("#showaccordianTiming1").slideUp();
                $("#editkitchentime").html('<%= image_tag("/assets/adminimg/edit_icon_blue.png", :alt => "appetizer", :style => "float:left;margin-top:5px;") %> <span class="optionspan" style="margin-left:10px;color: #4A9DE7;font-weight: 300;margin-top:3px;">Edit</span>');
                $("#edithappyhourtime").html('<%= image_tag("/assets/adminimg/edit_icon_blue.png", :alt => "appetizer", :style => "float:left;margin-top:5px;") %> <span class="optionspan" style="margin-left:10px;color: #4A9DE7;font-weight: 300;margin-top:3px;">Edit</span>');
                $("#showaccordianTiming3").slideUp();
                $('.editabletext1').attr('style', 'background: #fff !important');
               // $('.editabletext1').prop('readonly', false);
            });


            $("#edithappyhourtime").click(function () {
                $("#edithappyhourtime").html('<%= image_tag("/assets/adminimg/save_icon.png", :alt => "appetizer", :style => "float:left;margin-top:5px;") %> <span id="savehappyhour" onclick="savetimings(this.id)" class="optionspan" style="margin-left:10px;color: #05BA97;font-weight: 300;margin-top:3px;">Save</span>');
                var display = $("#showaccordianTiming3").css("display");
                if (display == "none") {
                    $("#showaccordianTiming3").slideToggle("slow");
                    $("#clickaccordianTiming3 img#down_up_arrow3").attr("src", up_arrow)
                }
                $("#showaccordianTiming1").slideUp();
                $("#editkitchentime").html('<%= image_tag("/assets/adminimg/edit_icon_blue.png", :alt => "appetizer", :style => "float:left;margin-top:5px;") %> <span class="optionspan" style="margin-left:10px;color: #4A9DE7;font-weight: 300;margin-top:3px;">Edit</span>');
                $("#editbartime").html('<%= image_tag("/assets/adminimg/edit_icon_blue.png", :alt => "appetizer", :style => "float:left;margin-top:5px;") %> <span class="optionspan" style="margin-left:10px;color: #4A9DE7;font-weight: 300;margin-top:3px;">Edit</span>');
                $("#showaccordianTiming2").slideUp();
                $('.editabletext2').attr('style', 'background: #fff !important');
                //$('.editabletext2').prop('readonly', false);
                $('#sessionnum').prop('readonly', false);
                $('.radioHappyHours').prop('disabled', false);
            });


            $("input[name=radioHappyHours]:radio").change(function () {
                happyhourval = $(this).attr('value');
                if (happyhourval == "1") {
                    $('#sessionnum').prop('readonly', false);
                    //$('.editabletext2').prop('readonly', false);
                    $('#sessionnumrow').show();
                    $('#happyhourtable').show();
                } else {
                    $('#sessionnum').prop('readonly', true);
                    $('.editabletext2').prop('readonly', true);
                    $('#sessionnumrow').hide();
                    $('#happyhourtable').hide();
                }
            })

            $("#sessionnum").blur(function () {
                var rowCount = $('#happyhourtable tr').length;
                var numofsessions = rowCount - 1;
                var value = $("#sessionnum").val();
                if ((isNaN(value)) || (value == "") || (value < 0) || (value == 0)) {
                    $("#errordiv_happy_hour").show();
                    $("#errordiv_happy_hour").html('Please enter valid number!!');
                    setTimeout(function () {
                        $('#errordiv_happy_hour').hide();
                    }, 3000);
                    return false;
                } else {
                    if (numofsessions > value && value != 0) {
                        var removerows = numofsessions - value;
                        for (var i = 1; i <= removerows; i++) {
                            $('#happyhourtable tr:last').remove();
                        }
                    } else {
                        var newsession = value - numofsessions;
                        if (numofsessions < 3 && newsession < 3) {
                            var str = '';//'<tr><th>Happy Hours Session<hr> </th><th style="padding-left:2%;">Starting Time <hr></th><th style="padding-left:2%;">Ending Time<hr> </th></tr>';
                            for (var i = 1; i <= newsession; i++) {
                                numofsessions++;
                                str += '<tr><td>Session' + numofsessions + '</td><td>' +
                                        '<input type="hidden" name="id[]" value=""/>' +
                                        '<div class="form-group"><div class="input-group date datetimepicker1" id="datetimepicker1">' +
                                        '<input type="text" class="form-control editabletext2" name="starttime[]" value=""/>'+
                                        '<span class="input-group-addon"><span class="glyphicon glyphicon-calendar icon-calendar"></span> </span></div></div>' +
                                        '</td><td><div class="form-group"><div class="input-group date datetimepicker1" id="datetimepicker1">' +
                                        '<input type="text" class="form-control editabletext2" name="endtime[]" value=""/>' +
                                        '<span class="input-group-addon"><span class="glyphicon glyphicon-calendar icon-calendar"></span> </span></div></div></td>' +
                                        '</tr>';
                            }
                            $("#happyhourtable").append(str);
                        } else {
                            $("#errordiv_happy_hour").show();
                            $("#errordiv_happy_hour").html('There can be only 3 happy hour sessions.');
                            setTimeout(function () {
                                $('#errordiv_happy_hour').hide();
                            }, 3000);
                            return false;
                        }
                    }
                }
            });


//            $('.editabletext').blur(function () {
//                var validTime = $(this).val().match(/^(0?[1-9]|1[012])(:[0-5]\d) [APap][mM]$/);
//                if (!validTime) {
//                    $(this).val('').focus().css('background', '#fdd');
//                    $('#formaterror').html('Please enter time in format HH:MM AM/PM.');
//                    $('#formaterror').show();
//                    $("html, body").animate({scrollTop: 0});
//                    setTimeout(function () {
//                        $('#formaterror').hide();
//                    }, 3000);
//                } else {
//                    $(this).css('background', 'transparent');
//                }
//            });


//            $('.editabletext1').blur(function () {
//                var validTime = $(this).val().match(/^(0?[1-9]|1[012])(:[0-5]\d) [APap][mM]$/);
//                if (!validTime) {
//                    $(this).val('').focus().css('background', '#fdd');
//                    $('#formaterror').html('Please enter time in format HH:MM AM/PM.');
//                    $('#formaterror').show();
//                    $("html, body").animate({scrollTop: 0});
//                    setTimeout(function () {
//                        $('#formaterror').hide();
//                    }, 3000);
//                } else {
//                    $(this).css('background', 'transparent');
//                }
//            });

//            $('.editabletext2').blur(function () {
//                var validTime = $(this).val().match(/^(0?[1-9]|1[012])(:[0-5]\d) [APap][mM]$/);
//                if (!validTime) {
//                    $(this).val('').focus().css('background', '#fdd');
//                    $('#formaterror').html('Please enter time in format HH:MM AM/PM.');
//                    $('#formaterror').show();
//                    $("html, body").animate({scrollTop: 0});
//                    setTimeout(function () {
//                        $('#formaterror').hide();
//                    }, 3000);
//                } else {
//                    $(this).css('background', 'transparent');
//                }
//            });
        });

        //Close Popups and Fade Layer
        $('body').on('click', 'a.close2, #fade', function () {
            //When clicking on the close or fade layer...
            $('#fade , .popup_block').fadeOut(function () {
                        //$('#fade, a.close').remove();  //fade them both out
                        $('.input-block-level').val("");
                        $('#addfooditemdesc').val("");
                    }
            );
            return false;

        });


        //        back-end :   if (time_zone[0]=='-')  # local to utc
        //        min_date=min_date-((time_zone.split('-'))[1]).to_i.minutes
        //        max_date=max_date-((time_zone.split('-'))[1]).to_i.minutes
        //        else
        //        min_date=min_date+((time_zone.split('+'))[1]).to_i.minutes
        //        max_date=max_date+((time_zone.split('+'))[1]).to_i.minutes
        //        end
        //        front-end:   var time_zone=(new Date()).getTimezoneOffset();


        function savetimings(id) {
            var offset = new Date().getTimezoneOffset();
            $('#offset').val(offset);

            if (id == "savekitchen") {
                //$('#updateform1').submit();
                checkallvalues();
            }
            if (id == "savebar") {
                //$('#updateform2').submit();
                checkallvalues1();
            }
            if (id == "savehappyhour") {
                //$('#updateform3').submit();
                checkallvalues2();
            }


        }


        function checkallvalues1() {
            var $allvalues = $('.editabletext1');
            for (i = 0; i < 14; i++) {
                if ($allvalues.eq(i).val() == "" || $allvalues.eq(i).val() == 'HH:MM AM/PM') {
                    $("#formaterror").show();
                    $("#formaterror").html('Some values are missing.');
                    setTimeout(function () {
                                $('#formaterror').hide();
                            }
                            , 3000);
                    return false;
                }
            }
            var baropeningtime = $('input[name="baropeningtime[]"]').map(function(){
                return this.value
            }).get()
            var barclosingtime = $('input[name="barclosingtime[]"]').map(function(){
                return this.value
            }).get()
            for (i = 0; i < baropeningtime.length; i++) {
                var date1 = Date.parse(baropeningtime[i]);
                var date2 = Date.parse(barclosingtime[i]);
                var diffDays = date2 - date1;
                if(diffDays<0){
                    $("#formaterror").show();
                    $("#formaterror").html('Start time must be less than end time.');
                    setTimeout(function () {
                                $('#formaterror').hide();
                            }
                            , 3000);
                    return false;
                }
            }

            $('#updateform2').submit();
        }
        function checkallvalues() {
            var $allvalues = $('.editabletext');
            for (i = 0; i < 14; i++) {
                if ($allvalues.eq(i).val() == "" || $allvalues.eq(i).val() == 'HH:MM AM/PM') {
                    $("#formaterror").show();
                    $("#formaterror").html('Some values are missing.');
                    setTimeout(function () {
                                $('#formaterror').hide();
                            }
                            , 3000);
                    return false;
                }
            }
            var openingvalues = $('input[name="openingtime[]"]').map(function(){
                return this.value
            }).get()
            var closingvalues = $('input[name="closingtime[]"]').map(function(){
                return this.value
            }).get()
            for (i = 0; i < openingvalues.length; i++) {
                var date1 = Date.parse(openingvalues[i]);
                var date2 = Date.parse(closingvalues[i]);
                var diffDays = date2 - date1;
                if(diffDays<0){
                    $("#formaterror").show();
                    $("#formaterror").html('Start time must be less than end time.');
                    setTimeout(function () {
                                $('#formaterror').hide();
                            }
                            , 3000);
                    return false;
                }
            }

            $('#updateform1').submit();
        }

        function checkallvalues2() {
            if ($('input[name=radioHappyHours]:checked').val() == 1) {
                var $allvalues = $('.editabletext2');
                if ($allvalues.length > 0) {
                    for (i = 0; i < $allvalues.length; i++) {
                        if ($allvalues.eq(i).val() == "") {
                            $("#formaterror").show();
                            $("#formaterror").html('Some values are missing.');
                            setTimeout(function () {
                                        $('#formaterror').hide();
                                    }
                                    , 3000);
                            return false;
                        }
                    }

                    var starttime = $('input[name="starttime[]"]').map(function(){
                        return this.value
                    }).get()
                    var endtime = $('input[name="endtime[]"]').map(function(){
                        return this.value
                    }).get()
                    for (i = 0; i < starttime.length; i++) {
                        var date1 = Date.parse(starttime[i]);
                        var date2 = Date.parse(endtime[i]);
                        var diffDays = date2 - date1;
                        if(diffDays<0){
                            $("#formaterror").show();
                            $("#formaterror").html('Start time must be less than end time.');
                            setTimeout(function () {
                                        $('#formaterror').hide();
                                    }
                                    , 3000);
                            return false;
                        }
                    }

                    $('#updateform3').submit();
                } else {
                    $("#formaterror").show();
                    $("#formaterror").html('Please select at least one happy hour session');
                    setTimeout(function () {
                                $('#formaterror').hide();
                            }
                            , 3000);
                    return false;
                }
            } else {
                $('#updateform3').submit();
            }
        }
    </script>
    </body>
    </html>
<% else %>
    <script>
        window.location.href = "/admins/sign_in";
    </script>

<% end %>
